Repository apache/streampipes, pull requests merged in 2022-12, with the labels that each got.

#909 Chore/refactor class hierarchy python client
  streampipes-client-python/Makefile
  streampipes-client-python/streampipes_client/endpoint/data_lake_measure.py
  streampipes-client-python/streampipes_client/model/common.py
  streampipes-client-python/streampipes_client/model/container/data_streams.py
  streampipes-client-python/streampipes_client/model/resource/__init__.py
  streampipes-client-python/streampipes_client/model/resource/data_lake_series.py
  streampipes-client-python/streampipes_client/model/resource/data_stream.py
  streampipes-client-python/streampipes_client/model/resource/resource.py
  streampipes-integration-tests/src/test/java/org/apache/streampipes/integration/containers/PulsarContainer.java
  streampipes-integration-tests/src/test/java/org/apache/streampipes/integration/containers/PulsarDevContainer.java
  ui/cypress/tests/experimental/restartStreamPipes/restartStreamPipes.sh
Labels: python, refactoring, no release note

#911 chore: remove peer dependencies and use postinstall
  .github/dependabot.yml
  ui/README.md
  ui/package-lock.json
  ui/package.json
Labels: dependencies, ui, no release note

#954 Improve handling of Consul env variables (#953)
  archetypes/streampipes-archetype-extensions-jvm/src/main/resources/archetype-resources/Dockerfile
  archetypes/streampipes-archetype-pe-processors-flink/src/main/resources/archetype-resources/Dockerfile
  archetypes/streampipes-archetype-pe-sinks-flink/src/main/resources/archetype-resources/Dockerfile
  streampipes-backend/Dockerfile
  streampipes-commons/src/main/java/org/apache/streampipes/commons/constants/DefaultEnvValues.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/constants/Envs.java
  streampipes-extensions/streampipes-connect-adapters-iiot/Dockerfile
  streampipes-extensions/streampipes-connect-adapters/Dockerfile
  streampipes-extensions/streampipes-extensions-all-iiot/Dockerfile
  streampipes-extensions/streampipes-extensions-all-jvm/Dockerfile
  streampipes-extensions/streampipes-pipeline-elements-all-flink/Dockerfile
  streampipes-extensions/streampipes-pipeline-elements-all-jvm/Dockerfile
  streampipes-extensions/streampipes-sinks-internal-jvm/Dockerfile
  streampipes-extensions/streampipes-sources-watertank-simulator/Dockerfile
  streampipes-service-discovery-consul/src/main/java/org/apache/streampipes/svcdiscovery/consul/ConsulProvider.java
Labels: deprecation, backend

#906 add section about dependency updates to release notes
  .github/release.yml
Labels: documentation, no release note

#907 Add example junit test to archetype extensions-jvm
  archetypes/streampipes-archetype-extensions-jvm/src/main/resources/archetype-resources/pom.xml
  archetypes/streampipes-archetype-extensions-jvm/src/main/resources/archetype-resources/src/test/java/InitTest.java
Labels: java, testing

#960 [#959] Update siddhi version from 5.1.21 to 5.1.26
  pom.xml
Labels: dependencies, java
