Repository apache/streampipes, pull requests merged in 2023-03, with the labels that each got.

#1361 Fix UI container cannot resolve backend IP correctly
  installer/.gitignore
  installer/default.conf
Labels: installer, helm

#1303 #1272 add buffer processors for geo data
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/java/org/apache/streampipes/processors/geo/jvm/GeoJvmInit.java
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/java/org/apache/streampipes/processors/geo/jvm/jts/helper/buffer/BufferSide.java
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/java/org/apache/streampipes/processors/geo/jvm/jts/helper/buffer/CapStyle.java
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/java/org/apache/streampipes/processors/geo/jvm/jts/helper/buffer/JoinStyle.java
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/java/org/apache/streampipes/processors/geo/jvm/jts/helper/buffer/SpBufferBuilder.java
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/java/org/apache/streampipes/processors/geo/jvm/jts/processor/buffergeometry/BufferGeomProcessor.java
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/java/org/apache/streampipes/processors/geo/jvm/jts/processor/bufferpoint/BufferPointProcessor.java
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/resources/org.apache.streampipes.processors.geo.jvm.jts.processor.buffergeometry/documentation.md
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/resources/org.apache.streampipes.processors.geo.jvm.jts.processor.buffergeometry/icon.png
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/resources/org.apache.streampipes.processors.geo.jvm.jts.processor.buffergeometry/strings.en
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/resources/org.apache.streampipes.processors.geo.jvm.jts.processor.bufferpoint/documentation.md
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/resources/org.apache.streampipes.processors.geo.jvm.jts.processor.bufferpoint/icon.png
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/resources/org.apache.streampipes.processors.geo.jvm.jts.processor.bufferpoint/output.png
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/resources/org.apache.streampipes.processors.geo.jvm.jts.processor.bufferpoint/strings.en
Labels: java, pipeline elements, backend, documentation

#1364 chore: fix example code & add disclaimer for doc versioning
  streampipes-client-python/docs/index.md
Labels: documentation

#1320 1307 geometry validation processor
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/java/org/apache/streampipes/processors/geo/jvm/GeoJvmInit.java
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/java/org/apache/streampipes/processors/geo/jvm/jts/exceptions/SpJtsGeoemtryException.java
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/java/org/apache/streampipes/processors/geo/jvm/jts/processor/validation/ValidationOutput.java
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/java/org/apache/streampipes/processors/geo/jvm/jts/processor/validation/ValidationType.java
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/java/org/apache/streampipes/processors/geo/jvm/jts/processor/validation/complex/TopologyValidationProcessor.java
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/java/org/apache/streampipes/processors/geo/jvm/jts/processor/validation/simple/GeometryValidationProcessor.java
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/resources/org.apache.streampipes.processors.geo.jvm.jts.processor.validation.complex/documentation.md
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/resources/org.apache.streampipes.processors.geo.jvm.jts.processor.validation.complex/icon.png
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/resources/org.apache.streampipes.processors.geo.jvm.jts.processor.validation.complex/strings.en
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/resources/org.apache.streampipes.processors.geo.jvm.jts.processor.validation.simple/documentation.md
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/resources/org.apache.streampipes.processors.geo.jvm.jts.processor.validation.simple/icon.png
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/resources/org.apache.streampipes.processors.geo.jvm.jts.processor.validation.simple/strings.en
Labels: java, pipeline elements, backend, documentation

#1384 Add environment variable for manually specifying file storage in back…
  streampipes-commons/src/main/java/org/apache/streampipes/commons/constants/Envs.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/environment/DefaultEnvironment.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/environment/Environment.java
  streampipes-config/src/main/java/org/apache/streampipes/config/backend/BackendConfig.java
Labels: java, backend

#1382 Migrate boolean counter #1366
  streampipes-extensions/streampipes-processors-transformation-jvm/pom.xml
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/TransformationJvmInit.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/processor/booloperator/counter/BooleanCounter.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/processor/booloperator/counter/BooleanCounterController.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/processor/booloperator/counter/BooleanCounterParameters.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/processor/booloperator/counter/BooleanCounterProcessor.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/test/java/org/apache/streampipes/processors/transformation/jvm/processor/booloperator/counter/TestBooleanCounterProcessor.java
Labels: dependencies, java, pipeline elements, backend, testing

#1388 Migrate boolean inverter
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/TransformationJvmInit.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/processor/booloperator/inverter/BooleanInverter.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/processor/booloperator/inverter/BooleanInverterParameters.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/processor/booloperator/inverter/BooleanInverterProcessor.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/test/java/org/apache/streampipes/processors/transformation/jvm/processors/booloperator/inverter/TestBooleanInverterProcessor.java
Labels: java, pipeline elements, backend, testing, no release note

#1386 Remove obsolete features from data explorer module (#1385)
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/DataLakeManagementV4.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/model/Order.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/param/QueryParams.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/param/RetentionPolicyQueryParams.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/query/DataExplorerQuery.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/query/DataExplorerQueryBuilder.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/query/DeleteDataQuery.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/query/EditRetentionPolicyQuery.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/query/ParameterizedDataExplorerQuery.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/query/ShowRetentionPolicyQuery.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/template/QueryTemplates.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/v4/AutoAggregationHandler.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/v4/template/QueryTemplatesV4.java
  streampipes-platform-services/src/main/java/org/apache/streampipes/ps/DataLakeResourceV4.java
Labels: java, backend, breaking change

#1399 1391 data explorer filter doesnt work for boolean and false value
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/v4/params/WhereStatementParams.java
  ui/src/app/data-explorer/components/widget/data-explorer-dashboard-widget.component.ts
  ui/src/app/data-explorer/components/widgets/base/base-data-explorer-widget.directive.ts
  ui/src/app/data-explorer/components/widgets/table/table-widget.component.html
  ui/src/app/data-explorer/components/widgets/table/table-widget.component.ts
  ui/src/app/data-explorer/components/widgets/time-series-chart/time-series-chart-widget.component.ts
Labels: java, ui, backend

#1397 [#1375] add versioning to python docs
  .github/workflows/pypi-deployment.yml
  .github/workflows/python-docs.yml
  streampipes-client-python/mkdocs.yml
  streampipes-client-python/setup.py
Labels: dependencies, python, gh-actions

#1404 #1261 Modified release.yml file to include Python changes to release notes
  .github/release.yml
Labels: gh-actions

#1409 docs: add matomo tracking to python docs
  streampipes-client-python/docs/overrides/partials/integrations/analytics/matomo.html
  streampipes-client-python/mkdocs.yml
Labels: documentation

#1410 miscellaneous improvements for Python docs
  streampipes-client-python/README.md
  streampipes-client-python/docs/examples/1-introduction-to-streampipes-python-client.ipynb
  streampipes-client-python/docs/examples/2-extracting-data-from-the-streampipes-data-lake.ipynb
  streampipes-client-python/docs/examples/3-getting-live-data-from-the-streampipes-data-stream.ipynb
  streampipes-client-python/docs/examples/4-using-online-machine-learning-on-a-streampipes-data-stream.ipynb
  streampipes-client-python/docs/getting-started/first-steps.md
  streampipes-client-python/mkdocs.yml
  streampipes-client-python/setup.py
  streampipes-client-python/streampipes/client/credential_provider.py
  streampipes-client-python/streampipes/endpoint/api/data_lake_measure.py
  streampipes-client-python/streampipes/endpoint/endpoint.py
  streampipes-client-python/streampipes/model/container/resource_container.py
Labels: dependencies, python, documentation

#1408 Add search bar for Python docs
  streampipes-client-python/mkdocs.yml
Labels: documentation

#1419 docs: spring cleaning for Python docs
  streampipes-client-python/.pre-commit-config.yaml
  streampipes-client-python/README.md
  streampipes-client-python/docs/getting-started/developing.md
  streampipes-client-python/docs/getting-started/first-steps.md
  streampipes-client-python/docs/getting-started/quickstart.md
  streampipes-client-python/docs/index.md
  streampipes-client-python/docs/tutorials/1-introduction-to-streampipes-python-client.ipynb
  streampipes-client-python/docs/tutorials/2-extracting-data-from-the-streampipes-data-lake.ipynb
  streampipes-client-python/docs/tutorials/3-getting-live-data-from-the-streampipes-data-stream.ipynb
  streampipes-client-python/docs/tutorials/4-using-online-machine-learning-on-a-streampipes-data-stream.ipynb
  streampipes-client-python/mkdocs.yml
  streampipes-client-python/setup.py
  streampipes-client-python/streampipes/client/client.py
  streampipes-client-python/streampipes/client/config.py
  streampipes-client-python/streampipes/client/credential_provider.py
  streampipes-client-python/streampipes/endpoint/api/data_lake_measure.py
  streampipes-client-python/streampipes/endpoint/api/data_stream.py
  streampipes-client-python/streampipes/endpoint/endpoint.py
  streampipes-client-python/streampipes/function_zoo/river_function.py
  streampipes-client-python/streampipes/functions/broker/broker.py
  streampipes-client-python/streampipes/functions/broker/broker_handler.py
  streampipes-client-python/streampipes/functions/broker/kafka_broker.py
  streampipes-client-python/streampipes/functions/broker/kafka_message_fetcher.py
  streampipes-client-python/streampipes/functions/broker/nats_broker.py
  streampipes-client-python/streampipes/functions/broker/output_collector.py
  streampipes-client-python/streampipes/functions/function_handler.py
  streampipes-client-python/streampipes/functions/registration.py
  streampipes-client-python/streampipes/functions/streampipes_function.py
  streampipes-client-python/streampipes/functions/utils/async_iter_handler.py
  streampipes-client-python/streampipes/functions/utils/data_stream_context.py
  streampipes-client-python/streampipes/functions/utils/data_stream_generator.py
  streampipes-client-python/streampipes/functions/utils/function_context.py
  streampipes-client-python/streampipes/model/common.py
  streampipes-client-python/streampipes/model/container/data_lake_measures.py
  streampipes-client-python/streampipes/model/container/data_streams.py
  streampipes-client-python/streampipes/model/container/resource_container.py
  streampipes-client-python/streampipes/model/resource/data_lake_measure.py
  streampipes-client-python/streampipes/model/resource/data_lake_series.py
  streampipes-client-python/streampipes/model/resource/data_stream.py
  streampipes-client-python/streampipes/model/resource/function_definition.py
  streampipes-client-python/streampipes/model/resource/resource.py
Labels: dependencies, python, documentation

#1428 Maintain the same directory structure for source and test
  streampipes-extensions/streampipes-processors-transformation-jvm/src/test/java/org/apache/streampipes/processors/transformation/jvm/processor/booloperator/inverter/TestBooleanInverterProcessor.java
Labels: java, pipeline elements, backend, testing

#1425 1423 update archetypes
  archetypes/streampipes-archetype-extensions-jvm/src/main/resources/archetype-resources/pom.xml
  archetypes/streampipes-archetype-extensions-jvm/src/main/resources/archetype-resources/src/main/java/Init.java
  archetypes/streampipes-archetype-pe-processors-flink/src/main/resources/archetype-resources/pom.xml
  archetypes/streampipes-archetype-pe-processors-flink/src/main/resources/archetype-resources/src/main/java/Init.java
  archetypes/streampipes-archetype-pe-processors-flink/src/main/resources/archetype-resources/src/main/java/pe/processor/__packageName__/__classNamePrefix__Controller.java
  archetypes/streampipes-archetype-pe-processors-flink/src/main/resources/archetype-resources/src/main/java/pe/processor/__packageName__/__classNamePrefix__Program.java
  archetypes/streampipes-archetype-pe-sinks-flink/src/main/resources/archetype-resources/pom.xml
  archetypes/streampipes-archetype-pe-sinks-flink/src/main/resources/archetype-resources/src/main/java/Init.java
  archetypes/streampipes-archetype-pe-sinks-flink/src/main/resources/archetype-resources/src/main/java/config/Config.java
  archetypes/streampipes-archetype-pe-sinks-flink/src/main/resources/archetype-resources/src/main/java/config/ConfigKeys.java
  archetypes/streampipes-archetype-pe-sinks-flink/src/main/resources/archetype-resources/src/main/java/pe/sink/__packageName__/__classNamePrefix__Controller.java
  archetypes/streampipes-archetype-pe-sinks-flink/src/main/resources/archetype-resources/src/main/java/pe/sink/__packageName__/__classNamePrefix__Program.java
  streampipes-service-base/pom.xml
Labels: dependencies, java

#1433 update archetypes template
  archetypes/streampipes-archetype-extensions-jvm/src/main/resources/archetype-resources/src/main/java/Init.java
  archetypes/streampipes-archetype-extensions-jvm/src/main/resources/archetype-resources/src/main/java/pe/__packageName__/__classNamePrefix__DataProcessor.java
  archetypes/streampipes-archetype-extensions-jvm/src/main/resources/archetype-resources/src/main/java/pe/__packageName__/__classNamePrefix__DataSink.java
Labels: java, no release note

#1440 Fix repeated past data
  ui/src/app/dashboard/components/widgets/raw/raw-config.ts
Labels: ui

#1454 Python docs with dark mode
  streampipes-client-python/docs/img/streampipes-python-dark.png
  streampipes-client-python/docs/index.md
  streampipes-client-python/mkdocs.yml
Labels: documentation

#1441 [#1113] Added buttons to start and stop all adapters
  ui/cypress/support/utils/connect/ConnectBtns.ts
  ui/cypress/support/utils/connect/ConnectUtils.ts
  ui/cypress/tests/adapter/allAdapterActions.smoke.spec.ts
  ui/src/app/connect/components/existing-adapters/existing-adapters.component.html
  ui/src/app/connect/components/existing-adapters/existing-adapters.component.ts
  ui/src/app/connect/connect.module.ts
  ui/src/app/connect/dialog/start-all-adapters/all-adapter-actions-dialog.component.html
  ui/src/app/connect/dialog/start-all-adapters/all-adapter-actions-dialog.component.scss
  ui/src/app/connect/dialog/start-all-adapters/all-adapter-actions-dialog.component.ts
Labels: ui, testing

#1459 [hotfix] Add test for DataLakeQueryBuilder
  streampipes-data-explorer/src/test/java/org/apache/streampipes/dataexplorer/sdk/DataLakeQueryBuilderTest.java
Labels: java, backend, testing, no release note

#1466 Dependabot/maven/org.springframework spring core 6.0.7
  pom.xml
  streampipes-service-core/pom.xml
Labels: dependencies
