Repository apache/streampipes, pull requests merged in 2023-10, with the labels that each got.

#1945 Add configuration hint for Kafka users.
  installer/cli/deploy/standalone/kafka/docker-compose.dev.yml
  installer/compose/docker-compose.full.yml
  installer/compose/docker-compose.yml
  installer/k8s/README.md
  installer/k8s/templates/external/kafka/kafka-deployment.yaml
  installer/k8s/templates/external/kafka/kafka-service.yaml
  installer/k8s/values.yaml
  streampipes-client-python/docs/tutorials/3-getting-live-data-from-the-streampipes-data-stream.ipynb
Labels: installer, documentation, helm

#1981 [#1879] Inject DisplayRecommendedPipe to NaryMappingProperty
  ui/src/app/core-ui/static-properties/static-mapping-nary/static-mapping-nary.component.ts
Labels: ui

#1993 Set default Kafka auto offset explicitly if it is not defined (#1992)
  streampipes-extensions/streampipes-pipeline-elements-shared/src/main/java/org/apache/streampipes/pe/shared/config/kafka/kafka/KafkaConnectUtils.java
Labels: java, pipeline elements, backend

#2012 fix: typo in asset management caption
  ui/src/app/assets/dialog/manage-asset-links/manage-asset-links-dialog.component.html
Labels: ui

#2018 test(#2017): Add cypress test for configuration
  ui/cypress/tests/configuration/labels/general.spec.ts
  ui/cypress/tests/configuration/labels/labels.spec.ts
  ui/src/app/configuration/general-configuration/general-configuration.component.html
  ui/src/app/configuration/label-configuration/edit-label/edit-label.component.html
  ui/src/app/configuration/label-configuration/label-configuration.component.html
Labels: ui, testing

#2022 [#1891] Implement Unit Tests for BooleanFilterProcessor
  streampipes-extensions/streampipes-processors-filters-jvm/pom.xml
  streampipes-extensions/streampipes-processors-filters-jvm/src/test/java/org/apache/streampipes/processors/filters/jvm/processor/booleanfilter/TestBooleanFilterProcessor.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/test/java/org/apache/streampipes/processors/transformation/jvm/processor/value/change/TestChangedValueDetectionProcessor.java
  streampipes-test-utils/pom.xml
  streampipes-test-utils/src/main/java/org/apache/streampipes/test/extensions/api/StoreEventCollector.java
Labels: dependencies, java, pipeline elements, backend, testing

#2023 [#1895]Implement unit tests for pipeline element 'MergeByTimeProcessor'
  streampipes-extensions/streampipes-processors-filters-jvm/src/main/java/org/apache/streampipes/processors/filters/jvm/processor/merge/MergeByTimeProcessor.java
  streampipes-extensions/streampipes-processors-filters-jvm/src/test/java/org/apache/streampipes/processors/filters/jvm/processor/merge/TestMergeByTimeProcessor.java
Labels: java, pipeline elements, backend, testing

#2026 fix(#1670): validate client config and create proper error message
  streampipes-client-python/streampipes/client/client.py
  streampipes-client-python/tests/client/test_client.py
Labels: python, testing

#2024 fix: make data retrieval of IOLink sensor more robust
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/adapters/iolink/IfmAlMqttAdapter.java
Labels: java, connect, backend

#2031 style: Add last message info to adapter overview
  ui/src/app/connect/components/existing-adapters/existing-adapters.component.html
  ui/src/app/connect/components/existing-adapters/existing-adapters.component.scss
  ui/src/app/connect/components/existing-adapters/existing-adapters.component.ts
Labels: enhancement, ui

#2025 [1902] Implement unit tests for pipeline element 'TextFilterProcessor'
  streampipes-extensions/streampipes-processors-filters-jvm/src/main/java/org/apache/streampipes/processors/filters/jvm/processor/textfilter/TextFilterProcessor.java
  streampipes-extensions/streampipes-processors-filters-jvm/src/test/java/org/apache/streampipes/processors/filters/jvm/processor/textfilter/TestTextFilterProcessor.java
Labels: java, pipeline elements, backend, testing

#2039 chore: remove duplicate dependency
  streampipes-model/pom.xml
Labels: dependencies

#2033 feat(#2023): Provide REST endpoint to fetch measurement counts
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/DataExplorerQueryManagement.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/influx/DataLakeMeasurementCount.java
  streampipes-platform-services/src/main/java/org/apache/streampipes/ps/DataLakeMeasureResourceV4.java
  ui/projects/streampipes/platform-services/src/lib/apis/datalake-rest.service.ts
  ui/src/app/configuration/datalake-configuration/datalake-configuration.component.html
  ui/src/app/configuration/datalake-configuration/datalake-configuration.component.ts
Labels: java, ui, backend

#2040 docs: use GitHub admonitions for README
  README.md
Labels: documentation

#2041 refactor: remove references and artifacts for data sets
  streampipes-model/src/main/java/org/apache/streampipes/model/extensions/svcdiscovery/SpServiceTagPrefix.java
  streampipes-service-discovery-api/src/main/java/org/apache/streampipes/svcdiscovery/api/model/SpServicePathPrefix.java
  streampipes-service-discovery-api/src/main/java/org/apache/streampipes/svcdiscovery/api/model/SpServiceUrlProvider.java
  ui/cypress/tests/adapter/editAdapter.smoke.spec.ts
  ui/deployment/_variables.scss
  ui/src/app/add/components/endpoint-item/endpoint-item.component.ts
  ui/src/app/assets/dialog/edit-asset-link/edit-asset-link-dialog.component.html
  ui/src/app/assets/dialog/manage-asset-links/manage-asset-links-dialog.component.html
  ui/src/app/configuration/export/export-dialog/data-export-dialog.component.html
  ui/src/app/configuration/export/import-dialog/data-import-dialog.component.html
  ui/src/app/connect/components/adapter-configuration/schema-editor/error-message/error-message.component.html
  ui/src/app/connect/components/adapter-configuration/schema-editor/event-schema/event-schema.component.scss
  ui/src/app/connect/components/data-marketplace/adapter-description/adapter-description.component.scss
  ui/src/app/connect/components/existing-adapters/existing-adapters.component.scss
  ui/src/app/editor/components/pipeline-element-icon-stand/pipeline-element-icon-stand.component.ts
  ui/src/app/editor/model/editor.model.ts
  ui/src/app/editor/utils/editor.utils.ts
  ui/src/app/services/tour/adapter-tour-2.constants.ts
  ui/src/app/services/tour/adapter-tour-3.constants.ts
  ui/src/app/services/tour/adapter-tour.constants.ts
  ui/src/scss/sp/main.scss
  ui/src/scss/sp/pipeline-element-options.scss
Labels: java, ui, backend, testing

#2062 feat(#2061): Extend maven-assembly-plugin to generate installer zip file
  pom.xml
  streampipes-maven-plugin/pom.xml
  tools/maven/installer.xml
Labels: dependencies

#2065 refactor: rename logger to convention 'LOG'
  streampipes-connect-management/src/main/java/org/apache/streampipes/connect/management/management/WorkerRestClient.java
Labels: java, backend

#2064 refactor: introduce convenience method for service url
  streampipes-model/src/main/java/org/apache/streampipes/model/extensions/svcdiscovery/SpServiceRegistration.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/health/ServiceHealthCheck.java
  streampipes-service-discovery/src/main/java/org/apache/streampipes/svcdiscovery/SpServiceDiscoveryCore.java
Labels: java, backend

#2071 refactor:minor adaption & improvement
  streampipes-connect-management/src/main/java/org/apache/streampipes/connect/management/management/WorkerAdministrationManagement.java
  streampipes-model/src/main/java/org/apache/streampipes/model/message/Notification.java
Labels: java, backend, no release note

#2079 modified tests
  ui/cypress/support/utils/ConnectEventSchemaUtils.ts
  ui/cypress/support/utils/connect/ConnectUtils.ts
  ui/cypress/tests/adapter/editAdapter.smoke.spec.ts
  ui/cypress/tests/adapter/editAdapterWithPipeline.smoke.spec.ts
  ui/cypress/tests/adapter/randomDataSimulatorStream.ts
  ui/src/app/connect/components/adapter-configuration/schema-editor/schema-editor-header/schema-editor-header.component.html
Labels: ui, testing

#2068 refactor: Make interactive tutorial work again
  ui/cypress/tests/userManagement/addUserAdmin.smoke.spec.ts
  ui/src/app/connect/components/adapter-configuration/adapter-settings/adapter-settings.component.html
  ui/src/app/connect/components/adapter-configuration/schema-editor/event-property-row/event-property-row.component.ts
  ui/src/app/connect/components/adapter-configuration/schema-editor/event-schema-preview/event-schema-preview.component.html
  ui/src/app/connect/components/adapter-configuration/start-adapter-configuration/start-adapter-configuration.component.html
  ui/src/app/connect/components/adapter-configuration/start-adapter-configuration/start-adapter-configuration.component.ts
  ui/src/app/connect/components/data-marketplace/data-marketplace.component.html
  ui/src/app/connect/components/data-marketplace/data-marketplace.component.ts
  ui/src/app/connect/components/existing-adapters/existing-adapters.component.html
  ui/src/app/connect/components/existing-adapters/existing-adapters.component.ts
  ui/src/app/connect/dialog/edit-event-property/components/edit-schema-transformation/edit-schema-transformation.component.html
  ui/src/app/connect/dialog/edit-event-property/components/edit-schema-transformation/edit-schema-transformation.component.ts
  ui/src/app/connect/dialog/edit-event-property/edit-event-property.component.ts
  ui/src/app/editor/components/pipeline-element-icon-stand-row/pipeline-element-icon-stand-row.component.html
  ui/src/app/editor/components/pipeline-element-icon-stand/pipeline-element-icon-stand.component.html
  ui/src/app/editor/components/pipeline-element-icon-stand/pipeline-element-icon-stand.component.ts
  ui/src/app/editor/editor.component.html
  ui/src/app/editor/editor.component.ts
  ui/src/app/editor/editor.module.ts
  ui/src/app/home/components/status.component.html
  ui/src/app/home/components/status.component.ts
  ui/src/app/home/dialog/welcome-tour/welcome-tour.component.html
  ui/src/app/home/dialog/welcome-tour/welcome-tour.component.scss
  ui/src/app/home/dialog/welcome-tour/welcome-tour.component.ts
  ui/src/app/home/home.component.html
  ui/src/app/home/home.component.ts
  ui/src/app/home/home.module.ts
  ui/src/app/pipelines/pipelines.component.html
  ui/src/app/pipelines/pipelines.component.ts
  ui/src/app/services/services.module.ts
  ui/src/app/services/tour/adapter-tour-2.constants.ts
  ui/src/app/services/tour/adapter-tour-3.constants.ts
  ui/src/app/services/tour/adapter-tour.constants.ts
  ui/src/app/services/tour/create-pipeline-tour.constants.ts
  ui/src/app/services/tour/shepherd.service.ts
  ui/src/app/services/tour/tour-provider.service.ts
  ui/src/scss/sp/shepherd-new.scss
Labels: ui, testing

#2076 improve archetypes for adapter tutorial
  archetypes/streampipes-archetype-extensions-jvm/src/main/resources/archetype-resources/src/main/java/pe/__packageName__/__classNamePrefix__GenericAdapter.java
  archetypes/streampipes-archetype-extensions-jvm/src/main/resources/archetype-resources/src/main/java/pe/__packageName__/__classNamePrefix__SpecificAdapter.java
  streampipes-vocabulary/src/main/java/org/apache/streampipes/vocabulary/SO.java
Labels: java, backend, no release note

#2083 Fix settings of maven-assembly-plugin
  pom.xml
Labels: dependencies

#2100 fix(grammatical): correct typos and improve grammar
  README.md
Labels: documentation

#2089 refactor(#2088): Remove module streampipes-logging
  pom.xml
  streampipes-extensions/streampipes-connectors-influx/pom.xml
  streampipes-extensions/streampipes-connectors-influx/src/main/java/org/apache/streampipes/extensions/connectors/influx/sink/InfluxDbSink.java
  streampipes-extensions/streampipes-pipeline-elements-experimental-flink/src/main/java/org/apache/streampipes/pe/flink/processor/urldereferencing/UrlDereferencing.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/processor/booloperator/inverter/BooleanInverterProcessor.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/processor/stringoperator/counter/StringCounterProcessor.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/processor/stringoperator/state/StringToStateProcessor.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/processor/stringoperator/timer/StringTimerProcessor.java
  streampipes-extensions/streampipes-sinks-databases-jvm/src/main/java/org/apache/streampipes/sinks/databases/jvm/jdbcclient/JdbcClient.java
  streampipes-extensions/streampipes-sinks-databases-jvm/src/main/java/org/apache/streampipes/sinks/databases/jvm/postgresql/PostgreSql.java
  streampipes-logging/pom.xml
  streampipes-logging/src/main/java/org/apache/streampipes/logging/LoggerFactory.java
  streampipes-logging/src/main/java/org/apache/streampipes/logging/api/Logger.java
  streampipes-logging/src/main/java/org/apache/streampipes/logging/impl/EventStatisticLogger.java
  streampipes-logging/src/main/java/org/apache/streampipes/logging/impl/PeLogger.java
  streampipes-logging/src/main/java/org/apache/streampipes/logging/model/Log.java
  streampipes-logging/src/main/java/org/apache/streampipes/logging/model/LogRequest.java
  streampipes-model/pom.xml
  streampipes-model/src/main/java/org/apache/streampipes/model/base/InvocableStreamPipesEntity.java
  streampipes-service-discovery-consul/pom.xml
  streampipes-wrapper-flink/src/main/java/org/apache/streampipes/wrapper/flink/logger/StatisticLogger.java
  streampipes-wrapper-kafka-streams/src/main/java/org/apache/streampipes/wrapper/kafka/converter/JsonToMapFormat.java
Labels: dependencies, java, pipeline elements, backend

#2070 [#1936] Adapter Deletion: Show the Names of All Pipelines Using the Adapter and Allow One Click Deletion
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/connect/AdapterResource.java
  ui/projects/streampipes/platform-services/src/lib/apis/adapter.service.ts
  ui/src/app/connect/dialog/delete-adapter-dialog/delete-adapter-dialog.component.html
  ui/src/app/connect/dialog/delete-adapter-dialog/delete-adapter-dialog.component.ts
Labels: java, ui, backend

#1955 Introduce Quickstart deployment mode
  installer/compose/README.md
  installer/compose/docker-compose.quickstart.yml
  installer/compose/quickstart/Dockerfile
  installer/compose/quickstart/upload.sh
  installer/compose/quickstart/zip_folder/Example Asset - Smart Factory Monitoring and Analysis.zip
  tools/maven/installer.xml
Labels: installer, documentation

#2099 refactor(#2092): Use HttpStatus in stead of plain strings
  streampipes-client/src/main/java/org/apache/streampipes/client/api/AbstractClientApi.java
  streampipes-client/src/main/java/org/apache/streampipes/client/api/AbstractTypedClientApi.java
  streampipes-client/src/main/java/org/apache/streampipes/client/http/HttpRequest.java
  streampipes-connect-management/src/main/java/org/apache/streampipes/connect/management/management/WorkerRestClient.java
  streampipes-extensions/streampipes-connect-adapters/src/main/java/org/apache/streampipes/connect/adapters/netio/NetioRestAdapter.java
  streampipes-extensions/streampipes-connect-adapters/src/test/java/org/apache/streampipes/connect/adapters/PullAdapterTest.java
  streampipes-extensions/streampipes-connect-adapters/src/test/java/org/apache/streampipes/connect/adapters/generic/protocol/stream/HttpProtocolTest.java
  streampipes-integration-tests/pom.xml
  streampipes-integration-tests/src/test/java/org/apache/streampipes/integration/containers/PulsarContainer.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/health/ServiceHealthCheck.java
  streampipes-rest-extensions/src/main/java/org/apache/streampipes/rest/extensions/AbstractExtensionsResource.java
  streampipes-rest-extensions/src/main/java/org/apache/streampipes/rest/extensions/AbstractPipelineElementResource.java
  streampipes-rest-extensions/src/main/java/org/apache/streampipes/rest/extensions/connect/HttpServerAdapterResource.java
  streampipes-rest-extensions/src/main/java/org/apache/streampipes/rest/extensions/connect/RuntimeResolvableResource.java
  streampipes-rest-extensions/src/main/java/org/apache/streampipes/rest/extensions/pe/DataStreamPipelineElementResource.java
  streampipes-rest-extensions/src/main/java/org/apache/streampipes/rest/extensions/pe/InvocablePipelineElementResource.java
  streampipes-rest-shared/pom.xml
  streampipes-rest-shared/src/main/java/org/apache/streampipes/rest/shared/impl/AbstractSharedRestInterface.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/UserResource.java
  streampipes-service-base/src/main/java/org/apache/streampipes/service/base/rest/ServiceHealthResource.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/utils/CouchDbViewGenerator.java
Labels: dependencies, java, connect, backend, testing
