Repository apache/streampipes, pull requests merged in 2023-09, with the labels that each got.

#1858 [#1688] implement new round processor
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/TransformationJvmInit.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/processor/round/RoundProcessor.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/resources/org.apache.streampipes.processors.transformation.jvm.round/documentation.md
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/resources/org.apache.streampipes.processors.transformation.jvm.round/icon.png
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/resources/org.apache.streampipes.processors.transformation.jvm.round/strings.en
Labels: java, pipeline elements, backend, documentation

#1870 remove resources of legacy pipeline element 'cusum'
  streampipes-extensions/streampipes-processors-change-detection-jvm/src/main/resources/org.apache.streampipes.processors.changedetection.jvm.cusum/documentation.md
  streampipes-extensions/streampipes-processors-change-detection-jvm/src/main/resources/org.apache.streampipes.processors.changedetection.jvm.cusum/icon.png
  streampipes-extensions/streampipes-processors-change-detection-jvm/src/main/resources/org.apache.streampipes.processors.changedetection.jvm.cusum/strings.en
Labels: pipeline elements, documentation, no release note

#1883 Updating CLI Documentation
  installer/cli/README.md
Labels: installer, documentation

#1857 Improve data explorer widgets
  ui/deployment/appng5.module.mst
  ui/package-lock.json
  ui/package.json
  ui/src/app/core-ui/echarts-transform/histogram.transform.ts
  ui/src/app/core-ui/echarts-transform/round-values.transform.ts
  ui/src/app/core-ui/echarts-transform/value-distribution.transform.ts
  ui/src/app/data-explorer/components/designer-panel/visualisation-settings/data-explorer-visualisation-settings.component.ts
  ui/src/app/data-explorer/components/time-selector/timeRangeSelector.component.html
  ui/src/app/data-explorer/components/widgets/base/base-data-explorer-echarts-widget.directive.ts
  ui/src/app/data-explorer/components/widgets/base/base-data-explorer-widget.directive.ts
  ui/src/app/data-explorer/components/widgets/base/echarts-widget.component.html
  ui/src/app/data-explorer/components/widgets/base/echarts-widget.component.scss
  ui/src/app/data-explorer/components/widgets/correlation-chart/config/correlation-chart-widget-config.component.scss
  ui/src/app/data-explorer/components/widgets/correlation-chart/config/correlation-chart-widget-config.component.ts
  ui/src/app/data-explorer/components/widgets/correlation-chart/correlation-chart-widget.component.html
  ui/src/app/data-explorer/components/widgets/correlation-chart/correlation-chart-widget.component.ts
  ui/src/app/data-explorer/components/widgets/distribution-chart/config/distribution-chart-widget-config.component.html
  ui/src/app/data-explorer/components/widgets/distribution-chart/config/distribution-chart-widget-config.component.scss
  ui/src/app/data-explorer/components/widgets/distribution-chart/config/distribution-chart-widget-config.component.ts
  ui/src/app/data-explorer/components/widgets/distribution-chart/distribution-chart-widget.component.ts
  ui/src/app/data-explorer/components/widgets/distribution-chart/model/distribution-chart-widget.model.ts
  ui/src/app/data-explorer/components/widgets/distribution-chart/value-heatmap/value-heatmap.component.html
  ui/src/app/data-explorer/components/widgets/distribution-chart/value-heatmap/value-heatmap.component.scss
  ui/src/app/data-explorer/components/widgets/distribution-chart/value-heatmap/value-heatmap.component.ts
  ui/src/app/data-explorer/components/widgets/heatmap/config/heatmap-widget-config.component.scss
  ui/src/app/data-explorer/components/widgets/heatmap/config/heatmap-widget-config.component.ts
  ui/src/app/data-explorer/components/widgets/heatmap/heatmap-widget.component.html
  ui/src/app/data-explorer/components/widgets/heatmap/heatmap-widget.component.scss
  ui/src/app/data-explorer/components/widgets/heatmap/heatmap-widget.component.ts
  ui/src/app/data-explorer/components/widgets/indicator/config/indicator-chart-widget-config.component.scss
  ui/src/app/data-explorer/components/widgets/indicator/config/indicator-chart-widget-config.component.ts
  ui/src/app/data-explorer/components/widgets/indicator/indicator-chart-widget.component.scss
  ui/src/app/data-explorer/components/widgets/indicator/indicator-chart-widget.component.ts
  ui/src/app/data-explorer/components/widgets/map/config/map-widget-config.component.scss
  ui/src/app/data-explorer/components/widgets/map/config/map-widget-config.component.ts
  ui/src/app/data-explorer/components/widgets/time-series-chart/config/time-series-chart-widget-config.component.scss
  ui/src/app/data-explorer/components/widgets/time-series-chart/config/time-series-chart-widget-config.component.ts
  ui/src/app/data-explorer/components/widgets/time-series-chart/time-series-chart-widget.component.html
  ui/src/app/data-explorer/components/widgets/time-series-chart/time-series-chart-widget.component.ts
  ui/src/app/data-explorer/data-explorer.module.ts
  ui/src/app/data-explorer/echarts-renderer/sp-base-echarts-renderer.ts
  ui/src/app/data-explorer/echarts-renderer/sp-base-single-field-echarts-renderer.ts
  ui/src/app/data-explorer/echarts-renderer/sp-heatmap-renderer.ts
  ui/src/app/data-explorer/echarts-renderer/sp-histogram-renderer.ts
  ui/src/app/data-explorer/echarts-renderer/sp-pie-renderer.ts
  ui/src/app/data-explorer/echarts-renderer/sp-value-heatmap-renderer.ts
  ui/src/app/data-explorer/models/dataset.model.ts
  ui/src/app/data-explorer/models/dataview-dashboard.model.ts
  ui/src/app/data-explorer/registry/data-explorer-widget-registry.ts
  ui/src/app/data-explorer/registry/data-explorer-widgets.ts
Labels: dependencies, ui

#1907 Refactor streampipes-maven-plugin to auto-generate docs
  .github/workflows/extensions-docs.yml
  streampipes-extensions/streampipes-extensions-all-jvm/pom.xml
  streampipes-maven-plugin/README.md
  streampipes-maven-plugin/pom.xml
  streampipes-maven-plugin/src/main/java/org/apache/streampipes/smp/CreateAssetMojo.java
  streampipes-maven-plugin/src/main/java/org/apache/streampipes/smp/ExtractDocumentationMojo.java
  streampipes-maven-plugin/src/main/java/org/apache/streampipes/smp/extractor/AssetModelItemExtractor.java
  streampipes-maven-plugin/src/main/java/org/apache/streampipes/smp/extractor/ControllerExtractor.java
  streampipes-maven-plugin/src/main/java/org/apache/streampipes/smp/extractor/ControllerFileFinder.java
  streampipes-maven-plugin/src/main/java/org/apache/streampipes/smp/extractor/DockerImageExtractor.java
  streampipes-maven-plugin/src/main/java/org/apache/streampipes/smp/extractor/ElementFinder.java
  streampipes-maven-plugin/src/main/java/org/apache/streampipes/smp/extractor/ExtensionsFinder.java
  streampipes-maven-plugin/src/main/java/org/apache/streampipes/smp/extractor/FieldReplacer.java
  streampipes-maven-plugin/src/main/java/org/apache/streampipes/smp/extractor/LocalesExtractor.java
  streampipes-maven-plugin/src/main/java/org/apache/streampipes/smp/extractor/PipelineElementTypeExtractor.java
  streampipes-maven-plugin/src/main/java/org/apache/streampipes/smp/extractor/ResourceDirectoryElementFinder.java
  streampipes-maven-plugin/src/main/java/org/apache/streampipes/smp/generator/AdditionalAssetsResourceGenerator.java
  streampipes-maven-plugin/src/main/java/org/apache/streampipes/smp/generator/AssetGenerator.java
  streampipes-maven-plugin/src/main/java/org/apache/streampipes/smp/generator/DataJsonGenerator.java
  streampipes-maven-plugin/src/main/java/org/apache/streampipes/smp/generator/DocumentationResourceGenerator.java
  streampipes-maven-plugin/src/main/java/org/apache/streampipes/smp/generator/IconResourceGenerator.java
  streampipes-maven-plugin/src/main/java/org/apache/streampipes/smp/generator/ImagePathReplacer.java
  streampipes-maven-plugin/src/main/java/org/apache/streampipes/smp/generator/OutputGenerator.java
  streampipes-maven-plugin/src/main/java/org/apache/streampipes/smp/generator/PipelineElementGridGenerator.java
  streampipes-maven-plugin/src/main/java/org/apache/streampipes/smp/generator/PipelineElementOverviewGenerator.java
  streampipes-maven-plugin/src/main/java/org/apache/streampipes/smp/generator/ResourceGenerator.java
  streampipes-maven-plugin/src/main/java/org/apache/streampipes/smp/generator/SidebarConfigGenerator.java
  streampipes-maven-plugin/src/main/java/org/apache/streampipes/smp/model/AssetModel.java
  streampipes-maven-plugin/src/test/java/org/apache/streampipes/smp/extractor/TestAssetModelExtractor.java
  streampipes-maven-plugin/src/test/java/org/apache/streampipes/smp/generator/TestPipelineElementOverviewGenerator.java
Labels: dependencies, java, backend, documentation, testing, gh-actions

#1914 Add documentation for S7 and Modbus adapters
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/resources/org.apache.streampipes.connect.iiot.adapters.plc4x.modbus/documentation.md
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/resources/org.apache.streampipes.connect.iiot.adapters.plc4x.s7/documentation.md
Labels: connect, documentation

#1912 Remove python wrapper
  pom.xml
  streampipes-wrapper-python/README.md
  streampipes-wrapper-python/build-distribution.sh
  streampipes-wrapper-python/pom.xml
  streampipes-wrapper-python/requirements.txt
  streampipes-wrapper-python/setup.py
  streampipes-wrapper-python/streampipes/__init__.py
  streampipes-wrapper-python/streampipes/api/__init__.py
  streampipes-wrapper-python/streampipes/api/resources/__init__.py
  streampipes-wrapper-python/streampipes/api/resources/base.py
  streampipes-wrapper-python/streampipes/api/resources/dummy.py
  streampipes-wrapper-python/streampipes/api/resources/processor.py
  streampipes-wrapper-python/streampipes/api/resources/welcome.py
  streampipes-wrapper-python/streampipes/api/rest.py
  streampipes-wrapper-python/streampipes/api/templates/index.html
  streampipes-wrapper-python/streampipes/base/__init__.py
  streampipes-wrapper-python/streampipes/base/banner.py
  streampipes-wrapper-python/streampipes/core.py
  streampipes-wrapper-python/streampipes/declarer.py
  streampipes-wrapper-python/streampipes/instances.py
  streampipes-wrapper-python/streampipes/manager.py
  streampipes-wrapper-python/streampipes/model/__init__.py
  streampipes-wrapper-python/streampipes/model/base/__init__.py
  streampipes-wrapper-python/streampipes/model/base/abstract_streampipes_entity.py
  streampipes-wrapper-python/streampipes/model/base/consumable_streampipes_entity.py
  streampipes-wrapper-python/streampipes/model/base/named_streampipes_entity.py
  streampipes-wrapper-python/streampipes/model/base/unnamed_streampipes_entity.py
  streampipes-wrapper-python/streampipes/model/config_item.py
  streampipes-wrapper-python/streampipes/model/graph/__init__.py
  streampipes-wrapper-python/streampipes/model/graph/data_processor_description.py
  streampipes-wrapper-python/streampipes/model/pipeline_element_config.py
  streampipes-wrapper-python/streampipes/model/staticproperty/__init__.py
  streampipes-wrapper-python/streampipes/model/staticproperty/free_text_StaticProperty.py
  streampipes-wrapper-python/streampipes/model/staticproperty/static_property.py
  streampipes-wrapper-python/streampipes/model/staticproperty/static_property_visitor.py
  streampipes-wrapper-python/streampipes/submitter.py
  streampipes-wrapper-python/streampipes/utils/__init__.py
  streampipes-wrapper-python/streampipes/utils/register.py
Labels: dependencies, python, documentation, breaking change

#1935 Improve dialog in StreamPipes connect (#1934)
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/template/PipelineTemplateGenerator.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/PipelineTemplate.java
  ui/src/app/connect/components/adapter-configuration/adapter-settings/adapter-settings.component.html
  ui/src/app/connect/dialog/adapter-started/adapter-started-dialog.component.html
  ui/src/app/connect/dialog/adapter-started/adapter-started-dialog.component.scss
  ui/src/app/connect/dialog/adapter-started/adapter-started-dialog.component.ts
  ui/src/app/core-ui/static-properties/static-runtime-resolvable-tree-input/static-tree-input.component.html
Labels: java, ui, backend

#1932 ci: adapt pr labeling config to Poetry
  .github/pr-labeler-config.yml
Labels: gh-actions

#1918 Improve and centralize HTTP requests to extensions
  streampipes-commons/src/main/java/org/apache/streampipes/commons/constants/Envs.java
  streampipes-connect-management/src/main/java/org/apache/streampipes/connect/management/health/AdapterHealthCheck.java
  streampipes-connect-management/src/main/java/org/apache/streampipes/connect/management/management/GuessManagement.java
  streampipes-connect-management/src/main/java/org/apache/streampipes/connect/management/management/SourcesManagement.java
  streampipes-connect-management/src/main/java/org/apache/streampipes/connect/management/management/WorkerRestClient.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/endpoint/EndpointFetcher.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/endpoint/EndpointItemFetcher.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/execution/ExtensionServiceExecutions.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/health/PipelineElementEndpointHealthCheck.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/health/ServiceHealthCheck.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/monitoring/pipeline/ExtensionsServiceLogExecutor.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/remote/ContainerProvidedOptionsHandler.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/setup/ExtensionsInstallationTask.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/setup/PipelineElementInstallationStep.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/setup/StreamPipesEnvChecker.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/util/AuthTokenUtils.java
  streampipes-service-discovery/src/main/java/org/apache/streampipes/svcdiscovery/SpServiceDiscoveryCore.java
  streampipes-service-extensions/src/main/java/org/apache/streampipes/service/extensions/security/UnauthenticatedInterfaces.java
Labels: java, backend

#1939 refactor: replace random password generation logic
  streampipes-storage-couchdb/pom.xml
  streampipes-user-management/src/main/java/org/apache/streampipes/user/management/util/PasswordUtil.java
  streampipes-user-management/src/test/java/org/apache/streampipes/user/management/util/TestPasswordUtil.java
Labels: dependencies, java, backend, testing

#1927 Add environment variables and auto-generate secrets in k8s deployment…
  installer/k8s/README.md
  installer/k8s/templates/core/backend-deployment.yaml
  installer/k8s/templates/core/extensions-all-iiot-deployment.yaml
  installer/k8s/templates/core/extensions-all-iiot-service.yaml
  installer/k8s/templates/core/secrets.yaml
  installer/k8s/templates/external/couchdb/couchdb-deployment.yaml
  installer/k8s/templates/external/influxdb/influxdb-deployment.yaml
  installer/k8s/values.yaml
Labels: installer, documentation, helm

#1941 fix(#1938): fix datetime representation in Data Explorer
  ui/src/app/data-explorer/data-explorer.module.ts
Labels: ui

#1954 fix: add missing `poetry run` command
  .github/workflows/pypi-deployment.yml
  streampipes-client-python/Makefile
Labels: gh-actions

#1957 fix(#1956): Check Pulsar URL in consul migration runner
  streampipes-service-core/src/main/java/org/apache/streampipes/service/core/migrations/v093/ConsulConfigMigration.java
  streampipes-service-discovery-api/src/main/java/org/apache/streampipes/svcdiscovery/api/SpConfig.java
  streampipes-service-discovery-consul/src/main/java/org/apache/streampipes/svcdiscovery/consul/ConsulSpConfig.java
Labels: java, backend

#1974 [hotfix] Fix dependency conflict of mail components
  pom.xml
  streampipes-rest/pom.xml
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/EmailResource.java
  ui/src/app/configuration/email-configuration/email-configuration.component.html
  ui/src/app/configuration/email-configuration/email-configuration.component.scss
  ui/src/app/configuration/email-configuration/email-configuration.component.ts
Labels: dependencies, java, ui, backend
