Repository apache/streampipes, pull requests merged in 2023-12, with the labels that each got.

#2255 deps: update commons-compress due to CVE
  pom.xml
Labels: dependencies

#2259 chore: use service name instead of localhost in prometheus config
  installer/cli/deploy/standalone/prometheus/prometheus.yml
Labels: installer

#2261 refactor: remove deprecated method `fromResources`
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/helpers/Labels.java
Labels: java, deprecation, backend

#2247 refactor(#2246): Refactor InfluxStore.onEvent
  streampipes-data-explorer-commons/pom.xml
  streampipes-data-explorer-commons/src/main/java/org/apache/streampipes/dataexplorer/commons/TimeSeriesStore.java
  streampipes-data-explorer-commons/src/main/java/org/apache/streampipes/dataexplorer/commons/influx/InfluxClientProvider.java
  streampipes-data-explorer-commons/src/main/java/org/apache/streampipes/dataexplorer/commons/influx/InfluxRequests.java
  streampipes-data-explorer-commons/src/main/java/org/apache/streampipes/dataexplorer/commons/influx/InfluxStore.java
  streampipes-data-explorer-commons/src/main/java/org/apache/streampipes/dataexplorer/commons/influx/PropertyHandler.java
  streampipes-data-explorer-commons/src/test/java/org/apache/streampipes/dataexplorer/commons/influx/InfluxClientProviderTest.java
  streampipes-data-explorer-commons/src/test/java/org/apache/streampipes/dataexplorer/commons/influx/InfluxStoreTest.java
  streampipes-extensions/streampipes-connectors-influx/src/main/java/org/apache/streampipes/extensions/connectors/influx/adapter/InfluxDbClient.java
  streampipes-extensions/streampipes-connectors-influx/src/main/java/org/apache/streampipes/extensions/connectors/influx/sink/InfluxDbClient.java
  streampipes-test-utils/src/main/java/org/apache/streampipes/test/generator/EventPropertyListTestBuilder.java
  streampipes-test-utils/src/main/java/org/apache/streampipes/test/generator/EventPropertyPrimitiveTestBuilder.java
Labels: dependencies, java, backend, testing

#2260 refactor: include version in all data sink descriptions as required for migrations
  streampipes-extensions/streampipes-connectors-influx/src/main/java/org/apache/streampipes/extensions/connectors/influx/sink/InfluxDbSink.java
  streampipes-extensions/streampipes-connectors-kafka/src/main/java/org/apache/streampipes/extensions/connectors/kafka/sink/KafkaPublishSink.java
  streampipes-extensions/streampipes-connectors-mqtt/src/main/java/org/apache/streampipes/extensions/connectors/mqtt/sink/MqttPublisherSink.java
  streampipes-extensions/streampipes-connectors-nats/src/main/java/org/apache/streampipes/extensions/connectors/nats/sink/NatsSink.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/sink/OpcUaSink.java
  streampipes-extensions/streampipes-connectors-pulsar/src/main/java/org/apache/streampipes/extensions/connectors/pulsar/sink/PulsarPublisherSink.java
  streampipes-extensions/streampipes-connectors-rocketmq/src/main/java/org/apache/streampipes/extensions/connectors/rocketmq/sink/RocketMQPublisherSink.java
  streampipes-extensions/streampipes-connectors-tubemq/src/main/java/org/apache/streampipes/extensions/connectors/tubemq/sink/TubeMQPublisherSink.java
  streampipes-extensions/streampipes-sinks-brokers-jvm/src/main/java/org/apache/streampipes/sinks/brokers/jvm/bufferrest/BufferRestPublisherSink.java
  streampipes-extensions/streampipes-sinks-brokers-jvm/src/main/java/org/apache/streampipes/sinks/brokers/jvm/jms/JmsPublisherSink.java
  streampipes-extensions/streampipes-sinks-brokers-jvm/src/main/java/org/apache/streampipes/sinks/brokers/jvm/rabbitmq/RabbitMqPublisherSink.java
  streampipes-extensions/streampipes-sinks-brokers-jvm/src/main/java/org/apache/streampipes/sinks/brokers/jvm/rest/RestSink.java
  streampipes-extensions/streampipes-sinks-brokers-jvm/src/main/java/org/apache/streampipes/sinks/brokers/jvm/websocket/WebsocketServerSink.java
  streampipes-extensions/streampipes-sinks-databases-jvm/src/main/java/org/apache/streampipes/sinks/databases/jvm/couchdb/CouchDbSink.java
  streampipes-extensions/streampipes-sinks-databases-jvm/src/main/java/org/apache/streampipes/sinks/databases/jvm/ditto/DittoSink.java
  streampipes-extensions/streampipes-sinks-databases-jvm/src/main/java/org/apache/streampipes/sinks/databases/jvm/iotdb/IotDbSink.java
  streampipes-extensions/streampipes-sinks-databases-jvm/src/main/java/org/apache/streampipes/sinks/databases/jvm/postgresql/PostgreSqlSink.java
  streampipes-extensions/streampipes-sinks-databases-jvm/src/main/java/org/apache/streampipes/sinks/databases/jvm/redis/RedisSink.java
  streampipes-extensions/streampipes-sinks-internal-jvm/src/main/java/org/apache/streampipes/sinks/internal/jvm/datalake/DataLakeSink.java
  streampipes-extensions/streampipes-sinks-internal-jvm/src/main/java/org/apache/streampipes/sinks/internal/jvm/notification/NotificationProducer.java
  streampipes-extensions/streampipes-sinks-notifications-jvm/src/main/java/org/apache/streampipes/sinks/notifications/jvm/email/EmailSink.java
  streampipes-extensions/streampipes-sinks-notifications-jvm/src/main/java/org/apache/streampipes/sinks/notifications/jvm/msteams/MSTeamsSink.java
  streampipes-extensions/streampipes-sinks-notifications-jvm/src/main/java/org/apache/streampipes/sinks/notifications/jvm/onesignal/OneSignalSink.java
  streampipes-extensions/streampipes-sinks-notifications-jvm/src/main/java/org/apache/streampipes/sinks/notifications/jvm/slack/SlackNotificationSink.java
  streampipes-extensions/streampipes-sinks-notifications-jvm/src/main/java/org/apache/streampipes/sinks/notifications/jvm/telegram/TelegramSink.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/builder/DataSinkBuilder.java
Labels: java, refactoring, pipeline elements, backend, no release note

#2271 chore: Fix docs link on login page, improve layout
  ui/src/app/login/components/auth-box/auth-box.component.html
  ui/src/app/login/components/auth-box/auth-box.component.scss
  ui/src/app/login/components/auth-box/auth-box.component.ts
Labels: ui

#2270 feat(#2269): Add basic auth to prometheus monitoring endpoint
  streampipes-commons/src/main/java/org/apache/streampipes/commons/constants/HttpConstants.java
  streampipes-service-base/src/main/java/org/apache/streampipes/service/base/security/UnauthorizedRequestEntryPoint.java
  streampipes-service-core/src/main/java/org/apache/streampipes/service/core/filter/TokenAuthenticationFilter.java
Labels: java, backend

#2283 extend monitoring by adding metrics for adapters
  installer/cli/environments/lite-monitoring
  streampipes-commons/src/main/java/org/apache/streampipes/commons/prometheus/StreamPipesCollectorRegistry.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/prometheus/adapter/AdapterMetrics.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/prometheus/adapter/AdapterMetricsManager.java
  streampipes-commons/src/test/java/org/apache/streampipes/commons/prometheus/adapter/AdapterMetricsTest.java
  streampipes-commons/src/test/java/org/apache/streampipes/commons/resources/TestResources.java
  streampipes-connect-management/src/main/java/org/apache/streampipes/connect/management/health/AdapterHealthCheck.java
  streampipes-connect-management/src/main/java/org/apache/streampipes/connect/management/management/AdapterMasterManagement.java
  streampipes-connect-management/src/main/java/org/apache/streampipes/connect/management/management/WorkerAdministrationManagement.java
  streampipes-connect-management/src/test/java/org/apache/streampipes/connect/management/health/AdapterHealthCheckTest.java
  streampipes-connect-management/src/test/java/org/apache/streampipes/connect/management/management/AdapterMasterManagementTest.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/ResetManagement.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/connect/AdapterResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/connect/RuntimeResolvableResource.java
  streampipes-service-core/src/main/java/org/apache/streampipes/service/core/PostStartupTask.java
  streampipes-service-core/src/main/java/org/apache/streampipes/service/core/StreamPipesCoreApplication.java
Labels: enhancement, java, backend, installer, testing

#2291 refactor(#2285): Remove image labeling component
  ui/src/app/core-model/coco/Annotation.ts
  ui/src/app/core-model/coco/Category.ts
  ui/src/app/core-model/coco/Coco.format.ts
  ui/src/app/core-model/coco/Image.ts
  ui/src/app/core-ui/core-ui.module.ts
  ui/src/app/core-ui/image/components/image-annotations/image-annotations.component.css
  ui/src/app/core-ui/image/components/image-annotations/image-annotations.component.html
  ui/src/app/core-ui/image/components/image-annotations/image-annotations.component.ts
  ui/src/app/core-ui/image/components/image-container/image-container.component.css
  ui/src/app/core-ui/image/components/image-container/image-container.component.html
  ui/src/app/core-ui/image/components/image-container/image-container.component.ts
  ui/src/app/core-ui/image/image-labeling/image-labeling.component.css
  ui/src/app/core-ui/image/image-labeling/image-labeling.component.html
  ui/src/app/core-ui/image/image-labeling/image-labeling.component.ts
  ui/src/app/core-ui/image/image-viewer/image-viewer.component.css
  ui/src/app/core-ui/image/image.component.html
  ui/src/app/core-ui/image/image.component.ts
  ui/src/app/core-ui/image/model/coordinates.ts
  ui/src/app/core-ui/image/model/labeling-mode.ts
  ui/src/app/core-ui/image/services/BrushLabeling.service.ts
  ui/src/app/core-ui/image/services/CocoFormat.service.ts
  ui/src/app/core-ui/image/services/LabelingMode.service.ts
  ui/src/app/core-ui/image/services/PolygonLabeling.service.ts
  ui/src/app/core-ui/image/services/ReactLabeling.service.ts
  ui/src/app/core-ui/image/services/color.service.ts
  ui/src/app/core-ui/image/util/color.util.ts
  ui/src/app/core-ui/image/util/imageTranslation.util.ts
  ui/src/app/core-ui/imageLabeler/classification/imageClassification.ts
  ui/src/app/core-ui/labels/components/configure-labels/configure-labels.component.ts
  ui/src/app/core-ui/labels/components/select-label/select-label.component.ts
  ui/src/app/data-explorer/components/widgets/image/image-bar/image-bar-preview/image-bar-preview.component.html
  ui/src/app/data-explorer/components/widgets/image/image-bar/image-bar-preview/image-bar-preview.component.scss
  ui/src/app/data-explorer/components/widgets/image/image-bar/image-bar-preview/image-bar-preview.component.ts
  ui/src/app/data-explorer/components/widgets/image/image-bar/image-bar.component.css
  ui/src/app/data-explorer/components/widgets/image/image-bar/image-bar.component.html
  ui/src/app/data-explorer/components/widgets/image/image-bar/image-bar.component.ts
  ui/src/app/data-explorer/components/widgets/image/image-viewer/image-viewer.component.css
  ui/src/app/data-explorer/components/widgets/image/image-viewer/image-viewer.component.html
  ui/src/app/data-explorer/components/widgets/image/image-viewer/image-viewer.component.ts
  ui/src/app/data-explorer/data-explorer.module.ts
Labels: ui

#2293 fix(#2292): Rename type identifier in Group model
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/user/Group.java
Labels: java, backend

#2207 [#1865]: create processor to parse date time strings
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/TransformationExtensionModuleExport.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/processor/datetime/DateTimeFromStringProcessor.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/resources/org.apache.streampipes.processors.transformation.jvm.datetime/documentation.md
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/resources/org.apache.streampipes.processors.transformation.jvm.datetime/icon.png
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/resources/org.apache.streampipes.processors.transformation.jvm.datetime/strings.en
  streampipes-extensions/streampipes-processors-transformation-jvm/src/test/java/org/apache/streampipes/processors/transformation/jvm/processor/datetime/TestDateTimeFromStringProcessor.java
  streampipes-vocabulary/src/main/java/org/apache/streampipes/vocabulary/SO.java
Labels: java, pipeline elements, backend, documentation, testing

#2301 1892 compose processor unit tests
  streampipes-extensions/streampipes-processors-filters-jvm/src/test/java/org/apache/streampipes/processors/filters/jvm/processor/compose/TestComposeProcessor.java
  streampipes-extensions/streampipes-processors-filters-jvm/src/test/java/org/apache/streampipes/processors/filters/jvm/processor/sdt/TestSwingingDoorTrendingFilterProcessor.java
Labels: java, pipeline elements, backend, testing

#2311 Extend all MS Teams sink by a silent period
  streampipes-extensions/streampipes-sinks-internal-jvm/src/main/java/org/apache/streampipes/sinks/internal/jvm/InternalSinksExtensionModuleExports.java
  streampipes-extensions/streampipes-sinks-internal-jvm/src/main/java/org/apache/streampipes/sinks/internal/jvm/datalake/migrations/DataLakeSinkMigrationV1.java
  streampipes-extensions/streampipes-sinks-internal-jvm/src/main/java/org/apache/streampipes/sinks/internal/jvm/notification/InternalStreamPipesNotificationSink.java
  streampipes-extensions/streampipes-sinks-internal-jvm/src/main/resources/org.apache.streampipes.sinks.internal.jvm.notification/documentation.md
  streampipes-extensions/streampipes-sinks-internal-jvm/src/main/resources/org.apache.streampipes.sinks.internal.jvm.notification/strings.en
  streampipes-extensions/streampipes-sinks-internal-jvm/src/test/java/org/apache/streampipes/sinks/internal/jvm/datalake/migrations/DataLakeSinkMigrationV1Test.java
  streampipes-extensions/streampipes-sinks-notifications-jvm/src/main/java/org/apache/streampipes/sinks/notifications/jvm/email/EmailSink.java
  streampipes-extensions/streampipes-sinks-notifications-jvm/src/main/java/org/apache/streampipes/sinks/notifications/jvm/msteams/MSTeamsSink.java
  streampipes-extensions/streampipes-sinks-notifications-jvm/src/main/java/org/apache/streampipes/sinks/notifications/jvm/onesignal/OneSignalSink.java
  streampipes-extensions/streampipes-sinks-notifications-jvm/src/main/java/org/apache/streampipes/sinks/notifications/jvm/slack/SlackNotificationSink.java
  streampipes-extensions/streampipes-sinks-notifications-jvm/src/main/java/org/apache/streampipes/sinks/notifications/jvm/telegram/TelegramSink.java
  streampipes-extensions/streampipes-sinks-notifications-jvm/src/main/resources/org.apache.streampipes.sinks.notifications.jvm.email/documentation.md
  streampipes-extensions/streampipes-sinks-notifications-jvm/src/main/resources/org.apache.streampipes.sinks.notifications.jvm.email/strings.en
  streampipes-extensions/streampipes-sinks-notifications-jvm/src/main/resources/org.apache.streampipes.sinks.notifications.jvm.msteams/documentation.md
  streampipes-extensions/streampipes-sinks-notifications-jvm/src/main/resources/org.apache.streampipes.sinks.notifications.jvm.slack/documentation.md
  streampipes-wrapper-standalone/src/main/java/org/apache/streampipes/wrapper/standalone/StreamPipesDataSink.java
  streampipes-wrapper-standalone/src/main/java/org/apache/streampipes/wrapper/standalone/StreamPipesNotificationSink.java
Labels: enhancement, java, pipeline elements, backend, documentation, testing

#2315 feat(#2313): Remove count query from data explorer queries
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/influx/DataExplorerInfluxQueryExecutor.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/param/ProvidedRestQueryParamConverter.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/param/SelectQueryParams.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/query/DataExplorerQueryExecutor.java
Labels: java, backend

#2317 fix(#2316): Remove obsolete dependencies to streampipes-config
  archetypes/streampipes-archetype-pe-processors-flink/src/main/resources/archetype-resources/pom.xml
  archetypes/streampipes-archetype-pe-sinks-flink/src/main/resources/archetype-resources/pom.xml
  streampipes-data-explorer/pom.xml
  streampipes-service-core/pom.xml
  streampipes-user-management/pom.xml
Labels: dependencies

#2322 fix: ensure Spring uses the correct serializer in extensions service
  streampipes-service-extensions/src/main/java/org/apache/streampipes/service/extensions/ExtensionsModelSubmitter.java
Labels: java, backend

#2323 fix: Modify schema update label
  streampipes-extensions/streampipes-sinks-internal-jvm/src/main/java/org/apache/streampipes/sinks/internal/jvm/datalake/migrations/DataLakeSinkMigrationV1.java
Labels: java, pipeline elements, backend

#2325 fix(#2324): Make resource loading more robust
  streampipes-commons/src/main/java/org/apache/streampipes/commons/resources/Resources.java
Labels: java, backend

#2328 fix: update of metrics in AdapterHealthCheck
  streampipes-connect-management/src/main/java/org/apache/streampipes/connect/management/health/AdapterHealthCheck.java
Labels: bug, java, backend

#2331 fix: Fix serialization problems with migration
  streampipes-connect-management/src/main/java/org/apache/streampipes/connect/management/management/AdapterMasterManagement.java
  streampipes-model/src/main/java/org/apache/streampipes/model/migration/MigrationResult.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/migration/AbstractMigrationManager.java
  streampipes-rest-shared/src/main/java/org/apache/streampipes/rest/shared/serializer/SpringJacksonSerializer.java
  streampipes-service-extensions/src/main/java/org/apache/streampipes/service/extensions/ExtensionsModelSubmitter.java
Labels: java, backend

#2307 Added dialog window after deleting user and modified tests accordingly
  ui/cypress/support/utils/UserUtils.ts
  ui/src/app/configuration/security-configuration/abstract-security-principal-config.ts
  ui/src/app/configuration/security-configuration/user-group-configuration/user-group-configuration.component.ts
Labels: ui, testing

#2335 fix: orchestrate adapter health check such that monitoring of adapters works as expected
  streampipes-connect-management/src/main/java/org/apache/streampipes/connect/management/health/AdapterHealthCheck.java
  streampipes-connect-management/src/test/java/org/apache/streampipes/connect/management/health/AdapterHealthCheckTest.java
Labels: bug, java, refactoring, backend, testing

#2343 Update HTTP Server adapter documentation.md
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/resources/org.apache.streampipes.connect.iiot.protocol.stream.httpserver/documentation.md
Labels: connect, documentation

#2355 fix(#2353): Add exception with detailed description for missing resources
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/locales/LabelGenerator.java
  streampipes-extensions-management/src/test/java/org/apache/streampipes/extensions/management/locales/LabelGeneratorTest.java
  streampipes-rest-extensions/src/main/java/org/apache/streampipes/rest/extensions/html/page/WelcomePageGenerator.java
Labels: java, backend, testing

#2360 fix(#2329): python client throws exception on connection
  streampipes-client-python/Makefile
  streampipes-client-python/streampipes/endpoint/endpoint.py
  streampipes-client-python/streampipes/model/resource/version.py
  streampipes-client-python/tests/client/test_endpoint.py
  streampipes-client-python/tests/client/test_versions.py
Labels: python, testing

#2362 fix(#2361): Fix pipeline element template generation
  streampipes-platform-services/src/main/java/org/apache/streampipes/ps/PipelineElementTemplateResource.java
  ui/src/app/editor/dialog/customize/customize.component.html
Labels: java, ui, backend

#2366 feat(#2350): New processor staticmetadataenrichment
  streampipes-extensions/streampipes-processors-transformation-jvm/pom.xml
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/TransformationExtensionModuleExport.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/processor/staticmetadata/StaticMetaDataConfiguration.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/processor/staticmetadata/StaticMetaDataEnrichmentProcessor.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/resources/org.apache.streampipes.processors.transformation.jvm.processor.staticmetadata/documentation.md
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/resources/org.apache.streampipes.processors.transformation.jvm.processor.staticmetadata/icon.png
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/resources/org.apache.streampipes.processors.transformation.jvm.processor.staticmetadata/strings.en
  streampipes-extensions/streampipes-processors-transformation-jvm/src/test/java/org/apache/streampipes/processors/transformation/jvm/processor/staticmetadata/StaticMetaDataEnrichmentProcessorTest.java
Labels: dependencies, java, pipeline elements, backend, documentation, testing

#2367 feat: AdapterParameterExtractor now uses IStaticPropertyExtractor
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/connect/adapter/parser/CsvParser.java
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/connect/adapter/parser/xml/XmlParser.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/extractor/AdapterParameterExtractor.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/extractor/StaticPropertyExtractor.java
Labels: java, backend

#2377 feat(#2376): Add find endpoint to generic storage API
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/GenericStorageResource.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/IGenericStorage.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/impl/GenericStorageImpl.java
  ui/projects/streampipes/platform-services/src/lib/apis/generic-storage.service.ts
  ui/projects/streampipes/platform-services/src/lib/query/generic-storage-query-builder.ts
  ui/projects/streampipes/platform-services/src/public-api.ts
Labels: java, ui, backend

#2373 fix(#2372): Change retry configuration of cypress and expected events…
  ui/cypress.config.ts
  ui/cypress/fixtures/pipelineElement/transformation-jvm/countArray1/expected.csv
Labels: ui, testing

#2381 feat(#2379): Move pipeline rest calls to pipeline service
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/PipelineResource.java
  ui/projects/streampipes/platform-services/src/lib/apis/pipeline.service.ts
  ui/src/app/editor/services/editor.service.ts
Labels: java, ui, backend

#2378 [#2203] Fix error because of multiple definitions of variables.
  installer/cli/deploy/standalone/extensions-all-jvm/docker-compose.yml
Labels: installer
