Repository apache/streampipes, pull requests merged in 2023-06, with the labels that each got.

#1647 Sp 1592
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/ConnectAdapterIiotInit.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/adapters/iolink/IfmAlMqttAdapter.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/adapters/iolink/sensor/IoLinkSensor.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/adapters/iolink/sensor/SensorVVB001.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/resources/org.apache.streampipes.connect.iiot.adapters.iolink/documentation.md
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/resources/org.apache.streampipes.connect.iiot.adapters.iolink/icon.png
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/resources/org.apache.streampipes.connect.iiot.adapters.iolink/strings.en
  streampipes-extensions/streampipes-connect-adapters-iiot/src/test/java/org/apache/streampipes/sensor/SensorVVB001Test.java
Labels: java, connect, backend, documentation, testing

#1658 [hotfix] Bump installer versions to next SNAPSHOT
  installer/cli/.env
  installer/cli/README.md
  installer/compose/.env
  installer/compose/README.md
  installer/k8s/Chart.yaml
  installer/k8s/README.md
  installer/k8s/values.yaml
Labels: installer, documentation, helm

#1657 Use same version as in java components
  ui/package.json
Labels: dependencies, ui

#1661 [hotfix] Improve nginx container behaviour when starting as non-root …
  ui/Dockerfile
  ui/nginx_config/nginx.conf
Labels: ui

#1649 Move OPC-UA processor and sinks to new module streampipes-connectors-…
  pom.xml
  streampipes-extensions/streampipes-connect-adapters-iiot/pom.xml
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/ConnectAdapterIiotInit.java
  streampipes-extensions/streampipes-connectors-opcua/pom.xml
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/adapter/MiloOpcUaConfigurationProvider.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/adapter/OpcNode.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/adapter/OpcUaAdapter.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/adapter/OpcUaNodeBrowser.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/adapter/SpOpcUaClient.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/adapter/configuration/SpOpcUaConfig.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/adapter/configuration/SpOpcUaConfigBuilder.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/adapter/utils/ExceptionMessageExtractor.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/adapter/utils/OpcUaNodeVariants.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/adapter/utils/OpcUaTypes.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/adapter/utils/OpcUaUtil.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/sink/OpcUa.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/sink/OpcUaParameters.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/sink/OpcUaSink.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/resources/org.apache.streampipes.connect.iiot.adapters.opcua/documentation.md
  streampipes-extensions/streampipes-connectors-opcua/src/main/resources/org.apache.streampipes.connect.iiot.adapters.opcua/icon.png
  streampipes-extensions/streampipes-connectors-opcua/src/main/resources/org.apache.streampipes.connect.iiot.adapters.opcua/strings.en
  streampipes-extensions/streampipes-connectors-opcua/src/main/resources/org.apache.streampipes.sinks.databases.jvm.opcua/documentation.md
  streampipes-extensions/streampipes-connectors-opcua/src/main/resources/org.apache.streampipes.sinks.databases.jvm.opcua/icon.png
  streampipes-extensions/streampipes-connectors-opcua/src/main/resources/org.apache.streampipes.sinks.databases.jvm.opcua/strings.en
  streampipes-extensions/streampipes-sinks-databases-jvm/pom.xml
  streampipes-extensions/streampipes-sinks-databases-jvm/src/main/java/org/apache/streampipes/sinks/databases/jvm/DatabasesJvmInit.java
Labels: dependencies, java, pipeline elements, connect, backend, documentation

#1668 [#1597]: Remove sources-vehicle-simulator from full deployment
  installer/compose/docker-compose.full.yml
Labels: installer

#1666 fix(1656): adapt to API change in nats-py (pass list instead of single string)
  streampipes-client-python/docs/img/interrogate_badge.svg
  streampipes-client-python/streampipes/functions/broker/nats/nats_consumer.py
  streampipes-client-python/streampipes/functions/broker/nats/nats_publisher.py
Labels: python

#1665 [#1664] Extract all opc labels into an enum class
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/adapter/OpcUaAdapter.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/adapter/configuration/SpOpcUaConfigBuilder.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/adapter/utils/OpcUaUtil.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/sink/OpcUaSink.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/utils/OpcUaLabels.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/resources/org.apache.streampipes.sinks.databases.jvm.opcua/strings.en
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/helpers/Labels.java
  streampipes-sdk/src/test/java/org/apache/streampipes/sdk/helpers/LabelsTest.java
Labels: java, backend, testing

#1671 [#1659]: Update upgrade_version.sh for selectively updating versions
  installer/upgrade_versions.sh
Labels: installer

#1673 [#1672] Make processor dimension sensitive.
  streampipes-extensions-management/pom.xml
  streampipes-extensions/streampipes-processors-transformation-jvm/pom.xml
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/processor/value/change/ChangedValueDetectionProcessor.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/test/java/org/apache/streampipes/processors/transformation/jvm/processor/value/change/TestChangedValueDetectionProcessor.java
Labels: dependencies, java, pipeline elements, backend, testing

#1660 Improve css
  .gitignore
  ui/.gitignore
  ui/.prettierignore
  ui/deployment/_variables.scss
  ui/deployment/base-navigation.component.mst
  ui/deployment/prebuild.js
  ui/package-lock.json
  ui/package.json
  ui/projects/streampipes/shared-ui/src/lib/components/basic-view/basic-view.component.scss
  ui/src/app/core/components/iconbar/iconbar.component.scss
  ui/src/app/core/components/streampipes/streampipes.component.html
  ui/src/app/core/components/streampipes/streampipes.component.scss
  ui/src/app/core/components/streampipes/streampipes.component.ts
  ui/src/app/core/components/toolbar/toolbar.component.ts
  ui/src/app/data-explorer/components/panel/data-explorer-dashboard-panel.component.html
  ui/src/app/editor/components/pipeline-assembly/pipeline-assembly.component.html
  ui/src/app/editor/components/pipeline-element-icon-stand/pipeline-element-icon-stand.component.html
  ui/src/app/editor/components/pipeline-element-icon-stand/pipeline-element-icon-stand.component.scss
  ui/src/app/editor/editor.component.html
  ui/src/app/editor/editor.component.scss
  ui/src/scss/_variables.scss
  ui/src/scss/main.scss
  ui/src/scss/sp/animations.ng1.scss
  ui/src/scss/sp/buttons.ng1.scss
  ui/src/scss/sp/buttons.scss
  ui/src/scss/sp/colors.scss
  ui/src/scss/sp/input.ng1.scss
  ui/src/scss/sp/layout.scss
  ui/src/scss/sp/main.scss
  ui/src/scss/sp/pipeline-assembly.scss
  ui/src/scss/sp/sp-theme.scss
Labels: dependencies, ui, javascript

#1675 1662 support asynchronous browsing in opc ua adapter
  pom.xml
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/adapter/OpcUaAdapter.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/adapter/OpcUaNodeBrowser.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/adapter/configuration/SpOpcUaConfig.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/adapter/configuration/SpOpcUaConfigBuilder.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/adapter/utils/OpcUaUtil.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/resources/org.apache.streampipes.connect.iiot.adapters.opcua/strings.en
  streampipes-model/src/main/java/org/apache/streampipes/model/staticproperty/RuntimeResolvableTreeInputStaticProperty.java
  streampipes-model/src/main/java/org/apache/streampipes/model/staticproperty/TreeInputNode.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/StaticProperties.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/builder/AbstractConfigurablePipelineElementBuilder.java
  ui/projects/streampipes/platform-services/src/lib/model/gen/streampipes-model.ts
  ui/src/app/core-ui/static-properties/static-alternatives/static-alternatives.component.html
  ui/src/app/core-ui/static-properties/static-alternatives/static-alternatives.component.ts
  ui/src/app/core-ui/static-properties/static-group/static-group.component.html
  ui/src/app/core-ui/static-properties/static-group/static-group.component.ts
  ui/src/app/core-ui/static-properties/static-property.component.html
  ui/src/app/core-ui/static-properties/static-runtime-resolvable-input/base-runtime-resolvable-input.ts
  ui/src/app/core-ui/static-properties/static-runtime-resolvable-oneof-input/static-runtime-resolvable-oneof-input.component.ts
  ui/src/app/core-ui/static-properties/static-runtime-resolvable-tree-input/static-tree-input.component.html
  ui/src/app/core-ui/static-properties/static-runtime-resolvable-tree-input/static-tree-input.component.scss
  ui/src/app/core-ui/static-properties/static-runtime-resolvable-tree-input/static-tree-input.component.ts
Labels: dependencies, java, ui, backend, breaking change

#1694 chore: improve metadata for repository
  README.md
  streampipes-client-python/README.md
  streampipes-client-python/setup.py
Labels: documentation

#1696 Set value for checkstyle base path in more modules.
  archetypes/streampipes-archetype-extensions-jvm/pom.xml
  archetypes/streampipes-archetype-pe-processors-flink/pom.xml
  archetypes/streampipes-archetype-pe-sinks-flink/pom.xml
  streampipes-extensions/streampipes-extensions-all-iiot/pom.xml
  streampipes-extensions/streampipes-extensions-all-jvm/pom.xml
  streampipes-extensions/streampipes-pipeline-elements-all-jvm/pom.xml
  streampipes-extensions/streampipes-processors-change-detection-jvm/pom.xml
  streampipes-extensions/streampipes-processors-enricher-jvm/pom.xml
  streampipes-extensions/streampipes-processors-filters-jvm/pom.xml
  streampipes-extensions/streampipes-processors-filters-siddhi/pom.xml
  streampipes-extensions/streampipes-processors-geo-jvm/pom.xml
  streampipes-extensions/streampipes-processors-image-processing-jvm/pom.xml
  streampipes-extensions/streampipes-processors-text-mining-jvm/pom.xml
  streampipes-extensions/streampipes-sinks-brokers-jvm/pom.xml
  streampipes-extensions/streampipes-sinks-databases-jvm/pom.xml
  streampipes-extensions/streampipes-sinks-internal-jvm/pom.xml
  streampipes-extensions/streampipes-sinks-notifications-jvm/pom.xml
  streampipes-extensions/streampipes-sources-watertank-simulator/pom.xml
  streampipes-integration-tests/pom.xml
  streampipes-model/pom.xml
  streampipes-sdk/pom.xml
  streampipes-wrapper-distributed/pom.xml
  streampipes-wrapper-flink/pom.xml
  streampipes-wrapper-kafka-streams/pom.xml
  streampipes-wrapper-python/pom.xml
  streampipes-wrapper-siddhi/pom.xml
  streampipes-wrapper/pom.xml
Labels: dependencies, pipeline elements, testing

#1701 Use UTF_8 as the encoding when generating the label
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/locales/LabelGenerator.java
Labels: java, backend

#1629 fix: kafka consumer data loss promble
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/protocol/stream/KafkaProtocol.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/resources/org.apache.streampipes.connect.iiot.protocol.stream.kafka/strings.en
  streampipes-extensions/streampipes-pipeline-elements-shared/src/main/java/org/apache/streampipes/pe/shared/config/kafka/KafkaConfig.java
  streampipes-extensions/streampipes-pipeline-elements-shared/src/main/java/org/apache/streampipes/pe/shared/config/kafka/KafkaConnectUtils.java
  streampipes-extensions/streampipes-pipeline-elements-shared/src/main/java/org/apache/streampipes/pe/shared/config/kafka/kafka/KafkaConfig.java
  streampipes-extensions/streampipes-pipeline-elements-shared/src/main/java/org/apache/streampipes/pe/shared/config/kafka/kafka/KafkaConnectUtils.java
  streampipes-messaging-kafka/src/main/java/org/apache/streampipes/messaging/kafka/config/AutoOffsetResetConfig.java
  streampipes-messaging-kafka/src/main/java/org/apache/streampipes/messaging/kafka/config/ConsumerConfigFactory.java
Labels: java, pipeline elements, connect, backend

#1682 Harmonize OPC-UA adapter and sink, add timestamp to metadata (#899)
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/adapter/OpcUaAdapter.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/adapter/OpcUaNodeBrowser.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/adapter/configuration/SpOpcUaConfig.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/client/SpOpcUaClient.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/config/MiloOpcUaConfigurationProvider.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/config/OpcUaAdapterConfig.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/config/OpcUaConfig.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/config/SharedUserConfiguration.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/config/SpOpcUaConfigExtractor.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/model/OpcNode.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/sink/OpcUa.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/sink/OpcUaParameters.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/sink/OpcUaSink.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/utils/ExceptionMessageExtractor.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/utils/OpcUaTypes.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/utils/OpcUaUtil.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/resources/org.apache.streampipes.sinks.databases.jvm.opcua/strings.en
  streampipes-model/src/main/java/org/apache/streampipes/model/staticproperty/RuntimeResolvableTreeInputStaticProperty.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/StaticProperties.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/builder/AbstractConfigurablePipelineElementBuilder.java
  ui/projects/streampipes/platform-services/src/lib/model/gen/streampipes-model.ts
Labels: java, ui, backend

#1683 Support migration of adapters in data import
  streampipes-data-export/src/main/java/org/apache/streampipes/export/dataimport/PerformImportGenerator.java
  streampipes-data-export/src/main/java/org/apache/streampipes/export/dataimport/PreviewImportGenerator.java
  streampipes-data-export/src/main/java/org/apache/streampipes/export/utils/ImportAdapterMigrationUtils.java
  streampipes-model/src/main/java/org/apache/streampipes/model/connect/adapter/migration/GenericAdapterConverter.java
  streampipes-model/src/main/java/org/apache/streampipes/model/connect/adapter/migration/IAdapterConverter.java
  streampipes-model/src/main/java/org/apache/streampipes/model/connect/adapter/migration/MigrationHelpers.java
  streampipes-model/src/main/java/org/apache/streampipes/model/connect/adapter/migration/SpecificAdapterConverter.java
  streampipes-model/src/main/java/org/apache/streampipes/model/connect/adapter/migration/format/CsvFormatMigrator.java
  streampipes-model/src/main/java/org/apache/streampipes/model/connect/adapter/migration/format/EmptyFormatMigrator.java
  streampipes-model/src/main/java/org/apache/streampipes/model/connect/adapter/migration/format/FormatMigrator.java
  streampipes-model/src/main/java/org/apache/streampipes/model/connect/adapter/migration/format/JsonFormatMigrator.java
  streampipes-model/src/main/java/org/apache/streampipes/model/connect/adapter/migration/format/XmlFormatMigrator.java
  streampipes-model/src/main/java/org/apache/streampipes/model/connect/adapter/migration/utils/AdapterModels.java
  streampipes-model/src/main/java/org/apache/streampipes/model/connect/adapter/migration/utils/DocumentKeys.java
  streampipes-model/src/main/java/org/apache/streampipes/model/connect/adapter/migration/utils/FormatIds.java
  streampipes-model/src/main/java/org/apache/streampipes/model/connect/adapter/migration/utils/GenericAdapterUtils.java
  streampipes-service-core/src/main/java/org/apache/streampipes/service/core/migrations/v093/AdapterBackupWriter.java
  streampipes-service-core/src/main/java/org/apache/streampipes/service/core/migrations/v093/AdapterMigration.java
  streampipes-service-core/src/main/java/org/apache/streampipes/service/core/migrations/v093/migrator/GenericAdapterMigrator.java
  streampipes-service-core/src/main/java/org/apache/streampipes/service/core/migrations/v093/migrator/SpecificAdapterMigrator.java
Labels: java, backend

#1716 Enable creating CouchDB attachments for images
  streampipes-model/src/main/java/org/apache/streampipes/model/file/GenericStorageAttachment.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/IGenericStorage.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/impl/GenericStorageImpl.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/utils/Utils.java
Labels: enhancement, java, backend

#1720 [hotfix] Use latest offset setting as kafka consumer default
  streampipes-messaging-kafka/src/main/java/org/apache/streampipes/messaging/kafka/config/ConsumerConfigFactory.java
Labels: java, backend

#1714 [#1713] Fix NullPointer in OPC UA browsing
  installer/cli/deploy/standalone/opcua/docker-compose.yml
  streampipes-extensions/streampipes-connectors-opcua/pom.xml
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/adapter/OpcUaNodeBrowser.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/adapter/OpcUaNodeMetadataExtractor.java
  streampipes-extensions/streampipes-connectors-opcua/src/test/java/org/apache/streampipes/extensions/connectors/opcua/adapter/OpcUaNodeMetadataExtractorTest.java
Labels: dependencies, java, backend, installer, testing

#1724 [hotfix] Fix environment variable in prebuild script
  ui/deployment/prebuild.js
Labels: ui, javascript

#1722 [hotfix] Make storage sizes in helm charts configurable
  installer/k8s/templates/core/backend-pvc.yaml
  installer/k8s/templates/core/ui-configmap.yaml
  installer/k8s/templates/external/consul/consul-pv-pvc.yaml
  installer/k8s/templates/external/couchdb/couchdb-pv-pvc.yaml
  installer/k8s/templates/external/influxdb/influxdb-pvc.yaml
  installer/k8s/templates/external/influxdb/influxdb2-pvc.yaml
  installer/k8s/values.yaml
Labels: installer, helm
