Repository apache/streampipes, pull requests merged in 2023-07, with the labels that each got.

#1727 Update Maven archetypes (#1726)
  archetypes/streampipes-archetype-extensions-jvm/src/main/resources/archetype-resources/pom.xml
  archetypes/streampipes-archetype-extensions-jvm/src/main/resources/archetype-resources/src/main/java/Init.java
  archetypes/streampipes-archetype-extensions-jvm/src/main/resources/archetype-resources/src/main/java/pe/__packageName__/__classNamePrefix__DataProcessor.java
  archetypes/streampipes-archetype-extensions-jvm/src/main/resources/archetype-resources/src/main/java/pe/__packageName__/__classNamePrefix__DataSink.java
  archetypes/streampipes-archetype-extensions-jvm/src/main/resources/archetype-resources/src/main/java/pe/__packageName__/__classNamePrefix__GenericAdapter.java
  archetypes/streampipes-archetype-extensions-jvm/src/main/resources/archetype-resources/src/main/java/pe/__packageName__/__classNamePrefix__SpecificAdapter.java
  archetypes/streampipes-archetype-extensions-jvm/src/main/resources/archetype-resources/src/main/resources/__package__.pe.__packageName__.genericadapter/documentation.md
  archetypes/streampipes-archetype-extensions-jvm/src/main/resources/archetype-resources/src/main/resources/__package__.pe.__packageName__.genericadapter/icon.png
  archetypes/streampipes-archetype-extensions-jvm/src/main/resources/archetype-resources/src/main/resources/__package__.pe.__packageName__.genericadapter/strings.en
  archetypes/streampipes-archetype-extensions-jvm/src/main/resources/archetype-resources/src/main/resources/__package__.pe.__packageName__.specificadapter/documentation.md
  archetypes/streampipes-archetype-extensions-jvm/src/main/resources/archetype-resources/src/main/resources/__package__.pe.__packageName__.specificadapter/icon.png
  archetypes/streampipes-archetype-extensions-jvm/src/main/resources/archetype-resources/src/main/resources/__package__.pe.__packageName__.specificadapter/strings.en
  streampipes-client-python/setup.py
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/helpers/Labels.java
Labels: dependencies, java, python, backend, documentation

#1733 feature: introduce admonitions to warn about dependency issue in docs
  streampipes-client-python/docs/index.md
  streampipes-client-python/setup.py
Labels: dependencies, python, documentation

#1743 [hotfix] Keep pipelineIds when importing pipelines, reduce logging in…
  streampipes-commons/src/main/java/org/apache/streampipes/commons/networking/Networking.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/pipeline/PipelineManager.java
Labels: java, backend

#1744 [hotfix] Disable prebuild run on postinstall
  ui/package.json
  ui/src/app/core-ui/static-properties/static-free-input/static-free-input.component.scss
  ui/src/scss/sp/colors.scss
Labels: dependencies, ui

#1745 [hotfix] Return 404 instead of 400 when requesting resources over client
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/pe/DataProcessorResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/pe/DataSinkResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/pe/DataStreamResource.java
Labels: java, backend

#1758 [hotfix] Improve handling of data lake measures in API
  streampipes-model/src/main/java/org/apache/streampipes/model/datalake/DataLakeMeasure.java
  streampipes-platform-services/src/main/java/org/apache/streampipes/ps/DataLakeMeasureResourceV4.java
  streampipes-rest-shared/src/main/java/org/apache/streampipes/rest/shared/impl/AbstractSharedRestInterface.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/impl/DataLakeStorageImpl.java
Labels: java, backend

#1737 #1374: Convenient columns query parameter for data lake measure
  streampipes-client-python/streampipes/endpoint/api/data_lake_measure.py
  streampipes-client-python/tests/endpoint/test_data_lake_measure.py
Labels: python, testing, breaking change

#1775 Fix Helm Chart Upgrade Failure (#1546)
  installer/k8s/values.yaml
Labels: installer, helm

#1774 Replace forbidden keywords in data lake measure (#1769)
  streampipes-data-explorer-commons/pom.xml
  streampipes-data-explorer-commons/src/main/java/org/apache/streampipes/dataexplorer/commons/DataExplorerUtils.java
  streampipes-data-explorer-commons/src/main/java/org/apache/streampipes/dataexplorer/commons/sanitizer/MeasureNameSanitizer.java
  streampipes-data-explorer-commons/src/test/java/org/apache/streampipes/dataexplorer/commons/sanitizer/MeasureNameSanitizerTest.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/datalake/PersistedDataStreamResource.java
Labels: dependencies, java, backend, testing

#1783 Fix assignment of default time range in data download dialog (#1642)
  ui/src/app/core-ui/data-download-dialog/components/select-data/select-data-range/select-data-range.component.ts
Labels: ui

#1785 Delete pipeline-related notifications upon pipeline deletion (#1533)
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/pipeline/PipelineManager.java
  streampipes-resource-management/src/main/java/org/apache/streampipes/resource/management/NotificationsResourceManager.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/INotificationStorage.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/impl/NotificationStorageImpl.java
  ui/src/app/notifications/notifications.component.html
  ui/src/app/notifications/service/notifications.service.ts
Labels: java, ui, backend

#1786 add probes to Streampipes' kubernetes deployment ( #1781 )
  installer/k8s/templates/core/backend-deployment.yaml
  installer/k8s/templates/core/ui-deployment.yaml
  installer/k8s/templates/extensions/pipeline-elements/extensions-all-iiot-deployment.yaml
  installer/k8s/templates/external/consul/consul-deployment.yaml
  installer/k8s/templates/external/couchdb/couchdb-deployment.yaml
  installer/k8s/templates/external/influxdb/influxdb-deployment.yaml
  installer/k8s/templates/external/kafka/kafka-deployment.yaml
  installer/k8s/templates/external/nats/nats-deployment.yaml
  installer/k8s/templates/external/zookeeper/zookeeper-deployment.yaml
  installer/k8s/values.yaml
Labels: installer, helm

#1788 Improve monitoring of adapters and pipelines (#1787)
  streampipes-extensions-api/src/main/java/org/apache/streampipes/extensions/api/connect/context/IAdapterRuntimeContext.java
  streampipes-extensions-api/src/main/java/org/apache/streampipes/extensions/api/monitoring/FixedSizeList.java
  streampipes-extensions-api/src/main/java/org/apache/streampipes/extensions/api/monitoring/IExtensionsLogger.java
  streampipes-extensions-api/src/main/java/org/apache/streampipes/extensions/api/monitoring/SpMonitoringManager.java
  streampipes-extensions-api/src/main/java/org/apache/streampipes/extensions/api/pe/context/RuntimeContext.java
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/connect/AdapterWorkerManagement.java
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/connect/PullAdapterScheduler.java
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/connect/adapter/preprocessing/elements/SendToBrokerAdapterSink.java
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/context/AdapterContextGenerator.java
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/context/SpAdapterRuntimeContext.java
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/monitoring/ExtensionsLogger.java
  streampipes-extensions-management/src/test/java/org/apache/streampipes/extensions/management/connect/AdapterWorkerManagementTest.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/adapters/iolink/IfmAlMqttAdapter.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/adapters/simulator/machine/MachineDataSimulator.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/protocol/stream/FileReplayAdapter.java
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/java/org/apache/streampipes/processors/geo/jvm/jts/processor/validation/complex/TopologyValidationProcessor.java
  streampipes-model/src/main/java/org/apache/streampipes/model/monitoring/SpLogEntry.java
  streampipes-model/src/main/java/org/apache/streampipes/model/monitoring/SpLogLevel.java
  streampipes-model/src/main/java/org/apache/streampipes/model/monitoring/SpLogMessage.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/monitoring/pipeline/ExtensionsLogProvider.java
  streampipes-platform-services/src/main/java/org/apache/streampipes/ps/DataLakeResourceV4.java
  streampipes-rest-extensions/src/main/java/org/apache/streampipes/rest/extensions/connect/AdapterWorkerResource.java
  streampipes-rest-extensions/src/main/java/org/apache/streampipes/rest/extensions/monitoring/MonitoringResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/connect/AdapterResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/connect/GuessResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/connect/RuntimeResolvableResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/pe/DataProcessorResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/pe/DataSinkResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/pe/DataStreamResource.java
  streampipes-wrapper-standalone/src/main/java/org/apache/streampipes/wrapper/standalone/function/FunctionContext.java
  streampipes-wrapper-standalone/src/main/java/org/apache/streampipes/wrapper/standalone/function/StreamPipesFunction.java
  streampipes-wrapper-standalone/src/main/java/org/apache/streampipes/wrapper/standalone/routing/StandaloneSpOutputCollector.java
  streampipes-wrapper-standalone/src/main/java/org/apache/streampipes/wrapper/standalone/runtime/StandaloneEventProcessorRuntime.java
  streampipes-wrapper-standalone/src/main/java/org/apache/streampipes/wrapper/standalone/runtime/StandaloneEventSinkRuntime.java
  streampipes-wrapper-standalone/src/main/java/org/apache/streampipes/wrapper/standalone/runtime/StandalonePipelineElementRuntime.java
  streampipes-wrapper/src/main/java/org/apache/streampipes/wrapper/context/SpEventProcessorRuntimeContext.java
  streampipes-wrapper/src/main/java/org/apache/streampipes/wrapper/context/SpEventSinkRuntimeContext.java
  streampipes-wrapper/src/main/java/org/apache/streampipes/wrapper/context/SpRuntimeContext.java
  streampipes-wrapper/src/main/java/org/apache/streampipes/wrapper/context/generator/DataProcessorContextGenerator.java
  streampipes-wrapper/src/main/java/org/apache/streampipes/wrapper/context/generator/DataSinkContextGenerator.java
  ui/projects/streampipes/platform-services/src/lib/model/gen/streampipes-model.ts
  ui/projects/streampipes/shared-ui/src/lib/components/basic-nav-tabs/basic-nav-tabs.component.html
  ui/projects/streampipes/shared-ui/src/lib/components/sp-exception-message/exception-details-dialog/exception-details-dialog.component.html
  ui/projects/streampipes/shared-ui/src/lib/components/sp-exception-message/exception-details-dialog/exception-details-dialog.component.ts
  ui/projects/streampipes/shared-ui/src/lib/components/sp-exception-message/sp-exception-message.component.html
  ui/projects/streampipes/shared-ui/src/lib/components/sp-exception-message/sp-exception-message.component.ts
  ui/src/app/connect/components/adapter-configuration/schema-editor/error-message/error-message.component.ts
  ui/src/app/connect/components/adapter-configuration/schema-editor/event-schema/event-schema.component.ts
  ui/src/app/connect/components/existing-adapters/existing-adapters.component.ts
  ui/src/app/core-ui/static-properties/static-runtime-resolvable-input/base-runtime-resolvable-input.ts
  ui/src/app/data-explorer/components/widget/data-explorer-dashboard-widget.component.html
  ui/src/app/data-explorer/components/widget/data-explorer-dashboard-widget.component.ts
  ui/src/app/data-explorer/components/widgets/base/base-data-explorer-widget.directive.ts
  ui/src/app/data-explorer/components/widgets/base/data-explorer-widget-data.ts
  ui/src/app/login/components/startup/startup.component.scss
Labels: java, ui, pipeline elements, connect, backend, testing

#1797 Fix width of aggregation box in data explorer (#1794)
  ui/src/app/data-explorer/components/designer-panel/data-settings/field-selection/field-selection.component.html
  ui/src/app/data-explorer/components/designer-panel/data-settings/filter-selection-panel/filter-selection-panel.component.html
  ui/src/scss/sp/sp-theme.scss
Labels: ui
