Repository apache/streampipes, pull requests merged in 2023-08, with the labels that each got.

#1806 Refactor required streams for python functions
  streampipes-client-python/docs/tutorials/3-getting-live-data-from-the-streampipes-data-stream.ipynb
  streampipes-client-python/streampipes/function_zoo/river_function.py
  streampipes-client-python/streampipes/functions/streampipes_function.py
  streampipes-client-python/tests/functions/test_function_handler.py
Labels: python, refactoring, testing

#1809 Improve k8s configuration
  installer/k8s/README.md
  installer/k8s/templates/core/backend-deployment.yaml
  installer/k8s/templates/core/ui-configmap.yaml
  installer/k8s/templates/core/ui-deployment.yaml
  installer/k8s/templates/extensions/pipeline-elements/extensions-all-iiot-deployment.yaml
  installer/k8s/templates/extensions/pipeline-elements/extensions-all-iiot-service.yaml
  installer/k8s/templates/external/consul/consul-deployment.yaml
  installer/k8s/templates/external/consul/consul-pv-pvc.yaml
  installer/k8s/templates/external/consul/consul-service.yaml
  installer/k8s/templates/external/couchdb/couchdb-deployment.yaml
  installer/k8s/templates/external/couchdb/couchdb-pv-pvc.yaml
  installer/k8s/templates/external/couchdb/couchdb-service.yaml
  installer/k8s/templates/external/influxdb/influxdb-service.yaml
  installer/k8s/templates/external/kafka/kafka-deployment.yaml
  installer/k8s/templates/external/kafka/kafka-pvc.yaml
  installer/k8s/templates/external/kafka/kafka-service.yaml
  installer/k8s/templates/external/nats/nats-deployment.yaml
  installer/k8s/templates/external/nats/nats-service.yaml
  installer/k8s/templates/external/zookeeper/zookeeper-deployment.yaml
  installer/k8s/templates/external/zookeeper/zookeeper-pvc.yaml
  installer/k8s/templates/external/zookeeper/zookeeper-service.yaml
  installer/k8s/values.yaml
Labels: installer, documentation, helm

#1813 Improve service name and port description
  installer/k8s/README.md
  installer/k8s/templates/core/backend-deployment.yaml
  installer/k8s/templates/core/ui-deployment.yaml
  installer/k8s/templates/external/consul/consul-deployment.yaml
  installer/k8s/templates/external/consul/consul-service.yaml
  installer/k8s/templates/external/influxdb/influxdb-deployment.yaml
  installer/k8s/templates/external/influxdb/influxdb-service.yaml
  installer/k8s/templates/external/nats/nats-deployment.yaml
  installer/k8s/values.yaml
Labels: installer, documentation, helm

#1820 Add Pulsar's Messaging Layer to a Helm Deployment
  installer/k8s/README.md
  installer/k8s/templates/core/backend-deployment.yaml
  installer/k8s/templates/external/pulsar/pulsar-deployment.yml
  installer/k8s/templates/external/pulsar/pulsar-pvc.yml
  installer/k8s/templates/external/pulsar/pulsar-service.yml
  installer/k8s/values.yaml
Labels: installer, documentation, helm

#1829 [hotfix] Fix layout issues and validation in data explorer
  ui/src/app/core/components/toolbar/toolbar.component.html
  ui/src/app/core/core.module.ts
  ui/src/app/core/pipes/shorten.pipe.ts
  ui/src/app/data-explorer/components/designer-panel/data-settings/filter-selection-panel/filter-selection-panel.component.html
  ui/src/app/data-explorer/components/overview/data-explorer-dashboard-overview.component.ts
  ui/src/app/data-explorer/dialogs/edit-dashboard/data-explorer-edit-data-view-dialog.component.html
  ui/src/scss/sp/layout.scss
Labels: bug, ui

#1817 chore: introduce poetry as dependency management tool
  .github/workflows/pr-validation.yml
  .github/workflows/pypi-deployment.yml
  .github/workflows/python-docs.yml
  pom.xml
  streampipes-client-python/.pre-commit-config.yaml
  streampipes-client-python/Makefile
  streampipes-client-python/README.md
  streampipes-client-python/docs/getting-started/developing.md
  streampipes-client-python/docs/img/interrogate_badge.svg
  streampipes-client-python/poetry.lock
  streampipes-client-python/pyproject.toml
  streampipes-client-python/setup.py
  streampipes-client-python/streampipes/client/client.py
  streampipes-client-python/streampipes/endpoint/api/data_lake_measure.py
  streampipes-client-python/streampipes/functions/broker/kafka/kafka_consumer.py
  streampipes-client-python/streampipes/functions/broker/kafka/kafka_publisher.py
  streampipes-client-python/streampipes/functions/broker/nats/nats_consumer.py
  streampipes-client-python/streampipes/functions/broker/nats/nats_publisher.py
  streampipes-client-python/streampipes/model/resource/data_lake_measure.py
  streampipes-client-python/streampipes/model/resource/data_series.py
  streampipes-client-python/streampipes/model/resource/data_stream.py
  streampipes-client-python/streampipes/model/resource/function_definition.py
  streampipes-client-python/streampipes/model/resource/query_result.py
  streampipes-client-python/streampipes/model/resource/version.py
  streampipes-client-python/tests/client/test_client.py
  streampipes-client-python/tests/client/test_data_lake_series.py
  tools/maven/suppressions.xml
Labels: dependencies, python, documentation, testing, gh-actions, no release note

#1834 [hotfix] Fix MDC layout issue in permission dialog
  ui/src/app/core-ui/object-permission-dialog/object-permission-dialog.component.html
Labels: ui

#1844 chore: add Poetry badge to our README
  streampipes-client-python/README.md
Labels: documentation

#1852 Remove sources-vehicle-simulator from cli-installer full env.
  installer/cli/environments/full
Labels: installer

#1853 ci: add missing poetry statement & correct action parameter
  .github/workflows/pr-validation.yml
  .github/workflows/python-docs.yml
Labels: gh-actions
