Repository apache/streampipes, pull requests merged in 2023-02, with the labels that each got.

#1142 [#1104] add GitHub workflow to label PRs automatically
  .github/pr-labeler-config.yml
  .github/workflows/pr-labeler.yaml
Labels: enhancement, gh-actions, no release note

#1205 [#1197] add github-actions to denpendabot config
  .github/dependabot.yml
Labels: gh-actions

#1191 [#1190] Apache TubeMQ (InLong) Adapter & Sink
  installer/cli/deploy/standalone/tubemq/docker-compose.dev.yml
  installer/cli/deploy/standalone/tubemq/docker-compose.yml
  pom.xml
  streampipes-extensions/streampipes-connect-adapters-iiot/pom.xml
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/ConnectAdapterIiotInit.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/protocol/stream/TubeMQProtocol.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/resources/org.apache.streampipes.connect.iiot.protocol.stream.tubemq/documentation.md
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/resources/org.apache.streampipes.connect.iiot.protocol.stream.tubemq/icon.png
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/resources/org.apache.streampipes.connect.iiot.protocol.stream.tubemq/strings.en
  streampipes-extensions/streampipes-sinks-brokers-jvm/pom.xml
  streampipes-extensions/streampipes-sinks-brokers-jvm/src/main/java/org/apache/streampipes/sinks/brokers/jvm/BrokersJvmInit.java
  streampipes-extensions/streampipes-sinks-brokers-jvm/src/main/java/org/apache/streampipes/sinks/brokers/jvm/tubemq/TubeMQParameters.java
  streampipes-extensions/streampipes-sinks-brokers-jvm/src/main/java/org/apache/streampipes/sinks/brokers/jvm/tubemq/TubeMQPublisherSink.java
  streampipes-extensions/streampipes-sinks-brokers-jvm/src/main/resources/org.apache.streampipes.sinks.brokers.jvm.tubemq/documentation.md
  streampipes-extensions/streampipes-sinks-brokers-jvm/src/main/resources/org.apache.streampipes.sinks.brokers.jvm.tubemq/icon.png
  streampipes-extensions/streampipes-sinks-brokers-jvm/src/main/resources/org.apache.streampipes.sinks.brokers.jvm.tubemq/strings.en
Labels: enhancement, java, pipeline elements, connect

#1198 Dependabot/maven/bcprov.version 1.70
  pom.xml
  streampipes-extensions/streampipes-connect-adapters-iiot/pom.xml
  streampipes-extensions/streampipes-connect-adapters/pom.xml
Labels: dependencies, java

#1220 chore(gh-actions): improve pr labeling workflow
  .github/pr-labeler-config.yml
  .github/workflows/pr-labeler.yml
Labels: gh-actions

#1228 chore(python-client): rename python package to `streampipes`
  .github/workflows/pr-validation.yml
  streampipes-client-python/.pre-commit-config.yaml
  streampipes-client-python/Makefile
  streampipes-client-python/README.md
  streampipes-client-python/docs/examples/1-introduction-to-streampipes-python-client.ipynb
  streampipes-client-python/docs/examples/2-extracting-data-from-the-streampipes-data-lake.ipynb
  streampipes-client-python/docs/examples/3-getting-live-data-from-the-streampipes-data-stream.ipynb
  streampipes-client-python/docs/getting-started/quickstart.md
  streampipes-client-python/docs/index.md
  streampipes-client-python/docs/scripts/gen_ref_pages.py
  streampipes-client-python/setup.py
  streampipes-client-python/streampipes/__init__.py
  streampipes-client-python/streampipes/__version__.py
  streampipes-client-python/streampipes/client/__init__.py
  streampipes-client-python/streampipes/client/client.py
  streampipes-client-python/streampipes/client/config.py
  streampipes-client-python/streampipes/client/credential_provider.py
  streampipes-client-python/streampipes/endpoint/__init__.py
  streampipes-client-python/streampipes/endpoint/api/__init__.py
  streampipes-client-python/streampipes/endpoint/api/data_lake_measure.py
  streampipes-client-python/streampipes/endpoint/api/data_stream.py
  streampipes-client-python/streampipes/endpoint/endpoint.py
  streampipes-client-python/streampipes/endpoint/exceptions.py
  streampipes-client-python/streampipes/endpoint/messaging/__init__.py
  streampipes-client-python/streampipes/functions/__init__.py
  streampipes-client-python/streampipes/functions/broker/__init__.py
  streampipes-client-python/streampipes/functions/broker/broker.py
  streampipes-client-python/streampipes/functions/broker/nats_broker.py
  streampipes-client-python/streampipes/functions/function_handler.py
  streampipes-client-python/streampipes/functions/registration.py
  streampipes-client-python/streampipes/functions/streampipes_function.py
  streampipes-client-python/streampipes/functions/utils/__init__.py
  streampipes-client-python/streampipes/functions/utils/async_iter_handler.py
  streampipes-client-python/streampipes/functions/utils/data_stream_context.py
  streampipes-client-python/streampipes/functions/utils/function_context.py
  streampipes-client-python/streampipes/model/__init__.py
  streampipes-client-python/streampipes/model/common.py
  streampipes-client-python/streampipes/model/container/__init__.py
  streampipes-client-python/streampipes/model/container/data_lake_measures.py
  streampipes-client-python/streampipes/model/container/data_streams.py
  streampipes-client-python/streampipes/model/container/resource_container.py
  streampipes-client-python/streampipes/model/resource/__init__.py
  streampipes-client-python/streampipes/model/resource/data_lake_measure.py
  streampipes-client-python/streampipes/model/resource/data_lake_series.py
  streampipes-client-python/streampipes/model/resource/data_stream.py
  streampipes-client-python/streampipes/model/resource/function_definition.py
  streampipes-client-python/streampipes/model/resource/resource.py
  streampipes-client-python/tests/client/test_client.py
  streampipes-client-python/tests/client/test_credential_provider.py
  streampipes-client-python/tests/client/test_data_lake_series.py
  streampipes-client-python/tests/client/test_endpoint.py
  streampipes-client-python/tests/functions/test_function_handler.py
Labels: dependencies, python, documentation, testing

#1229 chore(gh-actions): configure custom label for GitHub actions
  .github/dependabot.yml
Labels: gh-actions

#1252 chore(docs): describe official support of Java 17
  README.md
  streampipes-extensions/.github/workflows/build.yml
Labels: documentation

#1267 Fix logging configuration (#1266)
  streampipes-service-base/src/main/resources/logback.xml
  streampipes-service-core/src/main/resources/application.properties
  streampipes-service-extensions/src/main/resources/application.properties
Labels: bug, backend, no release note

#1275 Properly override messaging protocol when importing resources (#1274)
  streampipes-data-export/src/main/java/org/apache/streampipes/export/resolver/AbstractResolver.java
  streampipes-data-export/src/main/java/org/apache/streampipes/export/resolver/AdapterResolver.java
  streampipes-data-export/src/main/java/org/apache/streampipes/export/resolver/DataSourceResolver.java
  streampipes-data-export/src/main/java/org/apache/streampipes/export/resolver/PipelineResolver.java
  streampipes-data-export/src/main/java/org/apache/streampipes/export/utils/EventGroundingProcessor.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/execution/provider/StoredPipelineElementProvider.java
Labels: bug, java, backend

#1263 feature(gh-actions): create workflow that provides python docs as artifact weekly
  .github/workflows/python-docs.yml
Labels: gh-actions, no release note

#1250 [#1245] provide a temporary workaround for inconsistency in eventGrounding
  streampipes-client-python/streampipes/model/common.py
  streampipes-client-python/streampipes/model/resource/data_stream.py
  streampipes-client-python/tests/client/test_endpoint.py
  streampipes-client-python/tests/model/__init__.py
  streampipes-client-python/tests/model/resource/__init__.py
  streampipes-client-python/tests/model/resource/test_data_stream.py
Labels: python, testing, no release note

#1280 Add workflow to deploy Python library to PyPi (#1230)
  .github/workflows/pypi-deployment.yml
Labels: python, gh-actions

#1251 chore: improve python docs and fix some minor inconsistencies
  streampipes-client-python/README.md
  streampipes-client-python/docs/examples/3-getting-live-data-from-the-streampipes-data-stream.ipynb
  streampipes-client-python/docs/examples/4-using-online-machine-learning-on-a-streampipes-data-stream.ipynb
  streampipes-client-python/docs/getting-started/quickstart.md
  streampipes-client-python/docs/index.md
  streampipes-client-python/mkdocs.yml
Labels: documentation, no release note

#1224 Provide environment variables via Environment provider (#1223)
  streampipes-commons/src/main/java/org/apache/streampipes/commons/constants/CustomEnvs.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/constants/DefaultEnvValues.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/constants/Envs.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/environment/DefaultEnvironment.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/environment/Environment.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/environment/Environments.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/environment/variable/EnvironmentVariable.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/networking/Networking.java
  streampipes-config/src/main/java/org/apache/streampipes/config/backend/BackendConfig.java
  streampipes-config/src/main/java/org/apache/streampipes/config/backend/BackendConfigKeys.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/DataLakeManagementV4.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/query/DataExplorerQuery.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/sdk/DataLakeQueryBuilder.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/v4/query/DataExplorerQueryV4.java
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/client/StreamPipesClientRuntimeConnectionResolver.java
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/connect/adapter/Adapter.java
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/connect/adapter/preprocessing/elements/SendToBrokerAdapterSink.java
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/connect/adapter/preprocessing/elements/SendToJmsAdapterSink.java
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/connect/adapter/preprocessing/elements/SendToKafkaAdapterSink.java
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/connect/adapter/preprocessing/elements/SendToMqttAdapterSink.java
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/connect/adapter/preprocessing/elements/SendToNatsAdapterSink.java
  streampipes-extensions/streampipes-sources-vehicle-simulator/src/main/java/org/apache/streampipes/sources/vehicle/simulator/simulator/VehicleDataSimulator.java
  streampipes-extensions/streampipes-sources-watertank-simulator/src/main/java/org/apache/streampipes/sources/watertank/simulator/utils/WatertankDataSimulator.java
  streampipes-messaging-kafka/src/main/java/org/apache/streampipes/messaging/kafka/SpKafkaProducer.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/runtime/PipelineElementRuntimeInfoFetcher.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/setup/AutoInstallation.java
  streampipes-resource-management/src/main/java/org/apache/streampipes/resource/management/UserResourceManager.java
  streampipes-rest-extensions/src/main/java/org/apache/streampipes/rest/extensions/pe/InvocablePipelineElementResource.java
  streampipes-security-jwt/src/main/java/org/apache/streampipes/security/jwt/KeyGenerator.java
  streampipes-service-core/src/main/java/org/apache/streampipes/service/core/StreamPipesEnvChecker.java
  streampipes-service-discovery-consul/src/main/java/org/apache/streampipes/svcdiscovery/consul/ConsulProvider.java
  streampipes-service-extensions/src/main/java/org/apache/streampipes/service/extensions/security/WebSecurityConfig.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/utils/CouchDbConfig.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/utils/Utils.java
  streampipes-user-management/src/main/java/org/apache/streampipes/user/management/encryption/SecretEncryptionManager.java
  streampipes-user-management/src/main/java/org/apache/streampipes/user/management/jwt/JwtTokenProvider.java
  streampipes-wrapper-standalone/src/main/java/org/apache/streampipes/wrapper/standalone/function/StreamPipesFunction.java
Labels: java, pipeline elements, backend

#1192 [SP-1102] - GET/v2/info/versions update and removement of deprecated endpoints
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/PipelineResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/Setup.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/Version.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/pe/DataStreamResource.java
Labels: java, refactoring, backend, breaking change

#1295 [#1293] remove extentions management module name from its pom
  streampipes-extensions-management/pom.xml
Labels: dependencies, java, no release note

#1268 [#1040] rework schema definitions in geo processors
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/java/org/apache/streampipes/processors/geo/jvm/jts/processor/latlngtojtspoint/LatLngToJtsPointProcessor.java
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/java/org/apache/streampipes/processors/geo/jvm/jts/processor/reprojection/ReprojectionProcessor.java
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/java/org/apache/streampipes/processors/geo/jvm/jts/processor/trajectory/TrajectoryFromPointsProcessor.java
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/java/org/apache/streampipes/processors/geo/jvm/latlong/processor/distancecalculator/haversine/HaversineDistanceCalculatorProcessor.java
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/java/org/apache/streampipes/processors/geo/jvm/latlong/processor/speedcalculator/SpeedCalculatorProcessor.java
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/resources/org.apache.streampipes.processors.geo.jvm.jts.processor.reprojection/strings.en
Labels: java, pipeline elements, backend, breaking change

#1319 chore(ui): provide some more references for support in the 'about' view
  ui/src/app/info/about/about.component.html
Labels: enhancement, ui

#1286 Update data stream generator (#1258)
  streampipes-client-python/streampipes/function_zoo/river_function.py
  streampipes-client-python/streampipes/functions/utils/data_stream_generator.py
  streampipes-client-python/streampipes/model/common.py
  streampipes-client-python/streampipes/model/resource/data_stream.py
Labels: python, refactoring

#1326 chore(docs): add information on how to develop the UI locally
  ui/README.md
Labels: ui, documentation, no release note

#1306 [#1296] Swinging Door Trending (SDT) Filter Processor
  streampipes-extensions/streampipes-processors-filters-jvm/src/main/java/org/apache/streampipes/processors/filters/jvm/FiltersJvmInit.java
  streampipes-extensions/streampipes-processors-filters-jvm/src/main/java/org/apache/streampipes/processors/filters/jvm/processor/sdt/SwingingDoorTrendingFilter.java
  streampipes-extensions/streampipes-processors-filters-jvm/src/main/java/org/apache/streampipes/processors/filters/jvm/processor/sdt/SwingingDoorTrendingFilterProcessor.java
  streampipes-extensions/streampipes-processors-filters-jvm/src/main/resources/org.apache.streampipes.processors.filters.jvm.sdt/documentation.md
  streampipes-extensions/streampipes-processors-filters-jvm/src/main/resources/org.apache.streampipes.processors.filters.jvm.sdt/icon.png
  streampipes-extensions/streampipes-processors-filters-jvm/src/main/resources/org.apache.streampipes.processors.filters.jvm.sdt/strings.en
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/builder/AbstractConfigurablePipelineElementBuilder.java
Labels: enhancement, java, pipeline elements, backend, documentation

#1334 Rename endpoint to fetch all pipelines from API (#1333)
  streampipes-client/src/main/java/org/apache/streampipes/client/api/DataProcessorApi.java
  streampipes-client/src/main/java/org/apache/streampipes/client/api/DataSinkApi.java
  streampipes-client/src/main/java/org/apache/streampipes/client/api/DataStreamApi.java
  streampipes-client/src/main/java/org/apache/streampipes/client/api/PipelineApi.java
  streampipes-resource-management/src/main/java/org/apache/streampipes/resource/management/AbstractPipelineElementResourceManager.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/pe/DataProcessorResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/pe/DataSinkResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/pe/DataStreamResource.java
  ui/projects/streampipes/platform-services/src/lib/apis/pipeline-element.service.ts
  ui/projects/streampipes/platform-services/src/lib/apis/pipeline.service.ts
  ui/src/app/assets/dialog/base-asset-links.directive.ts
  ui/src/app/home/components/status.component.ts
  ui/src/app/notifications/notifications.component.ts
  ui/src/app/pipelines/pipelines.component.ts
Labels: java, ui, backend

#1338 Update all version to 0.92.0-SNAPSHOT
  archetypes/streampipes-archetype-extensions-jvm/src/main/resources/archetype-resources/pom.xml
  archetypes/streampipes-archetype-pe-processors-flink/src/main/resources/archetype-resources/pom.xml
  archetypes/streampipes-archetype-pe-sinks-flink/src/main/resources/archetype-resources/pom.xml
  installer/cli/.env
  installer/cli/README.md
  installer/compose/.env
  installer/compose/README.md
  installer/k8s/Chart.yaml
  installer/k8s/README.md
  installer/k8s/values.yaml
  ui/package-lock.json
  ui/package.json
Labels: dependencies, ui, installer, documentation, helm

#1337 [#1336] Add a builder to create SpQueryResult objects
  streampipes-model/src/main/java/org/apache/streampipes/model/datalake/DataSeries.java
  streampipes-model/src/main/java/org/apache/streampipes/model/datalake/DataSeriesBuilder.java
  streampipes-model/src/main/java/org/apache/streampipes/model/datalake/SpQueryResultBuilder.java
  streampipes-model/src/test/java/org/apache/streampipes/model/datalake/DataSeriesBuilderTest.java
  streampipes-model/src/test/java/org/apache/streampipes/model/datalake/SpQueryResultBuilderTest.java
Labels: java, backend, testing

#1310 chore(python-docs): improve getting started section
  streampipes-client-python/docs/getting-started/developing.md
  streampipes-client-python/docs/getting-started/first-steps.md
  streampipes-client-python/docs/getting-started/installation.md
  streampipes-client-python/mkdocs.yml
Labels: documentation

#1300 feat: Add input validation for API token name (#793)
  ui/src/app/profile/components/token/token-management-settings.component.html
  ui/src/app/profile/components/token/token-management-settings.component.scss
  ui/src/app/profile/components/token/token-management-settings.component.ts
Labels: enhancement, ui, javascript

#1340 [#1291] Can't aggregate calculation results of the Math processing element
  streampipes-data-explorer-commons/src/main/java/org/apache/streampipes/dataexplorer/commons/influx/InfluxStore.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/helpers/EpProperties.java
  ui/src/app/data-explorer/components/widgets/base/base-widget-config.ts
  ui/src/app/data-explorer/services/data-explorer-field-provider-service.ts
Labels: java, ui, backend

#1311 chore(ci): improve caching for dependencies in pr-validation workflow
  .github/workflows/build.yml
  .github/workflows/cypress-test.yml
  .github/workflows/pr-validation.yml
  .github/workflows/pypi-deployment.yml
  .github/workflows/python-docs.yml
Labels: gh-actions

#1349 [#1254]: extend data lake measure endpoints get method to process query parameters
  streampipes-client-python/README.md
  streampipes-client-python/docs/examples/1-introduction-to-streampipes-python-client.ipynb
  streampipes-client-python/docs/examples/2-extracting-data-from-the-streampipes-data-lake.ipynb
  streampipes-client-python/docs/examples/3-getting-live-data-from-the-streampipes-data-stream.ipynb
  streampipes-client-python/docs/examples/4-using-online-machine-learning-on-a-streampipes-data-stream.ipynb
  streampipes-client-python/docs/img/tutorial-preparation.gif
  streampipes-client-python/streampipes/client/client.py
  streampipes-client-python/streampipes/endpoint/api/data_lake_measure.py
  streampipes-client-python/streampipes/endpoint/api/data_stream.py
  streampipes-client-python/streampipes/endpoint/endpoint.py
  streampipes-client-python/tests/client/test_data_lake_series.py
  streampipes-client-python/tests/endpoint/__init__.py
  streampipes-client-python/tests/endpoint/test_data_lake_measure.py
Labels: enhancement, python, documentation, testing

#1344 1207 improve helm charts
  docker-compose.yml
  installer/cli/deploy/standalone/ui/docker-compose.yml
  installer/compose/docker-compose.full.yml
  installer/compose/docker-compose.nats.yml
  installer/compose/docker-compose.yml
  installer/k8s/templates/core/backend-deployment.yaml
  installer/k8s/templates/core/backend-pv-pvc.yaml
  installer/k8s/templates/core/backend-pvc.yaml
  installer/k8s/templates/core/backend-service.yaml
  installer/k8s/templates/core/ui-configmap.yaml
  installer/k8s/templates/core/ui-deployment.yaml
  installer/k8s/templates/core/ui-ingress.yaml
  installer/k8s/templates/core/ui-ingressroute.yaml
  installer/k8s/templates/core/ui-service.yaml
  installer/k8s/templates/extensions/pipeline-elements/extensions-all-iiot-deployment.yaml
  installer/k8s/templates/extensions/pipeline-elements/extensions-all-iiot-service.yaml
  installer/k8s/templates/extensions/pipeline-elements/extensions-all-jvm-service.yaml
  installer/k8s/templates/extensions/pipeline-elements/pipeline-elements-all-flink-deployment.yaml
  installer/k8s/templates/external/consul/consul-deployment.yaml
  installer/k8s/templates/external/consul/consul-pv-pvc.yaml
  installer/k8s/templates/external/consul/consul-service.yaml
  installer/k8s/templates/external/couchdb/couchdb-deployment.yaml
  installer/k8s/templates/external/couchdb/couchdb-pv-pvc.yaml
  installer/k8s/templates/external/couchdb/couchdb-service.yaml
  installer/k8s/templates/external/flink/jobmanager-deployment.yaml
  installer/k8s/templates/external/flink/taskmanager-deployment.yaml
  installer/k8s/templates/external/influxdb/influxdb-deployment.yaml
  installer/k8s/templates/external/influxdb/influxdb-pvc.yaml
  installer/k8s/templates/external/influxdb/influxdb-service.yaml
  installer/k8s/templates/external/influxdb/influxdb2-pvc.yaml
  installer/k8s/templates/external/nats/nats-deployment.yaml
  installer/k8s/templates/external/nats/nats-service.yaml
  installer/k8s/values.yaml
  ui/Dockerfile
  ui/nginx_config/default.conf
  ui/nginx_config/ssl.conf
Labels: ui, installer, helm

#1350 [hotfix] Use try-with-resource way to fix the potential InfluxDB connection leak in `DataExplorerQueryV4#executeQuery`
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/v4/query/DataExplorerQueryV4.java
Labels: java, backend

#1356 chore: reify project url in package metadata
  streampipes-client-python/setup.py
Labels: dependencies, python
