Repository apache/streampipes, pull requests merged in 2023-11, with the labels that each got.

#2114 fix(#2112): Properly update broker configs
  ui/src/app/configuration/messaging-configuration/broker-config/broker-config.component.html
  ui/src/app/configuration/messaging-configuration/broker-config/broker-config.component.ts
  ui/src/app/configuration/messaging-configuration/messaging-configuration.component.html
Labels: ui

#2116 fix(tests): Fix path when deleting adapters
  ui/projects/streampipes/platform-services/src/lib/apis/adapter.service.ts
Labels: ui

#2110 Added two new tests for editing adapters and pipelines
  ui/cypress/support/builder/PipelineElementBuilder.ts
  ui/cypress/tests/adapter/editAdapter.smoke.spec.ts
  ui/cypress/tests/adapter/editAdapterSettingsAndPipeline.spec.ts
  ui/cypress/tests/adapter/editAdapterValuesAndFields.spec.ts
  ui/src/app/connect/dialog/adapter-started/adapter-started-update-migration/adapter-started-update-migration.component.html
  ui/src/app/editor/components/pipeline-element-options/pipeline-element-options.component.html
  ui/src/app/pipelines/components/pipeline-overview/pipeline-overview.component.html
Labels: ui, testing

#2117 improvement: Remove broker dependencies from extensions management mo…
  streampipes-extensions-management/pom.xml
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/connect/adapter/AdapterPipelineGenerator.java
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/connect/adapter/preprocessing/elements/SendToBrokerAdapterSink.java
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/connect/adapter/preprocessing/elements/SendToJmsAdapterSink.java
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/connect/adapter/preprocessing/elements/SendToKafkaAdapterSink.java
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/connect/adapter/preprocessing/elements/SendToMqttAdapterSink.java
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/connect/adapter/preprocessing/elements/SendToNatsAdapterSink.java
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/connect/adapter/preprocessing/elements/SendToPulsarAdapterSink.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/config/SpOpcUaConfigExtractor.java
  streampipes-extensions/streampipes-extensions-all-iiot/pom.xml
  streampipes-extensions/streampipes-extensions-all-jvm/pom.xml
Labels: dependencies, java, backend

#2121 1980 arrays are not supported for s7 plcs
  streampipes-extensions/pom.xml
  streampipes-extensions/streampipes-connect-adapters-iiot/pom.xml
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/ConnectAdapterIiotInit.java
  streampipes-extensions/streampipes-connectors-plc/pom.xml
  streampipes-extensions/streampipes-connectors-plc/src/main/java/org/apache/streampipes/extensions/connectors/plc/adapter/migration/Plc4xS7AdapterMigrationV1.java
  streampipes-extensions/streampipes-connectors-plc/src/main/java/org/apache/streampipes/extensions/connectors/plc/adapter/modbus/ModbusConfigFile.java
  streampipes-extensions/streampipes-connectors-plc/src/main/java/org/apache/streampipes/extensions/connectors/plc/adapter/modbus/Plc4xModbusAdapter.java
  streampipes-extensions/streampipes-connectors-plc/src/main/java/org/apache/streampipes/extensions/connectors/plc/adapter/s7/Plc4xS7Adapter.java
  streampipes-extensions/streampipes-connectors-plc/src/main/java/org/apache/streampipes/extensions/connectors/plc/adapter/s7/PlcReadResponseHandler.java
  streampipes-extensions/streampipes-connectors-plc/src/main/java/org/apache/streampipes/extensions/connectors/plc/adapter/s7/config/ConfigurationParser.java
  streampipes-extensions/streampipes-connectors-plc/src/main/resources/org.apache.streampipes.connect.iiot.adapters.plc4x.modbus/documentation.md
  streampipes-extensions/streampipes-connectors-plc/src/main/resources/org.apache.streampipes.connect.iiot.adapters.plc4x.modbus/icon.png
  streampipes-extensions/streampipes-connectors-plc/src/main/resources/org.apache.streampipes.connect.iiot.adapters.plc4x.modbus/strings.en
  streampipes-extensions/streampipes-connectors-plc/src/main/resources/org.apache.streampipes.connect.iiot.adapters.plc4x.s7/documentation.md
  streampipes-extensions/streampipes-connectors-plc/src/main/resources/org.apache.streampipes.connect.iiot.adapters.plc4x.s7/icon.png
  streampipes-extensions/streampipes-connectors-plc/src/main/resources/org.apache.streampipes.connect.iiot.adapters.plc4x.s7/strings.en
  streampipes-extensions/streampipes-connectors-plc/src/test/java/org/apache/streampipes/extensions/connectors/plc/adapter/s7/config/ConfigurationParserTest.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/StaticProperties.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/builder/AbstractConfigurablePipelineElementBuilder.java
  streampipes-sdk/src/test/java/org/apache/streampipes/sdk/StaticPropertiesTest.java
Labels: dependencies, java, connect, backend, documentation, testing

#2129 feat: Use alpine-based Docker image for UI
  ui/Dockerfile
Labels: ui

#2138 Use os.environ dictionary to set environment variables.
  streampipes-client-python/docs/tutorials/1-introduction-to-streampipes-python-client.ipynb
Labels: python, documentation

#2134 improvement: Harmonize minimal setup
  .github/workflows/build.yml
  pom.xml
  streampipes-extensions/streampipes-extensions-iiot-minimal/pom.xml
  streampipes-extensions/streampipes-extensions-iiot-minimal/src/main/java/org/apache/streampipes/extensions/iiot/minimal/ExtensionsIIoTMinimalInit.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/endpoint/EndpointItemFetcher.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/health/ServiceHealthCheck.java
  streampipes-service-core-minimal/Dockerfile
  streampipes-service-core-minimal/pom.xml
  streampipes-service-core-minimal/src/main/java/org/apache/streampipes/service/core/minimal/StreamPipesCoreApplicationMinimal.java
Labels: dependencies, java, backend, gh-actions

#2131 New E2E test added for export/import pipelines
  ui/cypress/support/utils/PipelineUtils.ts
  ui/cypress/tests/adapter/editAdapterSettingsAndPipeline.spec.ts
  ui/cypress/tests/pipeline/pipelineExport.spec.ts
  ui/src/app/pipelines/components/pipeline-overview/pipeline-overview.component.html
  ui/src/app/pipelines/dialog/import-pipeline/import-pipeline-dialog.component.html
  ui/src/app/pipelines/pipelines.component.html
Labels: ui, testing

#2136 feat(#2135): Max health check intervals configurable
  streampipes-commons/src/main/java/org/apache/streampipes/commons/constants/Envs.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/environment/DefaultEnvironment.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/environment/Environment.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/health/ServiceHealthCheck.java
  streampipes-service-core/src/main/java/org/apache/streampipes/service/core/StreamPipesCoreApplication.java
Labels: java, backend

#2146 fix(#2002) Retry service registration in case services are removed be…
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/admin/MigrationResource.java
  streampipes-service-extensions/src/main/java/org/apache/streampipes/service/extensions/CoreRequestSubmitter.java
  streampipes-service-extensions/src/main/java/org/apache/streampipes/service/extensions/ExtensionsModelSubmitter.java
  streampipes-service-extensions/src/main/java/org/apache/streampipes/service/extensions/StreamPipesExtensionsServiceBase.java
Labels: java, backend

#2145 chore: Maven housekeeping
  pom.xml
  streampipes-service-base/pom.xml
  streampipes-service-core/pom.xml
Labels: dependencies

#2156 refactor: remove deprecated methods from parameter extractor
  streampipes-extensions-api/src/main/java/org/apache/streampipes/extensions/api/extractor/IParameterExtractor.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/extractor/AbstractParameterExtractor.java
Labels: java, deprecation, backend

#2139 [#1936] Adapter Deletion: Disallow Deletion of Pipelines Using Adapter but Not Owned by User
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/connect/AdapterResource.java
  ui/src/app/connect/dialog/delete-adapter-dialog/delete-adapter-dialog.component.html
  ui/src/app/connect/dialog/delete-adapter-dialog/delete-adapter-dialog.component.ts
Labels: java, ui, backend

#2158 dependencies(#2157): Clean up dependencies in dependency management
  pom.xml
  streampipes-client-api/pom.xml
  streampipes-client/pom.xml
  streampipes-commons/pom.xml
  streampipes-config/pom.xml
  streampipes-connect-management/pom.xml
  streampipes-data-explorer-commons/pom.xml
  streampipes-data-explorer/pom.xml
  streampipes-dataformat-json/pom.xml
  streampipes-extensions-api/pom.xml
  streampipes-extensions-management/pom.xml
  streampipes-extensions/pom.xml
  streampipes-extensions/streampipes-connect-adapters-iiot/pom.xml
  streampipes-extensions/streampipes-connect-adapters/pom.xml
  streampipes-extensions/streampipes-connectors-opcua/pom.xml
  streampipes-extensions/streampipes-connectors-tubemq/pom.xml
  streampipes-extensions/streampipes-extensions-all-iiot/pom.xml
  streampipes-extensions/streampipes-extensions-all-jvm/pom.xml
  streampipes-extensions/streampipes-extensions-iiot-minimal/pom.xml
  streampipes-extensions/streampipes-pipeline-elements-data-simulator/pom.xml
  streampipes-extensions/streampipes-pipeline-elements-data-simulator/src/main/java/org/apache/streampipes/pe/simulator/StreamPipesSimulationRunner.java
  streampipes-extensions/streampipes-pipeline-elements-data-simulator/src/main/java/org/apache/streampipes/pe/simulator/TopicAwareWorkflow.java
  streampipes-extensions/streampipes-pipeline-elements-experimental-flink/pom.xml
  streampipes-extensions/streampipes-processors-filters-siddhi/pom.xml
  streampipes-extensions/streampipes-sinks-brokers-jvm/pom.xml
  streampipes-extensions/streampipes-sinks-databases-jvm/pom.xml
  streampipes-extensions/streampipes-sinks-notifications-jvm/pom.xml
  streampipes-mail/pom.xml
  streampipes-pipeline-management/pom.xml
  streampipes-rest-extensions/pom.xml
  streampipes-rest/pom.xml
  streampipes-sdk/pom.xml
  streampipes-security-jwt/pom.xml
  streampipes-service-base/pom.xml
  streampipes-service-core/pom.xml
  streampipes-service-discovery-consul/pom.xml
  streampipes-service-extensions/pom.xml
  streampipes-service-extensions/src/main/java/org/apache/streampipes/service/extensions/security/WebSecurityConfig.java
  streampipes-storage-couchdb/pom.xml
  streampipes-user-management/pom.xml
  streampipes-wrapper-distributed/pom.xml
  streampipes-wrapper-flink/pom.xml
  streampipes-wrapper-siddhi/pom.xml
Labels: dependencies, java, pipeline elements, connect, backend

#2162 feat(#2161): Generate layered Docker images
  streampipes-extensions/streampipes-extensions-all-iiot/Dockerfile
  streampipes-extensions/streampipes-extensions-all-iiot/pom.xml
  streampipes-extensions/streampipes-extensions-all-jvm/Dockerfile
  streampipes-extensions/streampipes-extensions-all-jvm/pom.xml
  streampipes-extensions/streampipes-extensions-iiot-minimal/Dockerfile
  streampipes-extensions/streampipes-extensions-iiot-minimal/pom.xml
  streampipes-service-core-minimal/Dockerfile
  streampipes-service-core-minimal/pom.xml
  streampipes-service-core/Dockerfile
  streampipes-service-core/pom.xml
Labels: dependencies

#2142 Add new test for editing dashboard
  ui/cypress/tests/dashboard/editDashboardTest.spec.ts
  ui/src/app/dashboard/components/overview/dashboard-overview.component.html
  ui/src/app/dashboard/components/widget/dashboard-widget.component.html
  ui/src/app/dashboard/dialogs/add-widget/add-visualization-dialog.component.html
Labels: ui, testing

#2169 feat: Provide default broker settings from environment variables
  streampipes-commons/src/main/java/org/apache/streampipes/commons/constants/Envs.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/environment/DefaultEnvironment.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/environment/Environment.java
  streampipes-model/src/main/java/org/apache/streampipes/model/configuration/DefaultMessagingSettings.java
Labels: java, backend

#2167 bug(#2165): Fix migration for adapter instances
  streampipes-service-core/src/main/java/org/apache/streampipes/service/core/migrations/v093/AdapterMigration.java
  streampipes-service-core/src/main/java/org/apache/streampipes/service/core/migrations/v093/migrator/SpecificAdapterMigrator.java
Labels: java, backend

#2172 fix(#2166): sanitize event keys in influx sink
  streampipes-data-explorer-commons/src/main/java/org/apache/streampipes/dataexplorer/commons/influx/InfluxStore.java
  streampipes-model/src/main/java/org/apache/streampipes/model/runtime/Event.java
Labels: java, backend

#2177 deps: update Active MQ due to CVE
  pom.xml
Labels: dependencies

#2109 feat: extend FileApi with the capability to query by the original file name
  streampipes-client/src/main/java/org/apache/streampipes/client/api/FileApi.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/processor/csvmetadata/CsvMetadataEnrichmentProcessor.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/file/FileManager.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/PipelineElementFile.java
Labels: java, pipeline elements, backend

#2185 2074 Add download button for files in streampipes
  ui/cypress/support/utils/FileManagementUtils.ts
  ui/cypress/tests/fileManagement/testFileManagement.smoke.spec.ts
  ui/projects/streampipes/platform-services/src/lib/apis/files.service.ts
  ui/src/app/files/components/file-overview/file-overview.component.html
  ui/src/app/files/components/file-overview/file-overview.component.ts
Labels: ui, testing

#2191 fix: tooltip in asset overview
  ui/src/app/assets/components/asset-overview/asset-overview.component.html
Labels: ui

#2190 ui: add link to LinkedIn in Support section
  ui/src/app/info/about/about.component.html
Labels: ui

#2184 Streamline module names (#2183)
  installer/cli/README.md
  installer/cli/bin/commands/info
  installer/cli/environments/full
  installer/scripts/epsg/Readme.md
  run-validation-system.sh
  streampipes-extensions/docker-compose.yml
  streampipes-maven-plugin/README.md
Labels: installer, documentation

#2195 refactor: remove legacy set reference
  ui/src/app/editor/components/pipeline-element-options/pipeline-element-options.component.ts
Labels: ui

#2201 2200 include typescript generator maven plugin to plugin managment
  pom.xml
  streampipes-model-client/pom.xml
  streampipes-model/pom.xml
Labels: dependencies

#2202 feat: create builder for AssetLink
  streampipes-model/src/main/java/org/apache/streampipes/model/assets/AssetLinkBuilder.java
  streampipes-model/src/test/java/org/apache/streampipes/model/assets/AssetLinkBuilderTest.java
Labels: java, backend, testing, no release note

#2205 refactor: remove deprecated elements from `NamedStreamPipesEntity`
  streampipes-model/src/main/java/org/apache/streampipes/model/base/NamedStreamPipesEntity.java
  streampipes-rest-extensions/src/main/java/org/apache/streampipes/rest/extensions/connect/AdapterWorkerResource.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/stream/StreamBuilder.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/utils/Filter.java
Labels: java, deprecation, backend

#2206 refactor: add value for version parameter in adapter description
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/adapters/iolink/IfmAlMqttAdapter.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/adapters/ros/RosBridgeAdapter.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/adapters/simulator/machine/MachineDataSimulatorAdapter.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/protocol/stream/FileReplayAdapter.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/protocol/stream/HttpServerProtocol.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/protocol/stream/HttpStreamProtocol.java
  streampipes-extensions/streampipes-connect-adapters/src/main/java/org/apache/streampipes/connect/adapters/image/stream/ImageStreamAdapter.java
  streampipes-extensions/streampipes-connect-adapters/src/main/java/org/apache/streampipes/connect/adapters/iss/IssAdapter.java
  streampipes-extensions/streampipes-connect-adapters/src/main/java/org/apache/streampipes/connect/adapters/netio/NetioMQTTAdapter.java
  streampipes-extensions/streampipes-connect-adapters/src/main/java/org/apache/streampipes/connect/adapters/netio/NetioRestAdapter.java
  streampipes-extensions/streampipes-connectors-influx/src/main/java/org/apache/streampipes/extensions/connectors/influx/adapter/InfluxDbStreamAdapter.java
  streampipes-extensions/streampipes-connectors-kafka/src/main/java/org/apache/streampipes/extensions/connectors/kafka/adapter/KafkaProtocol.java
  streampipes-extensions/streampipes-connectors-mqtt/src/main/java/org/apache/streampipes/extensions/connectors/mqtt/adapter/MqttProtocol.java
  streampipes-extensions/streampipes-connectors-nats/src/main/java/org/apache/streampipes/extensions/connectors/nats/adapter/NatsProtocol.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/adapter/OpcUaAdapter.java
  streampipes-extensions/streampipes-connectors-plc/src/main/java/org/apache/streampipes/extensions/connectors/plc/adapter/modbus/Plc4xModbusAdapter.java
  streampipes-extensions/streampipes-connectors-pulsar/src/main/java/org/apache/streampipes/extensions/connectors/pulsar/adapter/PulsarProtocol.java
  streampipes-extensions/streampipes-connectors-rocketmq/src/main/java/org/apache/streampipes/extensions/connectors/rocketmq/adapter/RocketMQProtocol.java
  streampipes-extensions/streampipes-connectors-tubemq/src/main/java/org/apache/streampipes/extensions/connectors/tubemq/adapter/TubeMQProtocol.java
Labels: java, connect, backend, no release note

#2209 build: change `outputHashing` in Angular to avoid caching issue after new release
  ui/angular.json
Labels: ui

#2204 1888 Implemented unit tests for SizeMeasureProcessor
  streampipes-extensions/streampipes-processors-enricher-jvm/pom.xml
  streampipes-extensions/streampipes-processors-enricher-jvm/src/main/java/org/apache/streampipes/processors/enricher/jvm/processor/sizemeasure/SizeMeasureProcessor.java
  streampipes-extensions/streampipes-processors-enricher-jvm/src/test/java/org/apache/streampipes/processors/enricher/jvm/processor/sizemeasure/TestSizeMeasureProcessor.java
Labels: dependencies, java, pipeline elements, backend, testing

#2154 New E2E-Tests for data view
  ui/cypress/support/utils/datalake/DataLakeUtils.ts
  ui/cypress/tests/datalake/widgets/2d-correlation.spec.ts
  ui/cypress/tests/datalake/widgets/distribution.spec.ts
  ui/cypress/tests/datalake/widgets/heatmap.spec.ts
  ui/cypress/tests/datalake/widgets/indicator.spec.ts
  ui/cypress/tests/datalake/widgets/map.spec.ts
  ui/cypress/tests/datalake/widgets/table.spec.ts
  ui/cypress/tests/datalake/widgets/timeSeriesSave.spec.ts
  ui/src/app/data-explorer/components/time-selector/timeRangeSelector.component.html
  ui/src/app/data-explorer/components/widget/data-explorer-dashboard-widget.component.html
  ui/src/app/data-explorer/components/widgets/indicator/config/indicator-chart-widget-config.component.html
  ui/src/app/data-explorer/components/widgets/map/config/map-widget-config.component.html
Labels: ui, testing, no release note

#2216 feat: Add color display for file types in File Management (#2107)
  ui/src/app/files/components/file-overview/file-overview.component.html
  ui/src/app/files/components/file-overview/file-overview.component.ts
Labels: ui

#2222 fix: headings in README files
  installer/k8s/README.md
  prometheus-grafana/README.md
Labels: installer, documentation, no release note

#2197 #2151 & #2223: Implement E2E tests for enhanced adapter deletion and Extend reset REST endpoint to remove users
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/ResetResource.java
  ui/cypress/support/utils/UserUtils.ts
  ui/cypress/support/utils/connect/ConnectUtils.ts
  ui/cypress/tests/adapter/enhancedDeleteAdapter.smoke.spec.ts
  ui/src/app/connect/dialog/delete-adapter-dialog/delete-adapter-dialog.component.html
Labels: java, ui, backend, testing

#2224 feat(#2192): add download button in asset management overview
  ui/cypress/tests/assetManagement/createAsset.spec.ts
  ui/src/app/assets/components/asset-overview/asset-overview.component.html
  ui/src/app/assets/components/asset-overview/asset-overview.component.ts
Labels: ui, testing

#2193 Remove lodash dependency from UI
  ui/angular.json
  ui/package-lock.json
  ui/package.json
  ui/src/app/editor/components/pipeline-element-options/pipeline-element-options.component.ts
Labels: dependencies, ui

#2229 fix: change Java version to 17 for maven-javadoc-plugin
  pom.xml
Labels: dependencies, no release note

#2196 fix(#2106) Serialize non-primitive types as string and store in InfluxDB
  streampipes-data-explorer-commons/src/main/java/org/apache/streampipes/dataexplorer/commons/influx/InfluxStore.java
  streampipes-data-explorer-commons/src/main/java/org/apache/streampipes/dataexplorer/commons/influx/serializer/RawFieldSerializer.java
  streampipes-data-explorer-commons/src/test/java/org/apache/streampipes/dataexplorer/commons/influx/serializer/TestRawFieldSerializer.java
Labels: java, backend, testing

#2232 fix: retrieve release version for Python from GitHub tag
  .github/workflows/pypi-deployment.yml
Labels: no release note

#2233 add docker registry to dependabot config
  .github/dependabot.yml
Labels: gh-actions, no release note

#2238 fix(#2235): Use lodash for deep copy
  ui/package-lock.json
  ui/package.json
  ui/src/app/editor/components/pipeline-element-options/pipeline-element-options.component.ts
  ui/src/app/editor/services/jsplumb-bridge.service.ts
  ui/src/app/editor/services/object-provider.service.ts
Labels: dependencies, ui

#2242 (#2241): Remove activemq from CLI
  installer/cli/deploy/standalone/activemq/docker-compose.dev.yml
  installer/cli/deploy/standalone/activemq/docker-compose.yml
Labels: installer

#2249 chore: update docker-compose setup for Grafana
  .github/dependabot.yml
  installer/cli/deploy/standalone/grafana/docker-compose.yml
Labels: installer, gh-actions, no release note
