Repository apache/streampipes, pull requests merged in 2024-08, with the labels that each got.

#3089 refactor(#3088): Remove deprecated class ProtocolDescription
  streampipes-model/src/main/java/org/apache/streampipes/model/connect/grounding/ProtocolDescription.java
Labels: java, backend

#3087 refactor(#3084): Remove deprecated class PageResult
  streampipes-model/src/main/java/org/apache/streampipes/model/datalake/PageResult.java
Labels: java, backend

#3085 refactor(#3084): Remove deprecated method getFileContent
  streampipes-client/src/main/java/org/apache/streampipes/client/api/FileApi.java
Labels: java, backend

#3102 fix: Modify docker compose command in workflow
  .github/workflows/cypress-test.yml
  .github/workflows/pr-validation.yml
Labels: gh-actions

#3100 fix(#3099): Remove broken connection from connection pool
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/connect/PullAdapterScheduler.java
  streampipes-extensions/streampipes-connectors-plc/src/main/java/org/apache/streampipes/extensions/connectors/plc/adapter/generic/connection/ContinuousPlcRequestReader.java
Labels: java, backend

#3107 fix(#3097): Avoid that pipeline element version gets lost
  streampipes-model/src/main/java/org/apache/streampipes/model/graph/DataProcessorInvocation.java
  streampipes-model/src/main/java/org/apache/streampipes/model/graph/DataSinkInvocation.java
Labels: java, backend

#3110 fix(#3109): Remove asset dashboards from available apps service
  ui/deployment/apps.ts
Labels: ui

#3113 test: Add time order test + minor changes
  ui/cypress/support/utils/datalake/DataLakeBtns.ts
  ui/cypress/support/utils/datalake/DataLakeUtils.ts
  ui/cypress/tests/datalake/timeOrderDataView.spec.ts
  ui/cypress/tests/datalake/timeRangeSelectors.spec.ts
  ui/cypress/tests/datalake/widgets/timeSeriesSave.spec.ts
  ui/src/app/data-explorer/components/data-view/data-view-designer-panel/data-settings/order-selection-panel/order-selection-panel.component.html
Labels: ui, testing

#3118 fix(#3117): Remove connection after plc data is read
  streampipes-extensions/streampipes-connectors-plc/src/main/java/org/apache/streampipes/extensions/connectors/plc/adapter/generic/connection/OneTimePlcRequestReader.java
  streampipes-model/src/main/java/org/apache/streampipes/model/monitoring/SpLogMessage.java
  streampipes-model/src/test/java/org/apache/streampipes/model/monitoring/SpLogMessageTest.java
Labels: java, backend, testing

#3122 feat(#3121): Add live preview to pipeline details
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/PipelineMonitoring.java
  ui/cypress/tests/connect/editAdapterSettingsAndPipeline.spec.ts
  ui/projects/streampipes/platform-services/src/lib/apis/pipeline-monitoring.service.ts
  ui/src/app/editor/components/pipeline-assembly/pipeline-assembly-drawing-area/pipeline-assembly-drawing-area.component.ts
  ui/src/app/editor/components/pipeline-assembly/pipeline-assembly.component.ts
  ui/src/app/editor/components/pipeline-element-options/pipeline-element-options.component.html
  ui/src/app/editor/components/pipeline-element-options/pipeline-element-options.component.ts
  ui/src/app/editor/components/pipeline/dropped-pipeline-element/dropped-pipeline-element.component.html
  ui/src/app/pipeline-details/components/pipeline-details-toolbar/pipeline-details-toolbar.component.html
  ui/src/app/pipeline-details/components/pipeline-details-toolbar/pipeline-details-toolbar.component.ts
  ui/src/app/pipeline-details/components/preview/pipeline-preview.component.html
  ui/src/app/pipeline-details/components/preview/pipeline-preview.component.ts
  ui/src/app/pipeline-details/pipeline-details.component.html
  ui/src/app/pipeline-details/pipeline-details.component.ts
  ui/src/app/pipelines/components/pipeline-overview/pipeline-overview.component.html
Labels: java, ui, backend, testing

#3126 chore: Code cleanup of pipeline management
  streampipes-commons/src/main/java/org/apache/streampipes/commons/exceptions/NoMatchingFormatException.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/exceptions/NoMatchingJsonSchemaException.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/exceptions/NoMatchingProtocolException.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/exceptions/NoMatchingSchemaException.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/exceptions/NoSepaInPipelineException.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/exceptions/NoValidConnectionException.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/exceptions/NoValidSecTypeException.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/exceptions/NoValidSepTypeException.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/exceptions/NoValidSepaStructureException.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/exceptions/NoValidSepaTypeException.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/exceptions/RemoteServerNotAccessibleException.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/exceptions/TooManyEdgesException.java
  streampipes-connect-management/src/main/java/org/apache/streampipes/connect/management/management/AdapterUpdateManagement.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/data/PipelineGraphHelpers.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/execution/PipelineExecutor.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/extensions/ExtensionItemInstaller.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/matching/ConnectionValidator.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/matching/v2/utils/MatchingUtils.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/migration/AbstractMigrationManager.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/migration/PipelineElementMigrationManager.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/monitoring/pipeline/ExtensionsServiceLogExecutor.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/operations/Operations.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/pipeline/PipelineManager.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/template/PipelineElementTemplateVisitor.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/template/PipelineTemplateGenerator.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/template/PipelineTemplateInvocationHandler.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/util/PipelineVerificationUtils.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/util/TreeUtils.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/ContainerProvidedOptions.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/DataStream.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/PipelineResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/PipelineTemplate.java
  streampipes-service-core/src/main/java/org/apache/streampipes/service/core/PostStartupTask.java
  streampipes-service-core/src/main/java/org/apache/streampipes/service/core/StreamPipesCoreApplication.java
Labels: java, backend

#3124 fix: Avoid machine simulator crash
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/adapters/simulator/machine/MachineDataSimulator.java
Labels: bug, java, connect, backend

#3125 chore: Load adapter metrics in a single request
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/monitoring/pipeline/ExtensionsLogProvider.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/AdapterMonitoringResource.java
  ui/projects/streampipes/platform-services/src/lib/apis/adapter-monitoring.service.ts
  ui/src/app/connect/components/existing-adapters/existing-adapters.component.ts
Labels: java, ui, backend

#3127 feat(#3090): Add gauge chart to data explorer
  ui/src/app/data-explorer/components/dashboard/data-explorer-dashboard-panel.component.ts
  ui/src/app/data-explorer/components/widgets/base/base-data-explorer-widget.directive.ts
  ui/src/app/data-explorer/components/widgets/gauge/config/gauge-widget-config.component.html
  ui/src/app/data-explorer/components/widgets/gauge/config/gauge-widget-config.component.ts
  ui/src/app/data-explorer/components/widgets/gauge/gauge-renderer.service.ts
  ui/src/app/data-explorer/components/widgets/gauge/model/gauge-widget.model.ts
  ui/src/app/data-explorer/data-explorer.module.ts
  ui/src/app/data-explorer/registry/data-explorer-widget-registry.ts
Labels: ui

#3132 fix(#3131): Perform description migration only for installed extensions
  streampipes-connect-management/src/main/java/org/apache/streampipes/connect/management/management/AdapterMigrationManager.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/migration/AbstractMigrationManager.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/migration/PipelineElementMigrationManager.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/admin/MigrationResource.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/IDataProcessorStorage.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/IDataSinkStorage.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/impl/DataProcessorStorageImpl.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/impl/DataSinkStorageImpl.java
Labels: java, backend

#3129 Update pre-commit hooks
  streampipes-client-python/.pre-commit-config.yaml
  streampipes-client-python/streampipes/client/config.py
  streampipes-client-python/streampipes/endpoint/api/data_lake_measure.py
  streampipes-client-python/streampipes/function_zoo/river_function.py
  streampipes-client-python/streampipes/functions/utils/data_stream_generator.py
  streampipes-client-python/tests/functions/test_function_handler.py
  streampipes-client-python/tests/functions/test_river_function.py
Labels: python, testing

#3133 fix: Properly delete elements from pipeline cache in editor
  ui/src/app/editor/components/pipeline/pipeline.component.ts
Labels: ui

#3140 Fix loading bar import
  ui/projects/streampipes/platform-services/src/lib/apis/pipeline-monitoring.service.ts
  ui/src/app/pipeline-details/pipeline-details.component.ts
Labels: ui

#3143 feat(#3054): Change delimiter for nested property structure
  streampipes-connect-shared/src/main/java/org/apache/streampipes/connect/shared/preprocessing/convert/ToOriginalSchemaConverter.java
  streampipes-connect-shared/src/main/java/org/apache/streampipes/connect/shared/preprocessing/utils/Utils.java
  streampipes-connect-shared/src/test/java/org/apache/streampipes/connect/shared/preprocessing/convert/ToOriginalSchemaConverterTest.java
  streampipes-connect-shared/src/test/java/org/apache/streampipes/connect/shared/preprocessing/convert/ToTransformedSchemaConverterTest.java
  ui/cypress/fixtures/connect/schemaRules/expected.csv
  ui/cypress/fixtures/connect/schemaRules/input.csv
  ui/cypress/support/utils/connect/ConnectBtns.ts
  ui/cypress/support/utils/connect/ConnectEventSchemaUtils.ts
  ui/cypress/tests/connect/editAdapterValuesAndFields.spec.ts
  ui/cypress/tests/connect/rules/schemaRules.smoke.spec.ts
  ui/src/app/connect/services/transformation-rule.service.spec.ts
  ui/src/app/connect/services/transformation-rule.service.ts
Labels: java, ui, backend, testing

#3142 feat(#3141): Add option to configure production sites
  streampipes-model/src/main/java/org/apache/streampipes/model/configuration/LocationConfig.java
  streampipes-model/src/main/java/org/apache/streampipes/model/configuration/SpCoreConfiguration.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/ResetManagement.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/admin/LocationConfigurationResource.java
  ui/cypress/support/utils/configuration/ConfigurationUtils.ts
  ui/cypress/support/utils/configuration/SiteUtils.ts
  ui/cypress/tests/assetManagement/createAsset.spec.ts
  ui/cypress/tests/configuration/sites/sites-geo-features.spec.ts
  ui/cypress/tests/configuration/sites/sites.spec.ts
  ui/projects/streampipes/platform-services/src/lib/apis/datalake-rest.service.ts
  ui/projects/streampipes/platform-services/src/lib/apis/location-config.service.ts
  ui/projects/streampipes/platform-services/src/lib/model/assets/asset.model.ts
  ui/projects/streampipes/platform-services/src/lib/model/gen/streampipes-model.ts
  ui/projects/streampipes/platform-services/src/public-api.ts
  ui/projects/streampipes/shared-ui/src/lib/components/basic-field-description/basic-field-description.component.html
  ui/src/app/assets/assets.module.ts
  ui/src/app/assets/components/asset-details/asset-details-panel/asset-details-basics/asset-details-basics.component.html
  ui/src/app/assets/components/asset-details/asset-details-panel/asset-details-basics/asset-details-basics.component.ts
  ui/src/app/assets/components/asset-details/asset-details-panel/asset-details-basics/asset-details-labels/asset-details-labels.component.ts
  ui/src/app/assets/components/asset-details/asset-details-panel/asset-details-basics/asset-details-site/asset-details-site.component.html
  ui/src/app/assets/components/asset-details/asset-details-panel/asset-details-basics/asset-details-site/asset-details-site.component.ts
  ui/src/app/assets/components/asset-details/asset-details-panel/asset-details-basics/asset-details-site/asset-location/asset-location.component.html
  ui/src/app/assets/components/asset-details/asset-details-panel/asset-details-basics/asset-details-site/asset-location/asset-location.component.ts
  ui/src/app/assets/components/asset-details/asset-details-panel/asset-details-links/asset-details-links.component.html
  ui/src/app/assets/components/asset-details/asset-details-panel/asset-details-links/asset-details-links.component.ts
  ui/src/app/assets/components/asset-details/asset-details-panel/asset-details-links/asset-link-section/asset-link-item/asset-link-item.component.ts
  ui/src/app/assets/components/asset-details/asset-details-panel/asset-details-links/asset-link-section/asset-link-section.component.html
  ui/src/app/assets/components/asset-details/asset-details-panel/asset-details-links/asset-link-section/asset-link-section.component.ts
  ui/src/app/assets/components/asset-details/asset-details-panel/asset-details-panel.component.html
  ui/src/app/assets/components/asset-details/asset-details-panel/asset-details-panel.component.ts
  ui/src/app/assets/components/asset-details/asset-details.component.html
  ui/src/app/assets/components/asset-details/asset-details.component.ts
  ui/src/app/assets/components/asset-details/asset-selection-panel/asset-selection-panel.component.html
  ui/src/app/assets/components/asset-details/asset-selection-panel/asset-selection-panel.component.ts
  ui/src/app/assets/components/asset-overview/asset-overview.component.ts
  ui/src/app/assets/constants/asset.constants.ts
  ui/src/app/configuration/configuration-tabs.ts
  ui/src/app/configuration/configuration.module.ts
  ui/src/app/configuration/configuration.routes.ts
  ui/src/app/configuration/dialog/manage-site/edit-location/edit-location-area/edit-location-area.component.html
  ui/src/app/configuration/dialog/manage-site/edit-location/edit-location-area/edit-location-area.component.scss
  ui/src/app/configuration/dialog/manage-site/edit-location/edit-location-area/edit-location-area.component.ts
  ui/src/app/configuration/dialog/manage-site/edit-location/edit-location.component.html
  ui/src/app/configuration/dialog/manage-site/edit-location/edit-location.component.ts
  ui/src/app/configuration/dialog/manage-site/manage-site-dialog.component.html
  ui/src/app/configuration/dialog/manage-site/manage-site-dialog.component.scss
  ui/src/app/configuration/dialog/manage-site/manage-site-dialog.component.ts
  ui/src/app/configuration/sites-configuration/location-features-configuration/location-features-configuration.component.html
  ui/src/app/configuration/sites-configuration/location-features-configuration/location-features-configuration.component.ts
  ui/src/app/configuration/sites-configuration/site-area-configuration/site-area-configuration.component.html
  ui/src/app/configuration/sites-configuration/site-area-configuration/site-area-configuration.component.ts
  ui/src/app/configuration/sites-configuration/sites-configuration.component.html
  ui/src/app/configuration/sites-configuration/sites-configuration.component.ts
  ui/src/app/core-ui/core-ui.module.ts
  ui/src/app/core-ui/single-marker-map/single-marker-map.component.html
  ui/src/app/core-ui/single-marker-map/single-marker-map.component.ts
Labels: java, ui, backend, testing

#3152 feat(#3151): Remove add nested property button
  streampipes-connect-shared/src/main/java/org/apache/streampipes/connect/shared/preprocessing/transform/schema/CreateNestedTransformationRule.java
  streampipes-model/src/main/java/org/apache/streampipes/model/connect/rules/schema/CreateNestedRuleDescription.java
  ui/src/app/connect/components/adapter-configuration/schema-editor/event-schema/event-schema.component.html
  ui/src/app/connect/components/adapter-configuration/schema-editor/event-schema/event-schema.component.ts
  ui/src/app/connect/components/adapter-configuration/schema-editor/schema-editor-header/schema-editor-header.component.html
  ui/src/app/connect/components/adapter-configuration/schema-editor/schema-editor-header/schema-editor-header.component.ts
Labels: java, ui, backend

#3162 refactor: Remove wait for 2 seconds in adapter creation
  ui/cypress/support/utils/connect/ConnectUtils.ts
  ui/cypress/support/utils/userInput/StaticPropertyUtils.ts
Labels: ui, testing

#3164 fix(#3163): Nodes are only reloaded with a full configuration
  ui/cypress/support/utils/ErrorMessageUtils.ts
  ui/cypress/tests/connect/opcua/opcAdapterConfiguration.spec.ts
  ui/projects/streampipes/shared-ui/src/lib/components/sp-exception-message/sp-exception-message.component.html
  ui/src/app/core-ui/static-properties/static-runtime-resolvable-tree-input/static-runtime-resolvable-tree-input.component.ts
  ui/src/app/core-ui/static-properties/static-runtime-resolvable-tree-input/static-tree-input-button-menu/static-tree-input-button-menu.component.html
Labels: ui, testing

#3161 fix(#3160): Change logic of service static-value-transform
  ui/src/app/connect/services/static-value-transform.service.ts
Labels: ui

#3123 chore: Remove obsolete fields from models
  streampipes-client-go/streampipes/model/common.go
  streampipes-client-python/streampipes/functions/utils/data_stream_generator.py
  streampipes-client-python/streampipes/model/common.py
  streampipes-client-python/streampipes/model/resource/data_stream.py
  streampipes-client-python/tests/client/test_endpoint.py
  streampipes-messaging-kafka/src/main/java/org/apache/streampipes/messaging/kafka/SpKafkaProducer.java
  streampipes-model/src/main/java/org/apache/streampipes/model/schema/EventProperty.java
  streampipes-model/src/main/java/org/apache/streampipes/model/schema/EventPropertyPrimitive.java
  streampipes-model/src/main/java/org/apache/streampipes/model/staticproperty/StaticProperty.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/template/PipelineTemplateInvocationGenerator.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/StaticProperties.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/builder/AbstractConfigurablePipelineElementBuilder.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/builder/BoundPipelineElementBuilder.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/builder/DataStreamBuilder.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/builder/adapter/AdapterConfiguration.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/builder/adapter/GuessSchemaBuilder.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/extractor/AbstractParameterExtractor.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/helpers/Alternatives.java
  ui/projects/streampipes/platform-services/src/lib/model/gen/streampipes-model.ts
  ui/src/app/core-ui/static-properties/static-collection/static-collection.component.ts
  ui/src/app/core-ui/static-properties/static-property-util.service.ts
  ui/src/app/dashboard/registry/widget-config-builder.ts
Labels: java, python, ui, backend, testing, go

#3173 Add timeout to selectVisualizationType-function and extend time tolerance in timeRangeSelector test
  ui/cypress/support/utils/datalake/DataLakeUtils.ts
  ui/cypress/tests/datalake/timeRangeSelectors.spec.ts
Labels: ui, testing

#3175 feat(#3172): Implement processing element to enrich control limits
  streampipes-extensions/streampipes-processors-enricher-jvm/src/main/java/org/apache/streampipes/processors/enricher/jvm/EnricherExtensionModuleExport.java
  streampipes-extensions/streampipes-processors-enricher-jvm/src/main/java/org/apache/streampipes/processors/enricher/jvm/processor/limitsenrichment/QualityControlLimitsEnrichment.java
  streampipes-extensions/streampipes-processors-enricher-jvm/src/main/resources/org.apache.streampipes.processors.enricher.jvm.processor.limitsenrichment/documentation.md
  streampipes-extensions/streampipes-processors-enricher-jvm/src/main/resources/org.apache.streampipes.processors.enricher.jvm.processor.limitsenrichment/icon.png
  streampipes-extensions/streampipes-processors-enricher-jvm/src/main/resources/org.apache.streampipes.processors.enricher.jvm.processor.limitsenrichment/strings.en
  streampipes-extensions/streampipes-processors-enricher-jvm/src/test/java/org/apache/streampipes/processors/enricher/jvm/processor/limitsenrichment/QualityControlLimitsEnrichmentTest.java
Labels: java, pipeline elements, backend, documentation, testing

#3104 feat: add more support for pipeline API to Go client
  streampipes-client-go/streampipes/data_lake_dashboard_api.go
  streampipes-client-go/streampipes/data_lake_measure_api.go
  streampipes-client-go/streampipes/data_lake_widget_api.go
  streampipes-client-go/streampipes/endpoint.go
  streampipes-client-go/streampipes/functions_api.go
  streampipes-client-go/streampipes/internal/serializer/deserializer.go
  streampipes-client-go/streampipes/internal/serializer/serializer.go
  streampipes-client-go/streampipes/model/common.go
  streampipes-client-go/streampipes/model/pipeline/pipeline.go
  streampipes-client-go/streampipes/pipeline_api.go
  streampipes-client-go/streampipes/streampipes_version_api.go
  streampipes-client-go/streampipes/user_api.go
Labels: go

#3177 feat(#3176): Move adapter preview to details view
  ui/cypress/support/utils/connect/ConnectBtns.ts
  ui/cypress/support/utils/connect/ConnectUtils.ts
  ui/cypress/tests/connect/editAdapter.smoke.spec.ts
  ui/src/app/connect/components/adapter-details/adapter-details-data/adapter-details-data.component.html
  ui/src/app/connect/components/adapter-details/adapter-details-data/adapter-details-data.component.scss
  ui/src/app/connect/components/adapter-details/adapter-details-data/adapter-details-data.component.ts
  ui/src/app/connect/components/adapter-details/adapter-details-tabs.ts
  ui/src/app/connect/components/existing-adapters/existing-adapters.component.html
  ui/src/app/connect/components/existing-adapters/existing-adapters.component.ts
  ui/src/app/connect/connect.module.ts
  ui/src/app/core-ui/core-ui.module.ts
  ui/src/app/core-ui/help/field-names-table/field-names-table.component.html
  ui/src/app/core-ui/help/help.component.html
  ui/src/app/core-ui/help/help.component.ts
  ui/src/app/core-ui/pipeline-element-runtime-info/live-preview-table/live-preview-table.component.html
  ui/src/app/core-ui/pipeline-element-runtime-info/live-preview-table/live-preview-table.component.scss
  ui/src/app/core-ui/pipeline-element-runtime-info/live-preview-table/live-preview-table.component.ts
  ui/src/app/core-ui/pipeline-element-runtime-info/pipeline-element-runtime-info.component.html
  ui/src/app/core-ui/pipeline-element-runtime-info/pipeline-element-runtime-info.component.ts
  ui/src/app/core-ui/pipeline-element-runtime-info/pipeline-element-runtime-info.model.ts
Labels: ui, testing

#3154 2354 harmonize influx store and influx db client
  streampipes-data-explorer-influx/src/main/java/org/apache/streampipes/dataexplorer/influx/TimeSeriesStorageInflux.java
  streampipes-data-explorer-influx/src/main/java/org/apache/streampipes/dataexplorer/influx/client/InfluxClientProvider.java
  streampipes-data-explorer-influx/src/test/java/org/apache/streampipes/dataexplorer/influx/TimeSeriesStorageInfluxTest.java
  streampipes-extensions/streampipes-connectors-influx/src/main/java/org/apache/streampipes/extensions/connectors/influx/adapter/InfluxDbClient.java
  streampipes-extensions/streampipes-connectors-influx/src/main/java/org/apache/streampipes/extensions/connectors/influx/shared/SharedInfluxClient.java
  streampipes-extensions/streampipes-connectors-influx/src/main/java/org/apache/streampipes/extensions/connectors/influx/sink/InfluxDbClient.java
  streampipes-extensions/streampipes-connectors-influx/src/main/java/org/apache/streampipes/extensions/connectors/influx/sink/InfluxDbSink.java
Labels: java, backend, testing

#3186 chore: Improve layout of resource tables and asset view
  ui/src/app/assets/assets.module.ts
  ui/src/app/assets/components/asset-details/edit-asset/asset-selection-panel/asset-selection-panel.component.html
  ui/src/app/assets/components/asset-overview/asset-overview.component.html
  ui/src/app/assets/components/asset-overview/asset-overview.component.ts
  ui/src/app/assets/dialog/asset-upload/asset-upload-dialog.component.html
  ui/src/app/assets/dialog/asset-upload/asset-upload-dialog.component.scss
  ui/src/app/assets/dialog/asset-upload/asset-upload-dialog.component.ts
  ui/src/app/connect/components/existing-adapters/existing-adapters.component.html
  ui/src/app/dashboard/components/overview/dashboard-overview.component.html
  ui/src/app/data-explorer/components/overview/data-explorer-dashboard-overview/data-explorer-dashboard-overview.component.html
  ui/src/app/pipelines/components/pipeline-overview/pipeline-overview.component.html
Labels: ui

#3171 feat: Add dialog window to confirm that unsaved changes will be discarded
  ui/cypress/support/utils/datalake/DataLakeUtils.ts
  ui/cypress/tests/datalake/timeOrderDataView.spec.ts
  ui/src/app/data-explorer/components/dashboard/data-explorer-dashboard-panel.component.ts
  ui/src/app/data-explorer/components/data-view/data-explorer-data-view.component.ts
  ui/src/app/data-explorer/data-explorer-panel.can-deactivate.guard.ts
  ui/src/app/data-explorer/data-explorer.module.ts
  ui/src/app/data-explorer/models/dataview-dashboard.model.ts
  ui/src/app/data-explorer/services/data-explorer-detect-changes.service.ts
Labels: ui, testing

#3189 fix(#3188): Do not store nodes for RuntimeResolvableTreeInputStaticProperty anymore
  ui/cypress/support/utils/connect/OpcUaUtils.ts
  ui/cypress/tests/connect/opcua/opcAdapterConfiguration.spec.ts
  ui/cypress/tests/connect/opcua/startAndEditOpcAdapters.spec.ts
  ui/cypress/tests/connect/opcua/staticPropertyTreeNodesTest.ts
  ui/src/app/core-ui/static-properties/static-runtime-resolvable-tree-input/static-runtime-resolvable-tree-input.component.ts
  ui/src/app/core-ui/static-properties/static-runtime-resolvable-tree-input/static-tree-input-browse-nodes/static-tree-input-browse-nodes.component.ts
Labels: ui, testing

#3193 feat(#3192): Replace delete permissions with write
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/user/Privilege.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/user/Role.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/PipelineResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/connect/AdapterResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/dashboard/AbstractDashboardResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/dashboard/Dashboard.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/datalake/DataLakeDashboardResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/pe/DataProcessorResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/pe/DataSinkResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/pe/DataStreamResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/security/AuthConstants.java
  ui/projects/streampipes/platform-services/src/lib/model/gen/streampipes-model-client.ts
  ui/projects/streampipes/platform-services/src/lib/model/gen/streampipes-model.ts
  ui/src/app/dashboard/components/overview/dashboard-overview.component.html
  ui/src/app/dashboard/components/overview/dashboard-overview.component.ts
  ui/src/app/data-explorer/components/dashboard/dashboard-toolbar/dashboard-toolbar.component.html
  ui/src/app/data-explorer/components/dashboard/dashboard-toolbar/dashboard-toolbar.component.ts
  ui/src/app/data-explorer/components/dashboard/data-explorer-dashboard-panel.component.html
  ui/src/app/data-explorer/components/dashboard/data-explorer-dashboard-panel.component.ts
  ui/src/app/data-explorer/components/overview/data-explorer-dashboard-overview/data-explorer-dashboard-overview.component.html
  ui/src/app/data-explorer/components/overview/data-explorer-data-view-overview/data-explorer-data-view-overview.component.html
  ui/src/app/data-explorer/components/overview/data-explorer-overview.directive.ts
  ui/src/app/pipeline-details/components/pipeline-details-expansion-panel/actions/pipeline-actions.component.html
  ui/src/app/pipeline-details/components/pipeline-details-expansion-panel/actions/pipeline-actions.component.ts
  ui/src/app/pipeline-details/components/pipeline-details-expansion-panel/pipeline-details-expansion-panel.component.html
  ui/src/app/pipeline-details/components/pipeline-details-expansion-panel/pipeline-details-expansion-panel.component.ts
  ui/src/app/pipeline-details/pipeline-details.component.html
  ui/src/app/pipeline-details/pipeline-details.component.ts
  ui/src/app/pipelines/components/pipeline-overview/pipeline-overview.component.html
  ui/src/app/pipelines/components/pipeline-overview/pipeline-overview.component.ts
Labels: java, ui, backend

#3196 fix(#3191): Add migration to remove nodes fields from opc ua adapters
  streampipes-service-core/pom.xml
  streampipes-service-core/src/main/java/org/apache/streampipes/service/core/migrations/AvailableMigrations.java
  streampipes-service-core/src/main/java/org/apache/streampipes/service/core/migrations/v970/RemoveNodesFromOpcUaAdaptersMigration.java
  streampipes-service-core/src/test/java/org/apache/streampipes/service/core/migrations/v970/RemoveNodesFromOpcUaAdaptersMigrationTest.java
Labels: dependencies, java, backend, testing

#3180 feat(#3179): new processor sensorlimitalert
  streampipes-extensions/streampipes-processors-enricher-jvm/src/main/java/org/apache/streampipes/processors/enricher/jvm/EnricherExtensionModuleExport.java
  streampipes-extensions/streampipes-processors-enricher-jvm/src/main/java/org/apache/streampipes/processors/enricher/jvm/processor/limitsalert/SensorLimitAlertProcessor.java
  streampipes-extensions/streampipes-processors-enricher-jvm/src/main/java/org/apache/streampipes/processors/enricher/jvm/processor/limitsenrichment/QualityControlLimitsEnrichmentProcessor.java
  streampipes-extensions/streampipes-processors-enricher-jvm/src/main/resources/org.apache.streampipes.processors.enricher.jvm.processor.limitsalert/documentation.md
  streampipes-extensions/streampipes-processors-enricher-jvm/src/main/resources/org.apache.streampipes.processors.enricher.jvm.processor.limitsalert/icon.png
  streampipes-extensions/streampipes-processors-enricher-jvm/src/main/resources/org.apache.streampipes.processors.enricher.jvm.processor.limitsalert/strings.en
  streampipes-extensions/streampipes-processors-enricher-jvm/src/test/java/org/apache/streampipes/processors/enricher/jvm/processor/limitsalert/SensorLimitAlertProcessorTest.java
  streampipes-extensions/streampipes-processors-enricher-jvm/src/test/java/org/apache/streampipes/processors/enricher/jvm/processor/limitsenrichment/QualityControlLimitsEnrichmentTest.java
Labels: java, pipeline elements, backend, documentation, testing

#3194 feat: Add asset browser to dashboard and data explorer
  ui/src/app/assets/components/asset-overview/asset-overview.component.ts
  ui/src/app/assets/dialog/create-asset/create-asset-dialog.component.html
  ui/src/app/assets/dialog/create-asset/create-asset-dialog.component.ts
  ui/src/app/dashboard/components/overview/dashboard-overview.component.html
  ui/src/app/dashboard/components/overview/dashboard-overview.component.ts
  ui/src/app/data-explorer/components/overview/data-explorer-dashboard-overview/data-explorer-dashboard-overview.component.ts
  ui/src/app/data-explorer/components/overview/data-explorer-overview.component.html
  ui/src/app/data-explorer/components/overview/data-explorer-overview.component.ts
Labels: ui

#3197 fix: Various cypress tests
  ui/cypress/support/utils/configuration/SiteUtils.ts
  ui/cypress/support/utils/connect/ConnectUtils.ts
  ui/cypress/tests/assetManagement/createAsset.spec.ts
  ui/cypress/tests/connect/allAdapterActions.smoke.spec.ts
  ui/cypress/tests/connect/createAdapterWithoutStarting.spec.ts
  ui/src/app/assets/dialog/create-asset/create-asset-dialog.component.html
  ui/src/app/core-ui/pipeline-element-runtime-info/live-preview-table/live-preview-table.component.html
Labels: ui, testing

#3199 fix(#3198): Support additional images in markdown documentation
  streampipes-service-core/src/main/java/org/apache/streampipes/service/core/UnauthenticatedInterfaces.java
Labels: java, backend
