Repository apache/streampipes, pull requests merged in 2024-04, with the labels that each got.

#2667 refactor: remove unused class `CanvasAttributes`
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/assetdashboard/CanvasAttributes.java
Labels: java, backend

#2634 build(#2633): Enable auto fix for lint and prettier in git pre-commit…
  ui/.lintstagedrc.json
Labels: ui

#2664 refactor: user registration in backend
  pom.xml
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/user/Token.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/user/UserRegistrationData.java
  streampipes-model/src/main/java/org/apache/streampipes/model/schema/PropertyScope.java
  streampipes-resource-management/src/main/java/org/apache/streampipes/resource/management/UserResourceManager.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/Authentication.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/RestorePasswordResource.java
  streampipes-service-extensions/src/main/java/org/apache/streampipes/service/extensions/security/TokenAuthenticationFilter.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/IUserStorage.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/impl/UserStorage.java
Labels: dependencies, java, backend

#2685 ci : add a go pr-label
  .github/pr-labeler-config.yml
Labels: gh-actions

#2687 docs: add python tutorial about ML with ONNX
  streampipes-client-python/docs/img/tutorial-prediction-data-stream.png
  streampipes-client-python/docs/index.md
  streampipes-client-python/docs/tutorials/4-using-online-machine-learning-on-a-streampipes-data-stream.ipynb
  streampipes-client-python/docs/tutorials/5-applying-interoperable-machine-learning-in-streampipes.ipynb
  streampipes-client-python/mkdocs.yml
Labels: documentation

#2686 docs: fix closing tag in OI4 adapter documentation
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/resources/org.apache.streampipes.connect.iiot.adapters.oi4/documentation.md
Labels: connect, documentation

#2683 #2545 migrated TestBooleanCounterProcessor parameterized test to junit5
  streampipes-extensions/streampipes-processors-transformation-jvm/pom.xml
  streampipes-extensions/streampipes-processors-transformation-jvm/src/test/java/org/apache/streampipes/processors/transformation/jvm/processor/booloperator/counter/TestBooleanCounterProcessor.java
Labels: dependencies, java, pipeline elements, backend, testing

#2616 refactor(#2615): Change datatypes from class to string
  ui/projects/streampipes/platform-services/src/lib/model/types/data-type.ts
  ui/projects/streampipes/platform-services/src/lib/model/types/semantic-type.ts
  ui/projects/streampipes/platform-services/src/public-api.ts
  ui/src/app/configuration/extensions-service-management/extensions-service-configuration/service-configs/service-configs.component.ts
  ui/src/app/connect/components/adapter-configuration/schema-editor/event-property-row/event-property-row.component.ts
  ui/src/app/connect/components/adapter-configuration/schema-editor/event-schema/event-schema.component.ts
  ui/src/app/connect/dialog/edit-event-property/components/edit-schema-transformation/edit-schema-transformation.component.ts
  ui/src/app/connect/dialog/edit-event-property/edit-event-property.component.ts
  ui/src/app/connect/filter/timestamp.pipe.ts
  ui/src/app/connect/services/transformation-rule.service.ts
  ui/src/app/core-services/types/semantic-type.service.ts
  ui/src/app/core-ui/help/field-names-table/field-names-table.component.ts
  ui/src/app/core-ui/pipeline-element-runtime-info/live-preview-table/live-preview-table.component.ts
  ui/src/app/core-ui/static-properties/static-free-input/static-free-input.component.ts
  ui/src/app/dashboard/components/widgets/table/table-widget.component.ts
  ui/src/app/dashboard/registry/widget-config-builder.ts
  ui/src/app/dashboard/sdk/ep-requirements.ts
  ui/src/app/dashboard/sdk/matching/datatype-match.ts
  ui/src/app/dashboard/sdk/model/datatypes.ts
  ui/src/app/dashboard/sdk/model/vocabulary.ts
  ui/src/app/data-explorer/services/data-explorer-field-provider-service.ts
  ui/src/app/editor/components/output-strategy/user-defined-output/user-defined-output.component.ts
Labels: ui

#2707 chore(deps): Bump Angular to v17.3.3
  ui/package-lock.json
  ui/package.json
  ui/projects/streampipes/platform-services/package.json
  ui/projects/streampipes/shared-ui/package.json
Labels: dependencies, ui

#2714 Fix：CheckCompletedVisitor outOfBounds
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/matching/v2/pipeline/CheckCompletedVisitor.java
Labels: java, backend

#2718 refactor: consolidate duplicated code used for secure string generation
  streampipes-user-management/src/main/java/org/apache/streampipes/user/management/util/PasswordUtil.java
  streampipes-user-management/src/main/java/org/apache/streampipes/user/management/util/SecureStringGenerator.java
  streampipes-user-management/src/main/java/org/apache/streampipes/user/management/util/TokenUtil.java
  streampipes-user-management/src/test/java/org/apache/streampipes/user/management/util/TestSecureStringGenerator.java
  streampipes-user-management/src/test/java/org/apache/streampipes/user/management/util/TestTokenUtil.java
Labels: java, refactoring, backend, testing

#2730 test(#2374): provide a framework to easily unit test processing elements
  streampipes-extensions/streampipes-processors-filters-jvm/src/test/java/org/apache/streampipes/processors/filters/jvm/processor/booleanfilter/TestBooleanFilterProcessor.java
  streampipes-extensions/streampipes-processors-filters-jvm/src/test/java/org/apache/streampipes/processors/filters/jvm/processor/compose/TestComposeProcessor.java
  streampipes-extensions/streampipes-processors-filters-jvm/src/test/java/org/apache/streampipes/processors/filters/jvm/processor/merge/TestMergeByTimeProcessor.java
  streampipes-extensions/streampipes-processors-filters-jvm/src/test/java/org/apache/streampipes/processors/filters/jvm/processor/numericalfilter/NumericalFilterProcessorTest.java
  streampipes-extensions/streampipes-processors-filters-jvm/src/test/java/org/apache/streampipes/processors/filters/jvm/processor/numericalfilter/ProcessingElementTestExecutor.java
  streampipes-extensions/streampipes-processors-filters-jvm/src/test/java/org/apache/streampipes/processors/filters/jvm/processor/sdt/TestSwingingDoorTrendingFilterProcessor.java
  streampipes-extensions/streampipes-processors-filters-jvm/src/test/java/org/apache/streampipes/processors/filters/jvm/processor/textfilter/TestTextFilterProcessor.java
Labels: java, pipeline elements, backend, testing

#2739 refactor: Remove legacy data type service in connect
  ui/src/app/connect/dialog/edit-event-property/components/edit-schema-transformation/edit-data-type/edit-data-type.component.ts
  ui/src/app/connect/dialog/edit-event-property/edit-event-property.component.ts
  ui/src/app/connect/services/data-type.service.ts
Labels: ui

#2743 refactor: move config model to a directory
  ui/projects/streampipes/platform-services/src/lib/apis/commons.service.ts
  ui/projects/streampipes/platform-services/src/lib/apis/general-config.service.ts
  ui/projects/streampipes/platform-services/src/lib/apis/mail-config.service.ts
  ui/projects/streampipes/platform-services/src/lib/model/config/email-config.model.ts
  ui/projects/streampipes/platform-services/src/lib/model/config/general-config.model.ts
  ui/projects/streampipes/platform-services/src/public-api.ts
Labels: ui

#2749 fix(#2748): Add mat icon module to pipeline module
  ui/src/app/pipelines/pipelines.module.ts
Labels: ui

#2751 fix: Add MatTableModule to profile module
  ui/src/app/profile/profile.module.ts
Labels: bug, ui

#2755 refactor: convert model classes to records
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/user/ChangePasswordRequest.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/user/JwtAuthenticationResponse.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/user/LoginRequest.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/user/PermissionEntry.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/user/RawUserApiToken.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/Authentication.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/UserResource.java
  streampipes-user-management/src/main/java/org/apache/streampipes/user/management/service/TokenService.java
  streampipes-user-management/src/main/java/org/apache/streampipes/user/management/util/TokenUtil.java
  ui/projects/streampipes/platform-services/src/lib/model/gen/streampipes-model-client.ts
  ui/projects/streampipes/platform-services/src/lib/model/gen/streampipes-model.ts
Labels: java, ui, backend

#2756 fix: OI4 adapter can only read one sensor measurement per event
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/adapters/oi4/Oi4Adapter.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/adapters/oi4/model/DataSetMessage.java
Labels: bug, java, connect, backend

#2759 refactor: change `FilterCondition` class to record
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/influx/DataLakeInfluxQueryBuilder.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/querybuilder/FilterCondition.java
  streampipes-data-explorer/src/test/java/org/apache/streampipes/dataexplorer/param/WhereStatementParamsTest.java
Labels: java, backend, testing

#2760 refactor: align item generator class names with parent class
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/query/writer/ConfiguredCsvOutputWriter.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/query/writer/ConfiguredJsonOutputWriter.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/query/writer/item/CsvItemGenerator.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/query/writer/item/JsonItemGenerator.java
  streampipes-data-explorer/src/test/java/org/apache/streampipes/dataexplorer/query/writer/item/TestCsvItemGenerator.java
  streampipes-data-explorer/src/test/java/org/apache/streampipes/dataexplorer/query/writer/item/TestItemGenerator.java
  streampipes-data-explorer/src/test/java/org/apache/streampipes/dataexplorer/query/writer/item/TestJsonItemGenerator.java
Labels: java, backend, testing

#2761 refactor: minor code & logging improvements
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/query/AutoAggregationHandler.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/query/DataExplorerQueryExecutor.java
Labels: java, backend

#2763 refactor: replace gson by jackson
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/query/writer/ConfiguredJsonOutputWriter.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/query/writer/item/JsonItemGenerator.java
  streampipes-data-explorer/src/test/java/org/apache/streampipes/dataexplorer/query/writer/item/TestJsonItemGenerator.java
Labels: java, backend, testing

#2780 fix: add proper logger usage
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/query/DataExplorerQueryExecutor.java
Labels: java, backend

#2762 refactor: convert param classes into records
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/influx/DataExplorerInfluxQueryExecutor.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/param/DeleteQueryParams.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/param/ProvidedRestQueryParamConverter.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/param/SelectQueryParams.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/param/model/LimitClauseParams.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/param/model/OffsetClauseParams.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/param/model/SelectClauseParams.java
Labels: java, backend

#2792 ci: use macos13 to have all python versions available
  .github/workflows/pr-validation.yml
Labels: gh-actions

#2781 refactor: move influx specific implementations to `DataExplorerInfluxQueryExecutor`
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/DataExplorerQueryManagement.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/influx/DataExplorerInfluxQueryExecutor.java
Labels: java, backend

#2766 refactor: replace `StorageManager` by `StorageDispatcher`
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/recommender/ElementRecommender.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/template/PipelineGenerator.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/template/PipelineTemplateGenerator.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/verification/ElementVerifier.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/PipelineElementCategory.java
  streampipes-storage-management/src/main/java/org/apache/streampipes/storage/management/StorageManager.java
Labels: java, backend, breaking change

#2757 refactor: remove direct usage of couchDB client
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/DataExplorerSchemaManagement.java
Labels: java, backend

#2797 ci: enable `macos-latest` for Python unit tests again
  .github/workflows/pr-validation.yml
Labels: gh-actions
