Repository apache/streampipes, pull requests merged in 2024-05, with the labels that each got.

#2811 chore: update docker-compose of IoTDB
  installer/cli/deploy/standalone/iotdb/docker-compose.dev.yml
  installer/cli/deploy/standalone/iotdb/docker-compose.yml
Labels: installer

#2803 refactor: abstract data explorer modules from Influx-related code
  streampipes-commons/src/main/java/org/apache/streampipes/commons/constants/Envs.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/environment/DefaultEnvironment.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/environment/Environment.java
  streampipes-data-explorer-api/pom.xml
  streampipes-data-explorer-api/src/main/java/org/apache/streampipes/dataexplorer/api/IDataExplorerManager.java
  streampipes-data-explorer-api/src/main/java/org/apache/streampipes/dataexplorer/api/IDataExplorerQueryManagement.java
  streampipes-data-explorer-api/src/main/java/org/apache/streampipes/dataexplorer/api/IDataLakeMeasurementCounter.java
  streampipes-data-explorer-api/src/main/java/org/apache/streampipes/dataexplorer/api/IDataLakeMeasurementSanitizer.java
  streampipes-data-explorer-api/src/main/java/org/apache/streampipes/dataexplorer/api/ITimeSeriesStorage.java
  streampipes-data-explorer-influx/src/main/java/org/apache/streampipes/dataexplorer/influx/DataExplorerInfluxQueryExecutor.java
  streampipes-data-explorer-influx/src/main/java/org/apache/streampipes/dataexplorer/influx/DataExplorerManagerInflux.java
  streampipes-data-explorer-influx/src/main/java/org/apache/streampipes/dataexplorer/influx/DataExplorerQueryManagementInflux.java
  streampipes-data-explorer-influx/src/main/java/org/apache/streampipes/dataexplorer/influx/DataLakeMeasurementCounterInflux.java
  streampipes-data-explorer-influx/src/main/java/org/apache/streampipes/dataexplorer/influx/DeleteDataQuery.java
  streampipes-data-explorer-influx/src/main/java/org/apache/streampipes/dataexplorer/influx/InfluxStore.java
  streampipes-data-explorer-influx/src/main/java/org/apache/streampipes/dataexplorer/influx/TimeSeriesStorageInflux.java
  streampipes-data-explorer-influx/src/main/java/org/apache/streampipes/dataexplorer/influx/migrate/DataExplorerUtils.java
  streampipes-data-explorer-influx/src/main/java/org/apache/streampipes/dataexplorer/influx/sanitize/DataLakeMeasurementSanitizerInflux.java
  streampipes-data-explorer-influx/src/test/java/org/apache/streampipes/dataexplorer/influx/TimeSeriesStorageInfluxTest.java
  streampipes-data-explorer-influx/src/test/java/org/apache/streampipes/dataexplorer/influx/sanitize/DataLakeMeasurementSanitizerInfluxTest.java
  streampipes-data-explorer-management/pom.xml
  streampipes-data-explorer-management/src/main/java/org/apache/streampipes/dataexplorer/management/DataExplorerDispatcher.java
  streampipes-data-explorer-management/src/main/java/org/apache/streampipes/dataexplorer/management/SupportedDataExplorerStorages.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/AutoAggregationHandler.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/DataLakeMeasurementSanitizer.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/ImageStore.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/ImageStoreUtils.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/QueryResultProvider.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/StreamedQueryResultProvider.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/TimeSeriesStorage.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/TimeSeriesStore.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/query/DataExplorerQueryExecutor.java
  streampipes-extensions/streampipes-sinks-internal-jvm/pom.xml
  streampipes-extensions/streampipes-sinks-internal-jvm/src/main/java/org/apache/streampipes/sinks/internal/jvm/datalake/DataLakeSink.java
  streampipes-platform-services/pom.xml
  streampipes-platform-services/src/main/java/org/apache/streampipes/ps/DataLakeMeasureResourceV4.java
  streampipes-platform-services/src/main/java/org/apache/streampipes/ps/DataLakeResourceV4.java
  streampipes-rest/pom.xml
  streampipes-rest/src/main/java/org/apache/streampipes/rest/ResetManagement.java
Labels: dependencies, java, pipeline elements, backend, testing

#2821 feat: add measurement sanitizer for IoTDB
  streampipes-ts-store-iotdb/src/main/java/org/apache/streampipes/ts/store/iotdb/MeasureNameSanitizerIotDb.java
  streampipes-ts-store-iotdb/src/test/java/org/apache/streampipes/ts/store/iotdb/sanitize/MeasureNameSanitizerIotDbTest.java
Labels: java, backend, testing

#2828 feat: add property converter for IoTDB
  streampipes-ts-store-iotdb/src/main/java/org/apache/streampipes/ts/store/iotdb/IotDbMeasurementRecord.java
  streampipes-ts-store-iotdb/src/main/java/org/apache/streampipes/ts/store/iotdb/IotDbPropertyConverter.java
  streampipes-ts-store-iotdb/src/test/java/org/apache/streampipes/ts/store/iotdb/IotDbPropertyConverterTest.java
Labels: java, backend, testing

#2816 fix(#2815): Fix pipeline validation in UI
  ui/src/app/connect/components/adapter-configuration/adapter-settings/adapter-deployment-settings/adapter-deployment-settings.component.ts
  ui/src/app/editor/components/pipeline-assembly/pipeline-assembly.component.ts
  ui/src/app/editor/components/pipeline-element-options/pipeline-element-options.component.html
  ui/src/app/editor/components/pipeline-element-options/pipeline-element-options.component.ts
  ui/src/app/editor/components/pipeline/pipeline.component.ts
  ui/src/app/editor/dialog/compatible-elements/compatible-elements.component.ts
  ui/src/app/editor/model/editor.model.ts
  ui/src/app/editor/services/jsplumb.service.ts
  ui/src/app/editor/services/object-provider.service.ts
Labels: ui

#2829 feat: introduce IoTDB session handling
  streampipes-commons/src/main/java/org/apache/streampipes/commons/constants/Envs.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/environment/DefaultEnvironment.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/environment/Environment.java
  streampipes-ts-store-iotdb/src/main/java/org/apache/streampipes/ts/store/iotdb/IotDbSessionProvider.java
Labels: java, backend

#2827 feat: add name sanitizer for IotDB
  pom.xml
  streampipes-ts-store-iotdb/pom.xml
  streampipes-ts-store-iotdb/src/main/java/org/apache/streampipes/ts/store/iotdb/IotDbNameSanitizer.java
  streampipes-ts-store-iotdb/src/main/java/org/apache/streampipes/ts/store/iotdb/IotDbReservedKeywords.java
  streampipes-ts-store-iotdb/src/test/java/org/apache/streampipes/ts/store/iotdb/IotDbNameSanitizerTest.java
Labels: dependencies, java, backend, testing

#2823 chore(#2822): Remove pipeline export
  ui/src/app/connect/components/existing-adapters/existing-adapters.component.html
  ui/src/app/pipelines/category-already-in-pipeline.filter.ts
  ui/src/app/pipelines/dialog/import-pipeline/import-pipeline-dialog.component.html
  ui/src/app/pipelines/dialog/import-pipeline/import-pipeline-dialog.component.scss
  ui/src/app/pipelines/dialog/import-pipeline/import-pipeline-dialog.component.ts
  ui/src/app/pipelines/dialog/pipeline-categories/pipeline-categories-dialog.component.html
  ui/src/app/pipelines/dialog/pipeline-categories/pipeline-categories-dialog.component.scss
  ui/src/app/pipelines/dialog/pipeline-categories/pipeline-categories-dialog.component.ts
  ui/src/app/pipelines/pipeline-category.filter.ts
  ui/src/app/pipelines/pipelines.component.html
  ui/src/app/pipelines/pipelines.component.ts
  ui/src/app/pipelines/pipelines.module.ts
Labels: ui

#2837 docs: fix OPC-UA sink documentation
  streampipes-extensions/streampipes-connectors-opcua/src/main/resources/org.apache.streampipes.sinks.databases.jvm.opcua/documentation.md
Labels: documentation

#2702 feat : add functions API to Go client
  streampipes-client-go/streampipes/functions_api.go
  streampipes-client-go/streampipes/internal/serializer/deserializer.go
  streampipes-client-go/streampipes/model/functions/functions.go
  streampipes-client-go/streampipes/streampipes_client.go
Labels: go

#2838 fix(#2836): Sanitize blank space in Siddhi queries
  streampipes-extensions/streampipes-processors-filters-siddhi/pom.xml
  streampipes-extensions/streampipes-processors-filters-siddhi/src/test/java/org/apache/streampipes/processors/siddhi/trend/TestTrendProcessor.java
  streampipes-wrapper-siddhi/src/main/java/org/apache/streampipes/wrapper/siddhi/engine/generator/SiddhiAppGenerator.java
  streampipes-wrapper-siddhi/src/main/java/org/apache/streampipes/wrapper/siddhi/model/EventPropertyDef.java
  streampipes-wrapper-siddhi/src/main/java/org/apache/streampipes/wrapper/siddhi/utils/SiddhiUtils.java
Labels: dependencies, java, pipeline elements, backend, testing

#2840 tests(#2822): remove pipeline export test
  ui/cypress/tests/pipeline/pipelineExport.spec.ts
Labels: ui, testing

#2703 feat: add datalake widget API to Go client
  streampipes-client-go/streampipes/data_lake_widget_api.go
  streampipes-client-go/streampipes/internal/serializer/deserializer.go
  streampipes-client-go/streampipes/model/data_lake/data_lake_widget.go
  streampipes-client-go/streampipes/streampipes_client.go
Labels: go

#2705 feat : add datalake dashboard API to Go client
  streampipes-client-go/streampipes/data_lake_dashboard_api.go
  streampipes-client-go/streampipes/internal/serializer/deserializer.go
  streampipes-client-go/streampipes/model/data_lake/data_lake_dashboard.go
  streampipes-client-go/streampipes/streampipes_client.go
Labels: go

#2706 feat: add basic support for pipeline API to Go client
  streampipes-client-go/streampipes/internal/serializer/deserializer.go
  streampipes-client-go/streampipes/model/common.go
  streampipes-client-go/streampipes/model/pipeline/pipeline_category.go
  streampipes-client-go/streampipes/pipeline_api.go
  streampipes-client-go/streampipes/streampipes_client.go
Labels: go

#2844 Correct display issues in UI tour
  ui/src/app/services/tour/create-pipeline-tour.constants.ts
  ui/src/app/services/tour/dashboard-tour.constants.ts
Labels: ui

#2848 fix: Add error handling to OI4 and MQTT adapters
  streampipes-connect-management/src/main/java/org/apache/streampipes/connect/management/management/GuessManagement.java
  streampipes-extensions-api/src/main/java/org/apache/streampipes/extensions/api/connect/exception/WorkerAdapterException.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/adapters/oi4/Oi4Adapter.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/adapters/oi4/model/DataSetMessage.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/adapters/oi4/serializer/PayloadDeserializer.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/test/java/org/apache/streampipes/connect/iiot/adapters/oi4/model/DataSetMessageDeserializationTest.java
  streampipes-extensions/streampipes-connectors-mqtt/src/main/java/org/apache/streampipes/extensions/connectors/mqtt/adapter/MqttProtocol.java
  streampipes-extensions/streampipes-connectors-mqtt/src/main/java/org/apache/streampipes/extensions/connectors/mqtt/shared/MqttConsumer.java
  streampipes-rest-extensions/src/main/java/org/apache/streampipes/rest/extensions/connect/GuessResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/connect/GuessResource.java
  streampipes-service-extensions/src/main/java/org/apache/streampipes/service/extensions/StreamPipesExtensionsServiceBase.java
Labels: java, connect, backend, testing

#2842 fix PipelineElementTemplateVisitor SecretStaticProperty value
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/template/PipelineElementTemplateVisitor.java
Labels: bug, java, backend

#2846 fix StatelessTransformationRuleGeneratorVisitor set rule mode
  streampipes-connect-shared/src/main/java/org/apache/streampipes/connect/shared/preprocessing/generator/StatelessTransformationRuleGeneratorVisitor.java
Labels: java, backend

#2850 fix ToTransformedSchemaConverter set HEADER_PROPERTY
  streampipes-connect-shared/src/main/java/org/apache/streampipes/connect/shared/preprocessing/convert/ToTransformedSchemaConverter.java
Labels: bug, java, backend

#2851 fix: Fix client python docs site build warning
  streampipes-client-python/streampipes/client/credential_provider.py
  streampipes-client-python/streampipes/model/resource/function_definition.py
Labels: python, documentation

#2858 fix(#2856): improve handling of invalid UNIX timestamps
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/protocol/stream/FileReplayAdapter.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/resources/org.apache.streampipes.connect.iiot.adapters.oi4/documentation.md
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/resources/org.apache.streampipes.connect.iiot.protocol.stream.file/documentation.md
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/resources/org.apache.streampipes.connect.iiot.protocol.stream.file/strings.en
  ui/cypress/README.md
  ui/cypress/support/utils/connect/ConnectUtils.ts
  ui/cypress/tests/adapter/rules/schemaRules.smoke.spec.ts
  ui/cypress/tests/adapter/rules/streamRules.spec.ts
  ui/cypress/tests/adapter/rules/valueRules.ts
Labels: java, ui, connect, backend, documentation, testing

#2864 fix: remove gen_ref_pages page from python client docs
  streampipes-client-python/mkdocs.yml
Labels: documentation

#2863 Docs: Modify the UI sample port of K8S
  installer/k8s/README.md
Labels: installer, documentation

#2854 refactor: Remove unused code
  streampipes-messaging/src/main/java/org/apache/streampipes/messaging/SpProtocolManager.java
  streampipes-service-discovery-api/src/main/java/org/apache/streampipes/svcdiscovery/api/SpConfig.java
  streampipes-service-discovery-api/src/main/java/org/apache/streampipes/svcdiscovery/api/model/PeConfig.java
Labels: java, backend

#2867 feat: implement measurement counting for IoTDB
  streampipes-data-explorer-influx/src/main/java/org/apache/streampipes/dataexplorer/influx/DataLakeMeasurementCounterInflux.java
  streampipes-data-explorer-iotdb/src/main/java/org/apache/streampipes/dataexplorer/iotdb/DataExplorerIotDbQueryExecutor.java
  streampipes-data-explorer-iotdb/src/main/java/org/apache/streampipes/dataexplorer/iotdb/DataExplorerManagerIotDb.java
  streampipes-data-explorer-iotdb/src/main/java/org/apache/streampipes/dataexplorer/iotdb/DataLakeMeasurementCounterIotDb.java
  streampipes-data-explorer-iotdb/src/main/java/org/apache/streampipes/dataexplorer/iotdb/IotDbPropertyConverter.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/query/DataLakeMeasurementCounter.java
Labels: java, backend

#2869 chore: remove OWASP plugin dependency
  pom.xml
Labels: dependencies

#2845 refactor(#2843): Enhance user handling in cypress tests
  ui/cypress/support/e2e.ts
  ui/cypress/support/general/login.ts
  ui/cypress/support/general/switchUser.ts
  ui/cypress/support/utils/UserUtils.ts
  ui/cypress/support/utils/connect/ConnectUtils.ts
  ui/cypress/tests/adapter/deleteAdapterWithMultipleUsers.smoke.spec.ts
  ui/cypress/tests/userManagement/addUserAdmin.smoke.spec.ts
  ui/cypress/tests/userManagement/testGroupManagement.spec.ts
  ui/cypress/tests/userManagement/testUserRoleConnect.spec.ts
  ui/cypress/tests/userManagement/testUserRolePipeline.spec.ts
  ui/cypress/tests/userManagement/testVariousUserRoles.smoke.spec.ts
Labels: ui, testing

#2872 fix: correctly retrieve documentation for asset overview
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/PipelineElementAsset.java
Labels: java, backend

#2870 feat: IoTDB delete capabilities
  streampipes-data-explorer-api/src/main/java/org/apache/streampipes/dataexplorer/api/IDataExplorerQueryManagement.java
  streampipes-data-explorer-influx/src/main/java/org/apache/streampipes/dataexplorer/influx/DataExplorerInfluxQueryExecutor.java
  streampipes-data-explorer-influx/src/main/java/org/apache/streampipes/dataexplorer/influx/DataExplorerQueryManagementInflux.java
  streampipes-data-explorer-iotdb/src/main/java/org/apache/streampipes/dataexplorer/iotdb/DataExplorerManagerIotDb.java
  streampipes-data-explorer-iotdb/src/main/java/org/apache/streampipes/dataexplorer/iotdb/DataExplorerQueryManagementIotDb.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/param/DeleteQueryParams.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/param/ProvidedRestQueryParamConverter.java
  streampipes-platform-services/src/main/java/org/apache/streampipes/ps/DataLakeResourceV4.java
Labels: java, backend

#2871 fix: Replace hard-coded identifier in VersionEndpoint.get() method
  streampipes-client-python/streampipes/endpoint/api/version.py
  streampipes-client-python/tests/client/test_versions.py
Labels: python, testing

#2875 fix: Correct broken link in the issue report template
  .github/ISSUE_TEMPLATE/doc_website_issue_report.yml
Labels: gh-actions

#2841 guessSchema the encrypted secretValue should be decrypted when used
  streampipes-connect-management/src/main/java/org/apache/streampipes/connect/management/management/GuessManagement.java
Labels: java, backend

#2853 fix timestampTranfsformationRuleDescription metadata map
  streampipes-connect-shared/src/main/java/org/apache/streampipes/connect/shared/preprocessing/convert/ToTransformedSchemaConverter.java
Labels: bug, java, backend

#2873 #2661 Added error message when self registration fails
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/Authentication.java
Labels: java, backend

#2881 ci: improve PR labeler config for documentation
  .github/pr-labeler-config.yml
Labels: gh-actions

#2882 docs: document machine data simulator properly
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/resources/org.apache.streampipes.connect.iiot.adapters.simulator.machine/documentation.md
Labels: connect, documentation

#2885 fix(#2862): Support children selection in tree view
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/extractor/AbstractParameterExtractor.java
  ui/src/app/core-ui/static-properties/static-runtime-resolvable-tree-input/static-tree-input.component.html
  ui/src/app/core-ui/static-properties/static-runtime-resolvable-tree-input/static-tree-input.component.scss
  ui/src/app/core-ui/static-properties/static-runtime-resolvable-tree-input/static-tree-input.component.ts
Labels: java, ui, backend

#2887 fix(#2855): Issue with deletetransformationrule in adapter
  streampipes-connect-shared/src/main/java/org/apache/streampipes/connect/shared/preprocessing/transform/schema/DeleteTransformationRule.java
  streampipes-connect-shared/src/test/java/org/apache/streampipes/connect/shared/preprocessing/transform/schema/DeleteTransformationRuleTest.java
  ui/cypress/fixtures/connect/deleteTransformationRule/nestedInput.json
  ui/cypress/fixtures/connect/deleteTransformationRule/prefixInput.csv
  ui/cypress/support/utils/ConnectEventSchemaUtils.ts
  ui/cypress/support/utils/connect/ConnectUtils.ts
  ui/cypress/tests/adapter/rules/deleteTransformationRule.spec.ts
  ui/src/app/connect/components/adapter-configuration/schema-editor/event-schema-preview/event-schema-preview.component.html
  ui/src/app/connect/services/transformation-rule.service.spec.ts
  ui/src/app/connect/services/transformation-rule.service.ts
Labels: java, ui, backend, testing

#2889 fix(#2886): Fix the deletion of nested properties in connect
  streampipes-connect-shared/src/main/java/org/apache/streampipes/connect/shared/preprocessing/SupportsNestedTransformationRule.java
  streampipes-connect-shared/src/main/java/org/apache/streampipes/connect/shared/preprocessing/transform/schema/DeleteTransformationRule.java
  streampipes-connect-shared/src/test/java/org/apache/streampipes/connect/shared/preprocessing/transform/schema/DeleteTransformationRuleTest.java
  ui/cypress/tests/adapter/rules/deleteTransformationRule.spec.ts
Labels: java, ui, backend, testing

#2888 fix(#2830): Data adapter losing dimension selection
  streampipes-connect-shared/src/main/java/org/apache/streampipes/connect/shared/preprocessing/convert/ToTransformedSchemaConverter.java
  streampipes-model/src/main/java/org/apache/streampipes/model/connect/rules/value/AddTimestampRuleDescription.java
  ui/projects/streampipes/platform-services/src/lib/model/gen/streampipes-model.ts
  ui/projects/streampipes/shared-ui/src/lib/components/sp-exception-message/sp-exception-message.component.html
  ui/projects/streampipes/shared-ui/src/lib/components/sp-exception-message/sp-exception-message.component.scss
  ui/src/app/connect/services/transformation-rule.service.ts
Labels: java, ui, backend

#2893 fix(#2890): Properly cleanup WS connection
  pom.xml
  streampipes-extensions/streampipes-processors-filters-jvm/src/main/java/org/apache/streampipes/processors/filters/jvm/processor/projection/ProjectionProcessor.java
  streampipes-extensions/streampipes-sinks-brokers-jvm/src/main/java/org/apache/streampipes/sinks/brokers/jvm/websocket/SocketServer.java
  streampipes-extensions/streampipes-sinks-brokers-jvm/src/main/java/org/apache/streampipes/sinks/brokers/jvm/websocket/WebsocketServerSink.java
  streampipes-wrapper-standalone/src/main/java/org/apache/streampipes/wrapper/standalone/runtime/StandaloneEventProcessorRuntime.java
  streampipes-wrapper-standalone/src/main/java/org/apache/streampipes/wrapper/standalone/runtime/StandaloneEventSinkRuntime.java
Labels: dependencies, java, pipeline elements, backend

#2895 fix(#2894): Fix flaky e2e test
  streampipes-connect-shared/src/main/java/org/apache/streampipes/connect/shared/preprocessing/SupportsNestedTransformationRule.java
  streampipes-connect-shared/src/test/java/org/apache/streampipes/connect/shared/preprocessing/transform/schema/DeleteTransformationRuleTest.java
  ui/cypress/fixtures/connect/deleteTransformationRule/nestedInput.json
  ui/cypress/support/utils/ConnectEventSchemaUtils.ts
  ui/cypress/tests/adapter/rules/deleteTransformationRule.spec.ts
Labels: java, ui, backend, testing

#2884 fix: Resolve python client mypy failed in pre-commit
  streampipes-client-python/Makefile
  streampipes-client-python/streampipes/endpoint/api/version.py
Labels: python

#2883 fix: Fix python client Flake8 errors
  streampipes-client-python/Makefile
  streampipes-client-python/streampipes/py.typed
  streampipes-client-python/tests/client/test_client.py
Labels: python, testing

#2899 fix: Improve backwards compatibility of data explorer widgets
  ui/src/app/data-explorer/components/designer-panel/visualisation-settings/data-explorer-visualisation-settings.component.ts
  ui/src/app/data-explorer/components/widget-view/abstract-widget-view.directive.ts
  ui/src/app/data-explorer/components/widget-view/grid-view/data-explorer-dashboard-grid.component.ts
  ui/src/app/data-explorer/components/widget-view/slide-view/data-explorer-dashboard-slide-view.component.ts
  ui/src/app/data-explorer/components/widget/data-explorer-dashboard-widget.component.ts
  ui/src/app/data-explorer/components/widgets/base/echarts-widget.component.ts
  ui/src/app/data-explorer/components/widgets/time-series-chart/config/time-series-chart-widget-config.component.ts
  ui/src/app/data-explorer/components/widgets/time-series-chart/sp-timeseries-renderer.service.ts
  ui/src/app/data-explorer/components/widgets/utils/data-zoom-config/data-zoom-config.component.ts
  ui/src/app/data-explorer/components/widgets/utils/select-axis-options/select-axis-options.component.ts
  ui/src/app/data-explorer/registry/data-explorer-widget-registry.ts
Labels: ui

#2900 fix: Replace deprecated assertDictContainsSubset in python client unit tests
  streampipes-client-python/tests/client/test_client.py
Labels: python, testing

#2905 #2058 moved unit measurement definitions to backend
  streampipes-connect-management/src/main/java/org/apache/streampipes/connect/management/management/UnitMasterManagement.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/connect/UnitResource.java
  ui/src/app/connect/dialog/edit-event-property/components/edit-unit-transformation/edit-unit-transformation.component.ts
  ui/src/app/connect/services/rest.service.ts
  ui/src/app/connect/services/unit-provider.service.ts
Labels: java, ui, backend

#2908 style: Improve layout of label UI component
  ui/projects/streampipes/shared-ui/src/lib/components/sp-label/sp-label.component.html
  ui/projects/streampipes/shared-ui/src/lib/components/sp-label/sp-label.component.scss
  ui/projects/streampipes/shared-ui/src/lib/components/sp-label/sp-label.component.ts
Labels: ui

#2907 [#2906] Fix some imports in jvm archetype
  archetypes/streampipes-archetype-extensions-jvm/src/main/resources/archetype-resources/src/main/java/Init.java
  archetypes/streampipes-archetype-extensions-jvm/src/main/resources/archetype-resources/src/main/java/pe/__packageName__/__classNamePrefix__GenericAdapter.java
  archetypes/streampipes-archetype-extensions-jvm/src/main/resources/archetype-resources/src/main/java/pe/__packageName__/__classNamePrefix__SpecificAdapter.java
  streampipes-sdk-bundle/pom.xml
Labels: dependencies, java
