Repository apache/streampipes, pull requests merged in 2024-03, with the labels that each got.

#2454 #2144 Enhance Static Properties by UI validation V2 update
  streampipes-extensions/streampipes-connectors-opcua/src/test/java/org/apache/streampipes/extensions/connectors/opcua/adapter/OpcUaAdapterMigrationTest.java
  streampipes-extensions/streampipes-connectors-opcua/src/test/java/org/apache/streampipes/extensions/connectors/opcua/adapter/config/OpcUaAdapterVersionedConfig.java
Labels: java, backend, testing, stale

#2502 Code cleanup
  streampipes-client/src/main/java/org/apache/streampipes/client/api/DataStreamApi.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/zip/ZipFileGenerator.java
  streampipes-connect-shared/src/main/java/org/apache/streampipes/connect/shared/preprocessing/transform/schema/MoveTransformationRule.java
  streampipes-data-explorer-commons/src/main/java/org/apache/streampipes/dataexplorer/commons/influx/InfluxStore.java
  streampipes-data-explorer-commons/src/test/java/org/apache/streampipes/dataexplorer/commons/influx/serializer/TestRawFieldSerializer.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/adapters/simulator/machine/MachineDataSimulatorUtils.java
  streampipes-extensions/streampipes-connectors-plc/src/main/java/org/apache/streampipes/extensions/connectors/plc/adapter/s7/Plc4xS7Adapter.java
  streampipes-extensions/streampipes-pipeline-elements-experimental-flink/src/main/java/org/apache/streampipes/pe/flink/processor/aggregation/AggregationController.java
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/java/org/apache/streampipes/processors/geo/jvm/jts/helper/SpReprojectionBuilder.java
Labels: java, pipeline elements, connect, backend, testing

#2503 Chart install extension deployment environment missing SP_COUCHDB_USER
  installer/k8s/templates/core/extensions-all-iiot-deployment.yaml
Labels: installer, helm

#2507 refactor: Remove unused class ZipFileGenerator
  streampipes-commons/src/main/java/org/apache/streampipes/commons/zip/ZipFileGenerator.java
Labels: java, backend

#2430 [#2181] Merge internalFilename and originalFilename
  streampipes-data-export/src/main/java/org/apache/streampipes/export/dataimport/PerformImportGenerator.java
  streampipes-data-export/src/main/java/org/apache/streampipes/export/dataimport/PreviewImportGenerator.java
  streampipes-data-export/src/main/java/org/apache/streampipes/export/generator/ExportPackageGenerator.java
  streampipes-data-export/src/main/java/org/apache/streampipes/export/resolver/FileResolver.java
  streampipes-model/src/main/java/org/apache/streampipes/model/file/FileMetadata.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/file/FileHandler.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/file/FileManager.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/PipelineElementFile.java
  streampipes-service-core/src/main/java/org/apache/streampipes/service/core/migrations/AvailableMigrations.java
  streampipes-service-core/src/main/java/org/apache/streampipes/service/core/migrations/v095/DuplicateFilesRenameMigration.java
  streampipes-service-core/src/main/java/org/apache/streampipes/service/core/migrations/v095/MergeFilenamesAndRenameDuplicatesMigration.java
  streampipes-service-core/src/test/java/org/apache/streampipes/service/core/migrations/v095/DuplicateFilesRenameMigrationTest.java
  streampipes-service-core/src/test/java/org/apache/streampipes/service/core/migrations/v095/MergeFilenamesAndRenameDuplicatesMigrationTest.java
  ui/projects/streampipes/platform-services/src/lib/apis/files.service.ts
  ui/projects/streampipes/platform-services/src/lib/model/gen/streampipes-model.ts
  ui/src/app/assets/dialog/base-asset-links.directive.ts
  ui/src/app/assets/dialog/manage-asset-links/manage-asset-links-dialog.component.html
  ui/src/app/assets/dialog/manage-asset-links/manage-asset-links-dialog.component.ts
  ui/src/app/core-ui/static-properties/static-file-input/static-file-input.component.html
  ui/src/app/core-ui/static-properties/static-file-input/static-file-input.component.ts
  ui/src/app/files/components/file-overview/file-overview.component.html
  ui/src/app/files/components/file-overview/file-overview.component.ts
  ui/src/app/files/dialog/file-rename/file-rename-dialog.component.html
  ui/src/app/files/dialog/file-upload/file-upload-dialog.component.ts
Labels: java, ui, backend, testing

#2443 #2144 Enhance Static Properties by UI validation V2
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/locales/LabelGenerator.java
  streampipes-extensions/streampipes-connect-adapters-iiot/pom.xml
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/IIoTAdaptersExtensionModuleExport.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/adapters/migrations/RosBridgeAdapterMigrationV1.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/adapters/ros/RosBridgeAdapter.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/test/java/org/apache/streampipes/connect/iiot/adapters/migrations/RosBridgeAdapterMigrationV1Test.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/test/java/org/apache/streampipes/connect/iiot/adapters/migrations/config/RosBridgeAdapterVersionedConfig.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/OpcUaConnectorsModuleExport.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/adapter/OpcUaAdapter.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/config/SharedUserConfiguration.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/migration/OpcUaAdapterMigrationV2.java
  streampipes-extensions/streampipes-connectors-opcua/src/test/java/org/apache/streampipes/extensions/connectors/opcua/migration/OpcUaAdapterMigrationV2Test.java
  streampipes-extensions/streampipes-connectors-opcua/src/test/java/org/apache/streampipes/extensions/connectors/opcua/migration/config/OpcUaAdapterVersionedConfig.java
  streampipes-extensions/streampipes-connectors-plc/pom.xml
  streampipes-extensions/streampipes-connectors-plc/src/main/java/org/apache/streampipes/extensions/connectors/plc/PlcConnectorsModuleExport.java
  streampipes-extensions/streampipes-connectors-plc/src/main/java/org/apache/streampipes/extensions/connectors/plc/adapter/migration/Plc4xModbusAdapterMigrationV1.java
  streampipes-extensions/streampipes-connectors-plc/src/main/java/org/apache/streampipes/extensions/connectors/plc/adapter/modbus/Plc4xModbusAdapter.java
  streampipes-extensions/streampipes-connectors-plc/src/test/java/org/apache/streampipes/extensions/connectors/plc/adapter/migration/Plc4xModbusAdapterMigrationTest.java
  streampipes-extensions/streampipes-connectors-plc/src/test/java/org/apache/streampipes/extensions/connectors/plc/adapter/migration/config/Plc4xModbusAdapterVersionedConfig.java
  streampipes-model/src/main/java/org/apache/streampipes/model/staticproperty/FreeTextStaticProperty.java
  streampipes-model/src/main/java/org/apache/streampipes/model/staticproperty/StaticProperty.java
  streampipes-model/src/main/java/org/apache/streampipes/model/staticproperty/StaticPropertyAlternative.java
  streampipes-model/src/main/java/org/apache/streampipes/model/staticproperty/StaticPropertyAlternatives.java
  streampipes-model/src/main/java/org/apache/streampipes/model/staticproperty/StaticPropertyGroup.java
  streampipes-rest-extensions/src/main/java/org/apache/streampipes/rest/extensions/migration/MigrateExtensionsResource.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/StaticProperties.java
Labels: dependencies, java, connect, backend, testing

#2510 refactor(#2509): Remove legacy labeling component and api
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/CategoryResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/LabelResource.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/INoSqlStorage.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/CouchDbStorageManager.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/impl/CategoryStorageImpl.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/impl/LabelStorageImpl.java
  ui/src/app/core-ui/core-ui.module.ts
  ui/src/app/core-ui/labels/components/configure-labels/configure-labels.component.css
  ui/src/app/core-ui/labels/components/configure-labels/configure-labels.component.html
  ui/src/app/core-ui/labels/components/configure-labels/configure-labels.component.ts
  ui/src/app/core-ui/labels/components/label-list-item/label-list-item.component.css
  ui/src/app/core-ui/labels/components/label-list-item/label-list-item.component.html
  ui/src/app/core-ui/labels/components/label-list-item/label-list-item.component.ts
  ui/src/app/core-ui/labels/components/select-label/select-label.component.css
  ui/src/app/core-ui/labels/components/select-label/select-label.component.html
  ui/src/app/core-ui/labels/components/select-label/select-label.component.ts
  ui/src/app/core-ui/labels/services/label.service.ts
Labels: java, ui, backend

#2514 refactor: Remove unused MonitoringDataStorage
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/INoSqlStorage.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/IPipelineMonitoringDataStorage.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/CouchDbStorageManager.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/impl/MonitoringDataStorageImpl.java
Labels: java, backend

#2519 refactor(#2518): Update junit4 to junit5 in dependencies with junit-vintage-engine
  pom.xml
  streampipes-client/pom.xml
  streampipes-commons/pom.xml
  streampipes-connect-management/pom.xml
  streampipes-connect-shared/pom.xml
  streampipes-data-explorer-commons/pom.xml
  streampipes-data-explorer/pom.xml
  streampipes-extensions-management/pom.xml
  streampipes-extensions/streampipes-connect-adapters-iiot/pom.xml
  streampipes-extensions/streampipes-connect-adapters/pom.xml
  streampipes-extensions/streampipes-connectors-opcua/pom.xml
  streampipes-extensions/streampipes-connectors-plc/pom.xml
  streampipes-extensions/streampipes-connectors-pulsar/pom.xml
  streampipes-extensions/streampipes-connectors-rocketmq/pom.xml
  streampipes-extensions/streampipes-processors-enricher-jvm/pom.xml
  streampipes-extensions/streampipes-processors-filters-jvm/src/test/java/org/apache/streampipes/processors/filters/jvm/processor/booleanfilter/TestBooleanFilterProcessor.java
  streampipes-extensions/streampipes-processors-filters-jvm/src/test/java/org/apache/streampipes/processors/filters/jvm/processor/compose/TestComposeProcessor.java
  streampipes-extensions/streampipes-processors-filters-jvm/src/test/java/org/apache/streampipes/processors/filters/jvm/processor/merge/TestMergeByTimeProcessor.java
  streampipes-extensions/streampipes-processors-filters-jvm/src/test/java/org/apache/streampipes/processors/filters/jvm/processor/sdt/TestSwingingDoorTrendingFilterProcessor.java
  streampipes-extensions/streampipes-processors-filters-jvm/src/test/java/org/apache/streampipes/processors/filters/jvm/processor/textfilter/TestTextFilterProcessor.java
  streampipes-extensions/streampipes-processors-filters-siddhi/pom.xml
  streampipes-extensions/streampipes-processors-filters-siddhi/src/test/java/org/apache/streampipes/processors/siddhi/trend/TestTrendProcessor.java
  streampipes-extensions/streampipes-processors-transformation-jvm/pom.xml
  streampipes-extensions/streampipes-processors-transformation-jvm/src/test/java/org/apache/streampipes/processors/transformation/jvm/processor/booloperator/counter/TestBooleanCounterProcessor.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/test/java/org/apache/streampipes/processors/transformation/jvm/processor/booloperator/inverter/TestBooleanInverterProcessor.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/test/java/org/apache/streampipes/processors/transformation/jvm/processor/datetime/TestDateTimeFromStringProcessor.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/test/java/org/apache/streampipes/processors/transformation/jvm/processor/stringoperator/counter/TestStringCounterProcessor.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/test/java/org/apache/streampipes/processors/transformation/jvm/processor/stringoperator/state/TestStringToStateProcessor.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/test/java/org/apache/streampipes/processors/transformation/jvm/processor/stringoperator/timer/TestStringTimerProcessor.java
  streampipes-extensions/streampipes-sinks-databases-jvm/pom.xml
  streampipes-extensions/streampipes-sinks-internal-jvm/pom.xml
  streampipes-extensions/streampipes-sinks-notifications-jvm/pom.xml
  streampipes-extensions/streampipes-sinks-notifications-jvm/src/test/java/org/apache/streampipes/sinks/notifications/jvm/msteams/TestMSTeamsSink.java
  streampipes-maven-plugin/pom.xml
  streampipes-measurement-units/pom.xml
  streampipes-model/pom.xml
  streampipes-pipeline-management/pom.xml
  streampipes-resource-management/pom.xml
  streampipes-rest-shared/pom.xml
  streampipes-rest/pom.xml
  streampipes-sdk/pom.xml
  streampipes-serializers-json/pom.xml
  streampipes-service-core/pom.xml
  streampipes-storage-couchdb/pom.xml
  streampipes-test-utils/pom.xml
  streampipes-user-management/pom.xml
Labels: dependencies, java, pipeline elements, connect, backend, testing

#2527 fix: improve core start up behavior
  streampipes-connect-management/src/main/java/org/apache/streampipes/connect/management/health/AdapterHealthCheck.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/migration/AdapterDescriptionMigration093.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/admin/MigrationResource.java
  streampipes-service-core/src/main/java/org/apache/streampipes/service/core/PostStartupTask.java
Labels: java, backend

#2515 2312 Extend Notification sinks by silent period
  streampipes-extensions/streampipes-sinks-notifications-jvm/src/main/java/org/apache/streampipes/sinks/notifications/jvm/NotificationsExtensionModuleExport.java
  streampipes-extensions/streampipes-sinks-notifications-jvm/src/main/java/org/apache/streampipes/sinks/notifications/jvm/migrations/INotificationDataSinkMigrator.java
  streampipes-extensions/streampipes-sinks-notifications-jvm/src/main/java/org/apache/streampipes/sinks/notifications/jvm/migrations/OneSignalSinkMigrationV1.java
  streampipes-extensions/streampipes-sinks-notifications-jvm/src/main/java/org/apache/streampipes/sinks/notifications/jvm/migrations/SlackNotificationSinkMigrationV1.java
  streampipes-extensions/streampipes-sinks-notifications-jvm/src/main/java/org/apache/streampipes/sinks/notifications/jvm/migrations/TelegramSinkMigrationV1.java
  streampipes-extensions/streampipes-sinks-notifications-jvm/src/main/java/org/apache/streampipes/sinks/notifications/jvm/onesignal/OneSignalSink.java
  streampipes-extensions/streampipes-sinks-notifications-jvm/src/main/java/org/apache/streampipes/sinks/notifications/jvm/slack/SlackNotificationSink.java
  streampipes-extensions/streampipes-sinks-notifications-jvm/src/main/java/org/apache/streampipes/sinks/notifications/jvm/telegram/TelegramSink.java
  streampipes-extensions/streampipes-sinks-notifications-jvm/src/test/java/org/apache/streampipes/sinks/notifications/jvm/migrations/INotificationDataSinkMigratorTest.java
  streampipes-wrapper-standalone/src/main/java/org/apache/streampipes/wrapper/standalone/StreamPipesNotificationSink.java
Labels: java, pipeline elements, backend, testing

#2511 feat: Create adapter for Open Industry 4.0 devices
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/connect/adapter/BrokerEventProcessor.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/IIoTAdaptersExtensionModuleExport.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/adapters/oi4/OI4AdapterLabels.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/adapters/oi4/Oi4Adapter.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/adapters/oi4/model/DataSetMessage.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/adapters/oi4/model/NetworkMessage.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/resources/org.apache.streampipes.connect.iiot.adapters.oi4/documentation.md
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/resources/org.apache.streampipes.connect.iiot.adapters.oi4/icon.png
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/resources/org.apache.streampipes.connect.iiot.adapters.oi4/strings.en
  streampipes-extensions/streampipes-connect-adapters-iiot/src/test/java/org/apache/streampipes/connect/iiot/adapters/iolink/sensor/SensorVVB001Test.java
Labels: enhancement, java, connect, backend, documentation, testing

#2521 #2442 fixed data explorer time range buttons
  ui/cypress/tests/datalake/timeRangeSelectors.spec.ts
  ui/src/app/data-explorer/components/time-selector/timeRangeSelector.component.html
  ui/src/app/data-explorer/components/time-selector/timeRangeSelector.component.ts
Labels: ui, testing

#2537 fix: restart multiple adapter instances per worker
  streampipes-connect-management/src/main/java/org/apache/streampipes/connect/management/health/AdapterHealthCheck.java
Labels: bug, java, backend

#2539 fix(#2336): Fixes synchronized query requests for the dashboard
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/param/ProvidedRestQueryParams.java
  streampipes-platform-services/src/main/java/org/apache/streampipes/ps/DataLakeResourceV4.java
Labels: java, backend

#2548 fix: do not overwrite timestamp in output event of a function
  streampipes-client-python/streampipes/functions/streampipes_function.py
Labels: python, breaking change

#2547 Use pydantic 2.x dependency
  streampipes-client-python/docs/index.md
  streampipes-client-python/poetry.lock
  streampipes-client-python/pyproject.toml
  streampipes-client-python/streampipes/endpoint/api/data_lake_measure.py
  streampipes-client-python/streampipes/model/common.py
  streampipes-client-python/streampipes/model/container/resource_container.py
  streampipes-client-python/streampipes/model/resource/data_lake_measure.py
  streampipes-client-python/streampipes/model/resource/data_series.py
  streampipes-client-python/streampipes/model/resource/data_stream.py
  streampipes-client-python/streampipes/model/resource/function_definition.py
  streampipes-client-python/streampipes/model/resource/query_result.py
  streampipes-client-python/streampipes/model/resource/version.py
  streampipes-client-python/tests/client/test_endpoint.py
Labels: dependencies, python, documentation, testing

#2541 refactor(#2529): Deprecate isOriginalFileName in FileAPI and remove parameter from REST API
  streampipes-client/src/main/java/org/apache/streampipes/client/api/FileApi.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/file/FileManager.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/PipelineElementFile.java
Labels: java, backend

#2540 refactor: Remove legacy data lake resource
  streampipes-platform-services/src/main/java/org/apache/streampipes/ps/DataLakeResourceV3.java
Labels: java, backend

#2474 [#2473] Nginx configuration migraton to version 0.93.0+
  docker-compose.yml
  ui/Dockerfile
  ui/docker-entrypoint.sh
Labels: ui

#2558 refactor: remove unnecessary parameter 'username'
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/admin/ExtensionsServiceEndpointResource.java
Labels: java, refactoring, backend

#2560 fix(#2550): change handling of data stream in extensions service endpoint
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/admin/ExtensionsServiceEndpointResource.java
Labels: java, backend

#2561 fix(#2551): prevent Python functions from creating multiple output streams
  streampipes-client-python/streampipes/endpoint/endpoint.py
  streampipes-client-python/streampipes/functions/function_handler.py
  streampipes-client-python/streampipes/model/resource/data_stream.py
Labels: python, breaking change

#2565 refactor: remove unused class `PipelineElementContainer`
  streampipes-model/src/main/java/org/apache/streampipes/model/graph/PipelineElementContainer.java
Labels: java, refactoring, backend

#2566 2337 cant access connect with user role connect admin
  streampipes-platform-services/src/main/java/org/apache/streampipes/ps/PipelineElementTemplateResource.java
  ui/cypress/tests/userManagement/testUserRoleConnect.spec.ts
  ui/deployment/app-routing.module.mst
  ui/src/app/_guards/page-auth.can-active.guard.ts
  ui/src/app/add/add.module.ts
  ui/src/app/app-overview/app-overview.module.ts
  ui/src/app/assets/assets.module.ts
  ui/src/app/configuration/configuration.module.ts
  ui/src/app/connect/components/existing-adapters/existing-adapters.component.html
  ui/src/app/connect/components/existing-adapters/existing-adapters.component.ts
  ui/src/app/connect/connect.module.ts
  ui/src/app/core-ui/core-ui.module.ts
  ui/src/app/core-ui/help/help.component.html
  ui/src/app/core-ui/help/help.component.scss
  ui/src/app/core-ui/help/help.component.ts
  ui/src/app/core-ui/pipeline-element-documentation/pipeline-element-documentation.component.html
  ui/src/app/core-ui/pipeline-element-documentation/pipeline-element-documentation.component.scss
  ui/src/app/core-ui/pipeline-element-documentation/pipeline-element-documentation.component.ts
  ui/src/app/core-ui/pipeline-element-runtime-info/pipeline-element-runtime-info.component.html
  ui/src/app/core-ui/pipeline-element-runtime-info/pipeline-element-runtime-info.component.scss
  ui/src/app/core-ui/pipeline-element-runtime-info/pipeline-element-runtime-info.component.ts
  ui/src/app/dashboard/dashboard.module.ts
  ui/src/app/data-explorer/data-explorer.module.ts
  ui/src/app/editor/editor.module.ts
  ui/src/app/editor/services/editor.service.ts
  ui/src/app/files/files.module.ts
  ui/src/app/pipelines/pipelines.module.ts
Labels: java, ui, backend, testing

#2576 refactor: Remove duplicate import from dashboard module
  ui/src/app/dashboard/dashboard.module.ts
Labels: ui

#2575 test(#2574): Add test to validate pipeline element documentation
  ui/cypress/support/utils/PipelineUtils.ts
  ui/cypress/tests/pipelineElement/PipelineElementDocumentation.spec.ts
  ui/src/app/core-ui/help/help.component.ts
  ui/src/app/core-ui/pipeline-element-documentation/pipeline-element-documentation.component.html
  ui/src/app/core-ui/pipeline-element-documentation/pipeline-element-documentation.component.ts
  ui/src/app/editor/components/pipeline-element-icon-stand-row/pipeline-element-icon-stand-row.component.html
Labels: ui, testing

#2582 fix(#2577): pipeline element templates do not work
  streampipes-platform-services/src/main/java/org/apache/streampipes/ps/PipelineElementTemplateResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/ResetManagement.java
  ui/cypress/support/utils/PipelineElementTemplateUtils.ts
  ui/cypress/support/utils/PipelineUtils.ts
  ui/cypress/tests/pipelineElementConfigurationTemplate/connectConfigurationTemplate.spec.ts
  ui/cypress/tests/pipelineElementConfigurationTemplate/pipelineElementConfigurationTemplate.ts
  ui/src/app/connect/components/adapter-configuration/adapter-settings/adapter-settings.component.html
  ui/src/app/connect/dialog/adapter-template/adapter-template-dialog.component.html
  ui/src/app/core-ui/pipeline-element-template-config/pipeline-element-template-config.component.html
  ui/src/app/core-ui/pipeline-element-template-config/pipeline-element-template.pipe.ts
  ui/src/app/editor/components/pipeline-assembly/pipeline-assembly.component.html
  ui/src/app/editor/dialog/customize/customize.component.html
Labels: java, ui, backend, testing

#2580 feat(#2579): Add extended appearance panel to data explorer
  ui/src/app/data-explorer/components/designer-panel/appearance-settings/data-explorer-widget-appearance-settings.component.html
  ui/src/app/data-explorer/components/designer-panel/appearance-settings/data-explorer-widget-appearance-settings.component.ts
  ui/src/app/data-explorer/components/designer-panel/data-explorer-designer-panel.component.html
  ui/src/app/data-explorer/components/widgets/base/base-widget-config.ts
  ui/src/app/data-explorer/components/widgets/time-series-chart/config/time-series-chart-widget-config.component.html
  ui/src/app/data-explorer/components/widgets/time-series-chart/config/time-series-chart-widget-config.component.ts
  ui/src/app/data-explorer/components/widgets/time-series-chart/sp-timeseries-renderer.service.ts
  ui/src/app/data-explorer/components/widgets/utils/echarts-widget-appearance-config/echarts-widget-appearance-config.component.html
  ui/src/app/data-explorer/components/widgets/utils/echarts-widget-appearance-config/echarts-widget-appearance-config.component.ts
  ui/src/app/data-explorer/components/widgets/utils/select-color-properties/select-color-properties.component.html
  ui/src/app/data-explorer/components/widgets/utils/select-color-properties/select-color-properties.component.ts
  ui/src/app/data-explorer/components/widgets/utils/select-color-properties/time-series-item-config/time-series-item-config.component.html
  ui/src/app/data-explorer/components/widgets/utils/select-color-properties/time-series-item-config/time-series-item-config.component.ts
  ui/src/app/data-explorer/data-explorer.module.ts
  ui/src/app/data-explorer/echarts-renderer/base-echarts-renderer.ts
  ui/src/app/data-explorer/echarts-renderer/echarts-basic-options-generator.service.ts
  ui/src/app/data-explorer/models/dataview-dashboard.model.ts
  ui/src/app/data-explorer/registry/data-explorer-widget-registry.ts
Labels: ui

#2586 deps: Bump jackson-databind version
  pom.xml
Labels: dependencies

#2604 fix: Deactivate dependency check plugin
  pom.xml
Labels: dependencies

#2596 refactor: Minor code cleanup remove commented out code
  ui/src/app/editor/dialog/matching-error/matching-error.component.html
  ui/src/app/editor/dialog/save-pipeline/save-pipeline.component.html
Labels: ui

#2592 refactor: use class `TokenUtil` for token generation
  streampipes-model/src/main/java/org/apache/streampipes/model/util/ElementIdGenerator.java
  streampipes-resource-management/src/main/java/org/apache/streampipes/resource/management/UserResourceManager.java
  streampipes-user-management/src/main/java/org/apache/streampipes/user/management/util/TokenUtil.java
Labels: java, backend

#2595 refactor(#2594): Remove dataTable from pipeline-element-preview
  ui/src/app/editor/components/pipeline-element-preview/pipeline-element-preview.component.scss
Labels: ui

#2605 refactor(#1119): Remove dependencies for datatables in ui
  ui/angular.json
  ui/package-lock.json
  ui/package.json
  ui/src/scss/main.scss
Labels: dependencies, ui

#2600 chore(#2599): Remove RDF endpoint storage
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/endpoint/EndpointFetcher.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/setup/CouchDbInstallationStep.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/admin/ExtensionsServiceEndpointResource.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/INoSqlStorage.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/CouchDbStorageManager.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/impl/ExtensionsServiceEndpointStorageImpl.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/utils/Utils.java
  ui/src/app/add/add.component.html
  ui/src/app/add/add.component.ts
  ui/src/app/add/add.module.ts
  ui/src/app/add/dialogs/add-endpoint/add-endpoint.component.html
  ui/src/app/add/dialogs/add-endpoint/add-endpoint.component.scss
  ui/src/app/add/dialogs/add-endpoint/add-endpoint.component.ts
  ui/src/app/add/services/add.service.ts
Labels: java, ui, backend

#2588 feat(#2587): Add data zoom option
  ui/src/app/data-explorer/components/widgets/time-series-chart/appearance-config/time-series-appearance-config.component.html
  ui/src/app/data-explorer/components/widgets/time-series-chart/appearance-config/time-series-appearance-config.component.ts
  ui/src/app/data-explorer/components/widgets/time-series-chart/sp-timeseries-renderer.service.ts
  ui/src/app/data-explorer/components/widgets/utils/data-zoom-config/data-zoom-config.component.html
  ui/src/app/data-explorer/components/widgets/utils/data-zoom-config/data-zoom-config.component.ts
  ui/src/app/data-explorer/components/widgets/utils/select-color-properties/time-series-item-config/time-series-item-config.component.html
  ui/src/app/data-explorer/data-explorer.module.ts
  ui/src/app/data-explorer/models/dataview-dashboard.model.ts
  ui/src/app/data-explorer/registry/data-explorer-widget-registry.ts
  ui/src/scss/sp/layout.scss
Labels: ui

#2607 refactor: Remove empty class platformServiceConstants
  ui/projects/streampipes/platform-services/src/lib/contants/platform-services.constants.ts
Labels: ui

#2608 refactor(#2606): hamonize random id generation in UI
  ui/package-lock.json
  ui/package.json
  ui/src/app/app-asset-monitoring/components/create-asset/create-asset.component.ts
  ui/src/app/assets/components/asset-overview/asset-overview.component.ts
  ui/src/app/connect/components/adapter-configuration/schema-editor/event-property-row/event-property-row.component.ts
  ui/src/app/connect/components/adapter-configuration/schema-editor/event-schema/event-schema.component.ts
  ui/src/app/core-services/id-generator/id-generator.service.ts
  ui/src/app/core-ui/static-properties/static-property-util.service.ts
  ui/src/app/editor/components/output-strategy/user-defined-output/user-defined-output.component.ts
  ui/src/app/editor/components/pipeline/pipeline.component.ts
  ui/src/app/editor/dialog/save-pipeline/save-pipeline.component.ts
  ui/src/app/editor/services/jsplumb.service.ts
Labels: dependencies, ui

#2610 refactor(#2609): Remove service xs
  ui/projects/streampipes/platform-services/src/lib/apis/semantic-types-rest.service.ts
  ui/projects/streampipes/platform-services/src/public-api.ts
  ui/src/app/NS/XS.service.spec.ts
  ui/src/app/NS/xs.service.ts
  ui/src/app/configuration/extensions-service-management/extensions-service-configuration/service-configs/service-configs.component.html
  ui/src/app/configuration/extensions-service-management/extensions-service-configuration/service-configs/service-configs.component.ts
  ui/src/app/connect/components/adapter-configuration/schema-editor/event-property-row/event-property-row.component.ts
  ui/src/app/connect/components/adapter-configuration/schema-editor/event-schema/event-schema.component.ts
  ui/src/app/connect/connect.module.ts
  ui/src/app/connect/dialog/edit-event-property/components/edit-schema-transformation/edit-data-type/edit-data-type.component.ts
  ui/src/app/connect/dialog/edit-event-property/components/edit-schema-transformation/edit-schema-transformation.component.ts
  ui/src/app/connect/dialog/edit-event-property/edit-event-property.component.ts
  ui/src/app/connect/filter/timestamp.pipe.ts
  ui/src/app/connect/services/data-type.service.ts
  ui/src/app/connect/services/transformation-rule.service.ts
  ui/src/app/core-services/types/semantic-type.service.ts
  ui/src/app/core-ui/help/field-names-table/field-names-table.component.ts
  ui/src/app/core-ui/pipeline-element-runtime-info/live-preview-table/live-preview-table.component.ts
  ui/src/app/core-ui/static-properties/static-free-input/static-free-input.component.ts
  ui/src/app/core-ui/static-properties/static-property.component.ts
  ui/src/app/dashboard/components/widgets/table/table-widget.component.ts
  ui/src/app/dashboard/dashboard.module.ts
  ui/src/app/data-explorer/data-explorer.module.ts
  ui/src/app/data-explorer/services/data-explorer-field-provider-service.ts
  ui/src/app/editor/components/output-strategy/user-defined-output/user-defined-output.component.ts
  ui/src/app/editor/editor.module.ts
Labels: ui

#2598 fix(#2597): Improve Influx query handling
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/influx/DataExplorerInfluxQueryExecutor.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/param/ProvidedRestQueryParams.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/query/StreamedQueryResultProvider.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/query/writer/item/ItemGenerator.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/utils/TimeParser.java
  streampipes-data-explorer/src/test/java/org/apache/streampipes/dataexplorer/query/writer/TestConfiguredOutputWriter.java
  streampipes-data-explorer/src/test/java/org/apache/streampipes/dataexplorer/query/writer/item/TestItemWriter.java
  streampipes-model/src/main/java/org/apache/streampipes/model/datalake/SpQueryResult.java
Labels: java, backend, testing

#2437 feat: add streampipes go client
  .github/workflows/go-client.yml
  streampipes-client-go/examples/main.go
  streampipes-client-go/go.mod
  streampipes-client-go/streampipes/config/streampipes_client_config.go
  streampipes-client-go/streampipes/data_lake_measure_api.go
  streampipes-client-go/streampipes/endpoint.go
  streampipes-client-go/streampipes/internal/http_headers/header.go
  streampipes-client-go/streampipes/internal/serializer/deserializer.go
  streampipes-client-go/streampipes/internal/util/streampipes_api_path.go
  streampipes-client-go/streampipes/internal/util/streampipes_api_path_test.go
  streampipes-client-go/streampipes/model/common.go
  streampipes-client-go/streampipes/model/data_lake/data_lake_measure.go
  streampipes-client-go/streampipes/model/data_lake/data_series.go
  streampipes-client-go/streampipes/streampipes_client.go
  streampipes-client-go/streampipes/utils/check_url.go
  streampipes-client-go/streampipes/utils/check_url_test.go
Labels: gh-actions

#2624 docs: add closing tag in description of OI4 adapter
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/resources/org.apache.streampipes.connect.iiot.adapters.oi4/documentation.md
Labels: connect, documentation

#2623 refactor(#2622): Remove custom material from add module
  ui/deployment/appng5.module.mst
  ui/src/app/CustomMaterial/custom-material.module.ts
  ui/src/app/add/add.module.ts
  ui/src/app/apidocs/apidocs.module.ts
  ui/src/app/app-asset-monitoring/app-asset-monitoring.module.ts
  ui/src/app/app-overview/app-overview.module.ts
  ui/src/app/assets/assets.module.ts
  ui/src/app/configuration/configuration.module.ts
  ui/src/app/connect/connect.module.ts
  ui/src/app/core-ui/core-ui.module.ts
  ui/src/app/dashboard/dashboard.module.ts
  ui/src/app/data-explorer/data-explorer.module.ts
  ui/src/app/editor/editor.module.ts
  ui/src/app/info/info.module.ts
  ui/src/app/notifications/notifications.module.ts
  ui/src/app/pipeline-details/pipeline-details.module.ts
  ui/src/app/pipelines/pipelines.module.ts
  ui/src/app/profile/profile.module.ts
Labels: ui

#2625 refactor: Remove unused interfaces from storage
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/ICategoryStorage.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/ILabelStorage.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/IOntologyContextStorage.java
Labels: java, backend

#2627 refactor(#2626): Remove IVisualizationStorage
  streampipes-rest-core-base/src/main/java/org/apache/streampipes/rest/core/base/impl/AbstractRestResource.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/INoSqlStorage.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/IVisualizationStorage.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/CouchDbStorageManager.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/impl/VisualizationStorageImpl.java
Labels: java, backend

#2628 refactor: Remove unused filter class
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/utils/Filter.java
Labels: java, refactoring, backend

#2630 refactor(#2629): Remove component adapter details overview
  ui/src/app/connect/components/adapter-details/adapter-details-overview/adapter-details-overview.component.html
  ui/src/app/connect/components/adapter-details/adapter-details-overview/adapter-details-overview.component.scss
  ui/src/app/connect/components/adapter-details/adapter-details-overview/adapter-details-overview.component.ts
  ui/src/app/connect/components/adapter-details/adapter-details-tabs.ts
  ui/src/app/connect/connect.module.ts
Labels: ui

#2631 refactor: Harmonize static variables in GenericCouchDbConstants
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/constants/GenericCouchDbConstants.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/utils/CouchDbViewGenerator.java
Labels: java, backend

#2641 test: Fix broken e2e tests
  ui/src/app/assets/assets.module.ts
  ui/src/app/pipelines/dialog/import-pipeline/import-pipeline-dialog.component.html
  ui/src/app/pipelines/pipelines.module.ts
Labels: ui

#2646 fix: Disable live preview subscription when closing dialog
  ui/src/app/core-ui/pipeline-element-runtime-info/pipeline-element-runtime-info.component.ts
Labels: bug, ui

#2647 fix: Fix the e2e tests for data explorer line charts
  ui/cypress/support/utils/datalake/DataLakeUtils.ts
  ui/cypress/tests/datalake/widgets/heatmap.spec.ts
  ui/cypress/tests/datalake/widgets/histogram.spec.ts
  ui/cypress/tests/datalake/widgets/indicator.spec.ts
  ui/cypress/tests/datalake/widgets/map.spec.ts
  ui/cypress/tests/datalake/widgets/timeSeriesSave.spec.ts
  ui/src/app/data-explorer/components/widgets/utils/select-color-properties/time-series-item-config/time-series-item-config.component.html
Labels: ui, testing

#2649 fix(#2648): add missing Material modules
  ui/src/app/configuration/configuration.module.ts
Labels: ui

#2652 fix(#2650): Better highlight mandatory settings for self-registration
  ui/src/app/configuration/configuration.module.ts
  ui/src/app/configuration/general-configuration/general-configuration.component.html
  ui/src/app/configuration/general-configuration/general-configuration.component.scss
  ui/src/app/configuration/general-configuration/general-configuration.component.ts
Labels: ui

#2653 feat(#232): Support optional free text properties
  streampipes-model/src/main/java/org/apache/streampipes/model/staticproperty/RemoteOneOfStaticProperty.java
  streampipes-model/src/main/java/org/apache/streampipes/model/staticproperty/StaticProperty.java
  ui/projects/streampipes/platform-services/src/lib/model/gen/streampipes-model.ts
  ui/src/app/core-ui/static-properties/input.validator.ts
  ui/src/app/core-ui/static-properties/static-free-input/static-free-input.component.html
  ui/src/app/core-ui/static-properties/static-free-input/static-free-input.component.ts
Labels: java, ui, backend

#2658 feat(#2657): Add tooltips to dashboard icon buttons
  ui/src/app/dashboard/components/overview/dashboard-overview.component.html
Labels: ui

#2663 refactor: remove unused code in streampipes user model
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/user/Element.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/user/Principal.java
Labels: java, refactoring, backend

#2666 refactor: remove dead class `RunningVisualization`
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/RunningVisualization.java
Labels: java, backend

#2645 refactor: Improve extension installation process
  streampipes-model/src/main/java/org/apache/streampipes/model/SpDataStream.java
  streampipes-model/src/main/java/org/apache/streampipes/model/base/NamedStreamPipesEntity.java
  streampipes-model/src/main/java/org/apache/streampipes/model/extensions/ExtensionAssetType.java
  streampipes-model/src/main/java/org/apache/streampipes/model/extensions/ExtensionItemDescription.java
  streampipes-model/src/main/java/org/apache/streampipes/model/extensions/ExtensionItemInstallationRequest.java
  streampipes-model/src/main/java/org/apache/streampipes/model/extensions/svcdiscovery/SpServiceRegistration.java
  streampipes-model/src/main/java/org/apache/streampipes/model/extensions/svcdiscovery/SpServiceTag.java
  streampipes-model/src/main/java/org/apache/streampipes/model/extensions/svcdiscovery/SpServiceTagPrefix.java
  streampipes-model/src/main/java/org/apache/streampipes/model/util/ServiceDefinitionUtil.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/api/extensions/IExtensionsResourceUrlProvider.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/endpoint/EndpointFetcher.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/endpoint/EndpointItemFetcher.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/endpoint/EndpointItemParser.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/endpoint/HttpJsonParser.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/extensions/AvailableExtensionsProvider.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/extensions/ExtensionItemInstaller.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/extensions/ExtensionsResourceUrlProvider.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/migration/AbstractMigrationManager.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/monitoring/pipeline/ExtensionsServiceLogExecutor.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/operations/Operations.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/setup/ExtensionsInstallationTask.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/setup/InstallationConfiguration.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/setup/PipelineElementInstallationStep.java
  streampipes-rest-core-base/src/main/java/org/apache/streampipes/rest/core/base/impl/AbstractRestResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/admin/ExtensionsInstallationResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/admin/ExtensionsServiceEndpointResource.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/utils/Assets.java
  streampipes-service-discovery-api/src/main/java/org/apache/streampipes/svcdiscovery/api/model/SpServicePathPrefix.java
  streampipes-service-discovery-api/src/main/java/org/apache/streampipes/svcdiscovery/api/model/SpServiceUrlProvider.java
  streampipes-service-discovery/src/main/java/org/apache/streampipes/svcdiscovery/SpServiceDiscoveryCore.java
  streampipes-service-extensions/src/main/java/org/apache/streampipes/service/extensions/ExtensionItemProvider.java
  streampipes-service-extensions/src/main/java/org/apache/streampipes/service/extensions/ExtensionsModelSubmitter.java
  streampipes-service-extensions/src/main/java/org/apache/streampipes/service/extensions/ServiceTagProvider.java
  streampipes-service-extensions/src/main/java/org/apache/streampipes/service/extensions/StreamPipesExtensionsServiceBase.java
  ui/projects/streampipes/platform-services/src/lib/apis/extension-installation.service.ts
  ui/projects/streampipes/platform-services/src/lib/model/gen/streampipes-model.ts
  ui/projects/streampipes/platform-services/src/public-api.ts
  ui/src/app/add/add.component.html
  ui/src/app/add/add.component.ts
  ui/src/app/add/add.module.ts
  ui/src/app/add/components/endpoint-item/endpoint-item.component.html
  ui/src/app/add/components/endpoint-item/endpoint-item.component.ts
  ui/src/app/add/dialogs/endpoint-installation/endpoint-installation.component.html
  ui/src/app/add/dialogs/endpoint-installation/endpoint-installation.component.ts
  ui/src/app/add/filter/order-by.pipe.ts
  ui/src/app/add/filter/pipeline-element-installation-status.pipe.ts
  ui/src/app/add/filter/pipeline-element-name.pipe.ts
  ui/src/app/add/filter/pipeline-element-type.pipe.ts
  ui/src/app/add/services/add.service.ts
  ui/src/app/pipelines/dialog/pipeline-status/pipeline-status-dialog.component.scss
  ui/src/scss/sp/main.scss
Labels: java, ui, backend

#2670 refactor: remove unused ontology package
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/ontology/Concept.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/ontology/Context.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/ontology/ElementHeader.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/ontology/ElementType.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/ontology/EnumeratedRange.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/ontology/EnumeratedValue.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/ontology/Instance.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/ontology/Namespace.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/ontology/NodeType.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/ontology/OntologyElement.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/ontology/OntologyNode.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/ontology/OntologyQuery.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/ontology/OntologyQueryItem.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/ontology/OntologyQueryResponse.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/ontology/PrimitiveRange.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/ontology/Property.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/ontology/QuantitativeValueRange.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/ontology/Range.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/ontology/RangeType.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/ontology/RdfFormat.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/ontology/Resource.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/ontology/Statement.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/serializer/RangeSerializer.java
Labels: java, backend

#2669 refactor: remove unused deployment package
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/deployment/DeploymentConfiguration.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/deployment/DeploymentType.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/deployment/ElementType.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/deployment/OutputType.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/deployment/RuntimeType.java
Labels: java, backend

#2668 refactor: remove unused monitoring package
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/monitoring/JobReport.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/monitoring/TaskReport.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/monitoring/pipeline/AbstractBurrowInfo.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/monitoring/pipeline/BurrowConsumerGroupStatus.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/monitoring/pipeline/BurrowConsumerGroupStatusInfo.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/monitoring/pipeline/BurrowConsumerInfo.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/monitoring/pipeline/BurrowTopicInfo.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/monitoring/pipeline/PipelineExecutionStatus.java
Labels: java, backend

#2671 refactor: remove dead data lake model classes
  streampipes-model/src/main/java/org/apache/streampipes/model/datalake/DataLakeConfiguration.java
  streampipes-model/src/main/java/org/apache/streampipes/model/datalake/DataLakeRetentionPolicy.java
  streampipes-model/src/main/java/org/apache/streampipes/model/datalake/LabelDefinition.java
  streampipes-model/src/main/java/org/apache/streampipes/model/datalake/PersistedDataStream.java
Labels: java, backend

#2676 fix: Inject missing Angular service
  ui/src/app/configuration/extensions-service-management/extensions-service-configuration/service-configs/service-configs.component.ts
Labels: ui
