Repository apache/streampipes, pull requests merged in 2024-02, with the labels that each got.

#2463 fix(#2462): Use unique stream identifier for functions
  streampipes-wrapper-standalone/src/main/java/org/apache/streampipes/wrapper/standalone/function/StreamPipesFunction.java
Labels: java, backend

#2464 fix(#2461): Check for available placeholders when sending email
  streampipes-mail/src/main/java/org/apache/streampipes/mail/template/generation/MailTemplateBuilder.java
Labels: java, backend

#2466 fix(#2465): Replace time selection component in data explorer download
  ui/src/app/core-ui/core-ui.module.ts
  ui/src/app/core-ui/data-download-dialog/components/select-data/select-data-range/select-data-range.component.html
  ui/src/app/core-ui/data-download-dialog/components/select-data/select-data-range/select-data-range.component.scss
  ui/src/app/core-ui/data-download-dialog/components/select-data/select-data-range/select-data-range.component.ts
  ui/src/app/core-ui/date-input/date-input.component.html
  ui/src/app/core-ui/date-input/date-input.component.scss
  ui/src/app/core-ui/date-input/date-input.component.ts
  ui/src/app/data-explorer/data-explorer.module.ts
Labels: ui

#2467 refactor: Some minor changes and code cleanups
  ui/src/app/data-explorer/components/panel/data-explorer-dashboard-panel.component.ts
  ui/src/app/data-explorer/components/widget-view/grid-view/data-explorer-dashboard-grid.component.ts
  ui/src/app/data-explorer/components/widget-view/slide-view/data-explorer-dashboard-slide-view.component.ts
  ui/src/app/data-explorer/components/widgets/time-series-chart/config/time-series-chart-widget-config.component.html
  ui/src/app/data-explorer/components/widgets/time-series-chart/model/time-series-chart-widget.model.ts
Labels: ui

#2486 refactor: Remove two classes that are deprecated and not used anymore
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/stream/SchemaBuilder.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/stream/StreamBuilder.java
Labels: java, backend

#2487 test: add tests for commons parser
  streampipes-commons/src/test/java/org/apache/streampipes/commons/parser/BooleanParserTest.java
  streampipes-commons/src/test/java/org/apache/streampipes/commons/parser/FloatParserTest.java
  streampipes-commons/src/test/java/org/apache/streampipes/commons/parser/IntegerParserTest.java
  streampipes-commons/src/test/java/org/apache/streampipes/commons/parser/StringParserTest.java
Labels: java, backend, testing

#2478 fix(#2413): Add clean up for assets and extract methods of deletion steps
  streampipes-rest/src/main/java/org/apache/streampipes/rest/ResetManagement.java
Labels: java, backend

#2492 fix(#2491): Keep selected nodes when updating an existing adapter
  streampipes-connect-shared/src/main/java/org/apache/streampipes/connect/shared/preprocessing/convert/ToTransformedSchemaConverter.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/adapter/OpcUaAdapter.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/sink/OpcUaSink.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/utils/OpcUaUtil.java
  ui/src/app/connect/components/configuration-group/configuration-group.component.html
  ui/src/app/core-ui/static-properties/static-runtime-resolvable-tree-input/static-tree-input.component.html
  ui/src/app/core-ui/static-properties/static-runtime-resolvable-tree-input/static-tree-input.component.ts
Labels: java, ui, backend

#2494 fix(#2493): Trigger filter when deselecting users
  ui/src/app/core-ui/object-permission-dialog/object-permission-dialog.component.html
  ui/src/app/core-ui/object-permission-dialog/object-permission-dialog.component.ts
Labels: ui

#2495 refactor: Remove unused code and minor refactoring
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/config/SpOpcUaConfigExtractor.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/utils/OpcUaUtil.java
  streampipes-extensions/streampipes-connectors-opcua/src/test/java/org/apache/streampipes/extensions/connectors/opcua/utils/OpcUaUtilTest.java
Labels: java, backend, testing
