Repository apache/streampipes, pull requests merged in 2024-09, with the labels that each got.

#3205 fix: Migrate command-line tool config to pyproject.toml
  streampipes-client-python/.pre-commit-config.yaml
  streampipes-client-python/pyproject.toml
  streampipes-client-python/streampipes/endpoint/api/data_lake_measure.py
  streampipes-client-python/streampipes/functions/utils/data_stream_generator.py
  streampipes-client-python/streampipes/model/common.py
  streampipes-client-python/streampipes/model/resource/data_stream.py
Labels: python

#3210 chore(#3207): Remove pipeline element recommender
  streampipes-model/src/main/java/org/apache/streampipes/model/pipeline/PipelineElementRecommendation.java
  streampipes-model/src/main/java/org/apache/streampipes/model/pipeline/PipelineElementRecommendationMessage.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/matching/ConnectionStorageHandler.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/recommender/ElementRecommender.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/setup/CouchDbInstallationStep.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/storage/PipelineStorageService.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/security/SpPermissionEvaluator.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/INoSqlStorage.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/IPipelineElementConnectionStorage.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/CouchDbStorageManager.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/impl/ConnectionStorageImpl.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/utils/Utils.java
  ui/projects/streampipes/platform-services/src/lib/model/gen/streampipes-model.ts
  ui/src/app/editor/components/pipeline-element-options/pipeline-element-options.component.html
  ui/src/app/editor/components/pipeline-element-options/pipeline-element-options.component.scss
  ui/src/app/editor/components/pipeline-element-options/pipeline-element-options.component.ts
  ui/src/app/editor/components/pipeline-element-recommendation/pipeline-element-recommendation.component.html
  ui/src/app/editor/components/pipeline-element-recommendation/pipeline-element-recommendation.component.scss
  ui/src/app/editor/components/pipeline-element-recommendation/pipeline-element-recommendation.component.ts
  ui/src/app/editor/editor.module.ts
  ui/src/app/editor/services/pipeline-element-recommendation.service.ts
  ui/src/scss/sp/main.scss
  ui/src/scss/sp/pipeline-element-options.scss
Labels: java, ui, backend

#3217 Move data view name input field to toolbar and simplified data explorer appearance
  ui/src/app/data-explorer/components/data-view/data-explorer-data-view.component.html
  ui/src/app/data-explorer/components/data-view/data-explorer-data-view.component.scss
  ui/src/app/data-explorer/components/data-view/data-view-designer-panel/appearance-settings/data-explorer-widget-appearance-settings.component.html
  ui/src/app/data-explorer/components/data-view/data-view-designer-panel/data-explorer-designer-panel.component.html
  ui/src/app/data-explorer/components/data-view/data-view-toolbar/data-explorer-data-view-toolbar.component.html
  ui/src/app/data-explorer/components/data-view/data-view-toolbar/data-explorer-data-view-toolbar.component.ts
Labels: ui

#3204 feat: add more support for adapter API to Go client
  streampipes-client-go/streampipes/adapter_api.go
  streampipes-client-go/streampipes/internal/serializer/deserializer.go
  streampipes-client-go/streampipes/internal/serializer/serializer.go
  streampipes-client-go/streampipes/model/adapter/adapter_description.go
  streampipes-client-go/streampipes/model/common.go
  streampipes-client-go/streampipes/streampipes_client.go
Labels: go

#3223 Add new traffic light widget to data explorer
  ui/src/app/data-explorer/components/data-view/data-view-toolbar/data-explorer-data-view-toolbar.component.html
  ui/src/app/data-explorer/components/widgets/traffic-light/config/traffic-light-widget-config.component.html
  ui/src/app/data-explorer/components/widgets/traffic-light/config/traffic-light-widget-config.component.scss
  ui/src/app/data-explorer/components/widgets/traffic-light/config/traffic-light-widget-config.component.ts
  ui/src/app/data-explorer/components/widgets/traffic-light/model/traffic-light-widget.model.ts
  ui/src/app/data-explorer/components/widgets/traffic-light/traffic-light-widget.component.html
  ui/src/app/data-explorer/components/widgets/traffic-light/traffic-light-widget.component.scss
  ui/src/app/data-explorer/components/widgets/traffic-light/traffic-light-widget.component.ts
  ui/src/app/data-explorer/data-explorer.module.ts
  ui/src/app/data-explorer/registry/data-explorer-widget-registry.ts
Labels: ui

#3226 Add status widget to data explorer
  ui/src/app/data-explorer/components/widgets/status/config/status-widget-config.component.html
  ui/src/app/data-explorer/components/widgets/status/config/status-widget-config.component.scss
  ui/src/app/data-explorer/components/widgets/status/config/status-widget-config.component.ts
  ui/src/app/data-explorer/components/widgets/status/model/status-widget.model.ts
  ui/src/app/data-explorer/components/widgets/status/status-widget.component.html
  ui/src/app/data-explorer/components/widgets/status/status-widget.component.scss
  ui/src/app/data-explorer/components/widgets/status/status-widget.component.ts
  ui/src/app/data-explorer/components/widgets/traffic-light/traffic-light-widget.component.ts
  ui/src/app/data-explorer/data-explorer.module.ts
  ui/src/app/data-explorer/registry/data-explorer-widget-registry.ts
Labels: ui

#3228 feat(#3227): Move file management to settings
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/GenericStorageResource.java
  streampipes-user-management/src/main/java/org/apache/streampipes/user/management/authorization/RoleManager.java
  ui/cypress/support/utils/FileManagementUtils.ts
  ui/cypress/tests/userManagement/testVariousUserRoles.smoke.spec.ts
  ui/deployment/app-routing.module.mst
  ui/deployment/base-navigation.component.mst
  ui/deployment/dev/config.yml
  ui/deployment/home.service.mst
  ui/deployment/modules.yml
  ui/deployment/prebuild.js
  ui/projects/streampipes/shared-ui/src/lib/components/asset-browser/asset-browser.component.html
  ui/projects/streampipes/shared-ui/src/lib/components/asset-browser/asset-browser.component.ts
  ui/projects/streampipes/shared-ui/src/lib/services/current-user.service.ts
  ui/src/app/_enums/user-privilege.enum.ts
  ui/src/app/_guards/page-auth.can-active.guard.ts
  ui/src/app/assets/components/asset-overview/asset-overview.component.html
  ui/src/app/assets/components/asset-overview/asset-overview.component.ts
  ui/src/app/configuration/configuration-tabs.service.ts
  ui/src/app/configuration/configuration.module.ts
  ui/src/app/configuration/dialog/file-rename/file-rename-dialog.component.html
  ui/src/app/configuration/dialog/file-rename/file-rename-dialog.component.scss
  ui/src/app/configuration/dialog/file-rename/file-rename-dialog.component.ts
  ui/src/app/configuration/dialog/file-upload/file-upload-dialog.component.html
  ui/src/app/configuration/dialog/file-upload/file-upload-dialog.component.scss
  ui/src/app/configuration/dialog/file-upload/file-upload-dialog.component.ts
  ui/src/app/configuration/files/file-overview/file-overview.component.html
  ui/src/app/configuration/files/file-overview/file-overview.component.scss
  ui/src/app/configuration/files/file-overview/file-overview.component.ts
  ui/src/app/configuration/files/files.component.html
  ui/src/app/configuration/files/files.component.scss
  ui/src/app/configuration/files/files.component.ts
  ui/src/app/core-ui/static-properties/static-file-input/static-file-input.component.ts
  ui/src/app/core/components/iconbar/iconbar.component.html
  ui/src/app/core/components/iconbar/iconbar.component.ts
  ui/src/app/files/files.module.ts
  ui/src/app/home/models/home.model.ts
  ui/src/app/pipelines/pipelines.component.html
  ui/src/app/services/auth.service.ts
Labels: java, ui, backend, testing, javascript

#3236 feat: Add dialog window for deletion of assets
  ui/src/app/assets/components/asset-overview/asset-overview.component.ts
Labels: ui

#3235 feat: Add option to make doughnut chart out of pie chart
  ui/src/app/data-explorer/components/widgets/pie/config/pie-chart-widget-config.component.html
  ui/src/app/data-explorer/components/widgets/pie/config/pie-chart-widget-config.component.ts
  ui/src/app/data-explorer/components/widgets/pie/model/pie-chart-widget.model.ts
  ui/src/app/data-explorer/components/widgets/pie/pie-renderer.service.ts
Labels: ui

#3250 fix(#3249): Reload component on init
  ui/cypress/tests/connect/opcua/startAndEditOpcAdapters.spec.ts
  ui/src/app/core-ui/static-properties/static-runtime-resolvable-tree-input/static-runtime-resolvable-tree-input.component.ts
Labels: ui, testing

#3248 fix(#3247): Add waiting time and add test to smoke tests
  ui/cypress/support/utils/datalake/DataLakeUtils.ts
  ui/cypress/tests/datalake/timeRangeSelectors.spec.ts
  ui/src/app/core-ui/static-properties/static-runtime-resolvable-tree-input/static-runtime-resolvable-tree-input.component.ts
Labels: ui, testing

#3238 fix: Properly update output streams in functions
  streampipes-service-extensions/src/main/java/org/apache/streampipes/service/extensions/function/StreamPipesFunctionHandler.java
Labels: java, backend

#3258 fix(#3257): Synchronously trigger deregistration handler
  streampipes-service-extensions/src/main/java/org/apache/streampipes/service/extensions/function/StreamPipesFunctionHandler.java
Labels: java, backend

#3254 fix(#3253): Change linting back to check instead of write
  ui/.lintstagedrc.json
Labels: ui

#3240 feat: Add time selection menu for single widgets in dashboard
  streampipes-model/src/main/java/org/apache/streampipes/model/dashboard/DashboardItem.java
  ui/projects/streampipes/platform-services/src/lib/model/dashboard/dashboard.model.ts
  ui/projects/streampipes/platform-services/src/lib/model/datalake/DateRange.ts
  ui/projects/streampipes/platform-services/src/lib/model/gen/streampipes-model.ts
  ui/src/app/data-explorer/components/time-selector/time-selector-menu/custom-time-range-selection/custom-time-range-selection.component.html
  ui/src/app/data-explorer/components/time-selector/time-selector-menu/time-selector-menu.component.html
  ui/src/app/data-explorer/components/widget/data-explorer-dashboard-widget.component.html
  ui/src/app/data-explorer/components/widget/data-explorer-dashboard-widget.component.ts
  ui/src/app/data-explorer/components/widgets/base/base-data-explorer-widget.directive.ts
  ui/src/app/data-explorer/dialogs/edit-dashboard/data-explorer-edit-dashboard-dialog.component.html
  ui/src/app/data-explorer/models/dataview-dashboard.model.ts
  ui/src/app/data-explorer/services/time-selection.service.ts
Labels: java, ui, backend

#3262 docs:Modify the README file of K8S and note that the port does not match the document use case
  installer/k8s/README.md
Labels: installer, documentation

#3260 feat(#3259): Add duplicate filter to timeseries storage
  streampipes-data-explorer-api/src/main/java/org/apache/streampipes/dataexplorer/api/IDataExplorerManager.java
  streampipes-data-explorer-influx/src/main/java/org/apache/streampipes/dataexplorer/influx/DataExplorerManagerInflux.java
  streampipes-data-explorer-influx/src/main/java/org/apache/streampipes/dataexplorer/influx/PropertyDuplicateFilter.java
  streampipes-data-explorer-influx/src/main/java/org/apache/streampipes/dataexplorer/influx/PropertyHandler.java
  streampipes-data-explorer-influx/src/main/java/org/apache/streampipes/dataexplorer/influx/TimeSeriesStorageInflux.java
  streampipes-data-explorer-influx/src/test/java/org/apache/streampipes/dataexplorer/influx/PropertyDuplicateFilterTest.java
  streampipes-data-explorer-iotdb/src/main/java/org/apache/streampipes/dataexplorer/iotdb/DataExplorerManagerIotDb.java
  streampipes-extensions/streampipes-sinks-internal-jvm/src/main/java/org/apache/streampipes/sinks/internal/jvm/datalake/DataLakeSink.java
  streampipes-extensions/streampipes-sinks-internal-jvm/src/main/java/org/apache/streampipes/sinks/internal/jvm/datalake/migrations/DataLakeSinkMigrationV2.java
  streampipes-extensions/streampipes-sinks-internal-jvm/src/main/resources/org.apache.streampipes.sinks.internal.jvm.datalake/documentation.md
  streampipes-extensions/streampipes-sinks-internal-jvm/src/main/resources/org.apache.streampipes.sinks.internal.jvm.datalake/strings.en
  streampipes-extensions/streampipes-sinks-internal-jvm/src/test/java/org/apache/streampipes/sinks/internal/jvm/datalake/migrations/DataLakeSinkMigrationV2Test.java
  ui/src/app/core-ui/static-properties/static-slide-toggle/static-slide-toggle.component.html
  ui/src/app/core-ui/static-properties/static-slide-toggle/static-slide-toggle.component.ts
Labels: java, ui, pipeline elements, backend, documentation, testing

#3231 feat: Manually override dimensions in data lake sink
  streampipes-data-explorer-api/src/main/java/org/apache/streampipes/dataexplorer/api/IDataExplorerManager.java
  streampipes-data-explorer-influx/src/main/java/org/apache/streampipes/dataexplorer/influx/DataExplorerManagerInflux.java
  streampipes-data-explorer-influx/src/main/java/org/apache/streampipes/dataexplorer/influx/PropertyDuplicateFilter.java
  streampipes-data-explorer-influx/src/main/java/org/apache/streampipes/dataexplorer/influx/PropertyHandler.java
  streampipes-data-explorer-influx/src/main/java/org/apache/streampipes/dataexplorer/influx/TimeSeriesStorageInflux.java
  streampipes-data-explorer-influx/src/test/java/org/apache/streampipes/dataexplorer/influx/PropertyDuplicateFilterTest.java
  streampipes-data-explorer-iotdb/src/main/java/org/apache/streampipes/dataexplorer/iotdb/DataExplorerManagerIotDb.java
  streampipes-extensions-api/src/main/java/org/apache/streampipes/extensions/api/extractor/IParameterExtractor.java
  streampipes-extensions/streampipes-sinks-internal-jvm/src/main/java/org/apache/streampipes/sinks/internal/jvm/InternalSinksExtensionModuleExports.java
  streampipes-extensions/streampipes-sinks-internal-jvm/src/main/java/org/apache/streampipes/sinks/internal/jvm/datalake/DataLakeDimensionProvider.java
  streampipes-extensions/streampipes-sinks-internal-jvm/src/main/java/org/apache/streampipes/sinks/internal/jvm/datalake/DataLakeSink.java
  streampipes-extensions/streampipes-sinks-internal-jvm/src/main/java/org/apache/streampipes/sinks/internal/jvm/datalake/migrations/DataLakeSinkMigrationV2.java
  streampipes-extensions/streampipes-sinks-internal-jvm/src/main/resources/org.apache.streampipes.sinks.internal.jvm.datalake/documentation.md
  streampipes-extensions/streampipes-sinks-internal-jvm/src/main/resources/org.apache.streampipes.sinks.internal.jvm.datalake/strings.en
  streampipes-extensions/streampipes-sinks-internal-jvm/src/test/java/org/apache/streampipes/sinks/internal/jvm/datalake/migrations/DataLakeSinkMigrationV2Test.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/extractor/AbstractParameterExtractor.java
  ui/src/app/core-ui/static-properties/static-slide-toggle/static-slide-toggle.component.html
  ui/src/app/core-ui/static-properties/static-slide-toggle/static-slide-toggle.component.ts
Labels: java, ui, pipeline elements, backend, documentation, testing

#3251 refactor: Rename domain properties to semantic type
  streampipes-client-go/streampipes/model/common.go
  streampipes-client-python/streampipes/functions/utils/data_stream_generator.py
  streampipes-client-python/streampipes/model/common.py
  streampipes-client-python/tests/client/test_endpoint.py
  streampipes-connect-management/src/main/java/org/apache/streampipes/connect/management/compact/PersistPipelineHandler.java
  streampipes-connect-management/src/main/java/org/apache/streampipes/connect/management/compact/SchemaMetadataEnricher.java
  streampipes-connect-management/src/test/java/org/apache/streampipes/connect/management/management/compact/generator/AdapterSchemaGeneratorTest.java
  streampipes-connect-shared/src/main/java/org/apache/streampipes/connect/shared/preprocessing/convert/ToOriginalSchemaConverter.java
  streampipes-connect-shared/src/main/java/org/apache/streampipes/connect/shared/preprocessing/convert/ToTransformedSchemaConverter.java
  streampipes-data-explorer-iotdb/src/test/java/org/apache/streampipes/dataexplorer/iotdb/IotDbPropertyConverterTest.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/ImageStoreUtils.java
  streampipes-extensions-api/src/main/java/org/apache/streampipes/extensions/api/extractor/IParameterExtractor.java
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/connect/adapter/parser/json/GeoJsonParser.java
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/util/EventSchemaUtils.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/protocol/stream/FileReplayAdapter.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/protocol/stream/HttpServerProtocol.java
  streampipes-extensions/streampipes-processors-filters-siddhi/src/main/java/org/apache/streampipes/processors/siddhi/listcollector/ListCollector.java
  streampipes-extensions/streampipes-sinks-internal-jvm/src/main/java/org/apache/streampipes/sinks/internal/jvm/datalake/DataLakeDimensionProvider.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/matching/MatchingResultType.java
  streampipes-model/src/main/java/org/apache/streampipes/model/schema/EventProperty.java
  streampipes-model/src/main/java/org/apache/streampipes/model/schema/EventPropertyList.java
  streampipes-model/src/main/java/org/apache/streampipes/model/schema/EventPropertyPrimitive.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/matching/output/PropertyDuplicateRemover.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/matching/output/TransformOutputSchemaGenerator.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/matching/v2/ListPropertyMatch.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/matching/v2/PrimitivePropertyMatch.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/matching/v2/PropertyMatch.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/matching/v2/SemanticTypeMatch.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/remote/ContainerProvidedOptionsHandler.java
  streampipes-pipeline-management/src/test/java/org/apache/streampipes/manager/matching/v2/ListPropertyMatchTest.java
  streampipes-pipeline-management/src/test/java/org/apache/streampipes/manager/matching/v2/TestSemanticTypeMatch.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/StaticProperties.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/builder/PrimitivePropertyBuilder.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/builder/PropertyRequirementsBuilder.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/extractor/AbstractParameterExtractor.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/helpers/EpProperties.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/helpers/EpRequirements.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/serializer/EventPropertySerializer.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/serializer/GsonSerializer.java
  streampipes-test-utils/src/main/java/org/apache/streampipes/test/generator/EventPropertyPrimitiveTestBuilder.java
  streampipes-test-utils/src/main/java/org/apache/streampipes/test/generator/EventStreamGenerator.java
  ui/projects/streampipes/platform-services/src/lib/model/gen/streampipes-model.ts
  ui/projects/streampipes/platform-services/src/lib/model/types/semantic-type.ts
  ui/src/app/connect/components/adapter-configuration/schema-editor/event-property-row/event-property-row.component.ts
  ui/src/app/connect/components/adapter-configuration/schema-editor/event-schema/event-schema.component.ts
  ui/src/app/connect/dialog/edit-event-property/components/edit-schema-transformation/edit-schema-transformation.component.html
  ui/src/app/connect/dialog/edit-event-property/components/edit-schema-transformation/edit-schema-transformation.component.ts
  ui/src/app/connect/dialog/edit-event-property/edit-event-property.component.ts
  ui/src/app/connect/filter/timestamp.pipe.ts
  ui/src/app/connect/services/transformation-rule.service.ts
  ui/src/app/core-ui/static-properties/static-property.component.html
  ui/src/app/core-ui/static-properties/static-runtime-resolvable-any-input/static-runtime-resolvable-any-input.component.html
  ui/src/app/core-ui/static-properties/static-runtime-resolvable-any-input/static-runtime-resolvable-any-input.component.ts
  ui/src/app/dashboard/components/widgets/table/table-widget.component.ts
  ui/src/app/dashboard/sdk/ep-requirements.ts
  ui/src/app/dashboard/sdk/matching/domain-property-match.ts
  ui/src/app/dashboard/sdk/matching/primitive-property-match.ts
  ui/src/app/data-explorer/services/data-explorer-field-provider-service.ts
  ui/src/app/editor/components/output-strategy/user-defined-output/user-defined-output.component.html
  ui/src/app/editor/components/output-strategy/user-defined-output/user-defined-output.component.ts
Labels: java, python, ui, pipeline elements, connect, backend, testing, go
