Repository apache/streampipes, pull requests merged in 2024-07, with the labels that each got.

#2980 feat(#2979): Add documentation buttons to adapter view
  ui/src/app/connect/components/adapter-configuration/adapter-configuration.component.html
  ui/src/app/connect/components/adapter-configuration/adapter-configuration.component.ts
  ui/src/app/connect/components/data-marketplace/adapter-description/adapter-description.component.html
  ui/src/app/connect/components/data-marketplace/adapter-description/adapter-description.component.scss
  ui/src/app/connect/components/data-marketplace/adapter-description/adapter-description.component.ts
  ui/src/app/connect/components/data-marketplace/data-marketplace.component.html
  ui/src/app/connect/connect.module.ts
  ui/src/app/connect/dialog/adapter-documentation/adapter-documentation-dialog.component.html
  ui/src/app/connect/dialog/adapter-documentation/adapter-documentation-dialog.component.ts
Labels: ui

#2985 refactor: Remove unused code and some minor code improvements
  streampipes-measurement-units/src/main/java/com/github/jqudt/Multiplier.java
  streampipes-measurement-units/src/main/java/com/github/jqudt/Quantity.java
  streampipes-measurement-units/src/main/java/com/github/jqudt/uo/UnitOntologyFactory.java
  streampipes-measurement-units/src/main/java/org/apache/streampipes/units/UnitCollector.java
  streampipes-measurement-units/src/main/java/org/apache/streampipes/units/UnitProvider.java
  streampipes-measurement-units/src/test/java/org/apache/streampipes/units/test/TestUnitProvider.java
Labels: java, backend, testing

#2986 refactor(#2964): timestamp conversion is broken in adapters
  streampipes-connect-shared/src/main/java/org/apache/streampipes/connect/shared/preprocessing/SupportsNestedTransformationRule.java
  streampipes-connect-shared/src/main/java/org/apache/streampipes/connect/shared/preprocessing/elements/AdapterTransformationPipelineElement.java
  streampipes-connect-shared/src/main/java/org/apache/streampipes/connect/shared/preprocessing/generator/TransformationRuleGeneratorVisitor.java
  streampipes-connect-shared/src/main/java/org/apache/streampipes/connect/shared/preprocessing/transform/schema/AddValueTransformationRule.java
  streampipes-connect-shared/src/main/java/org/apache/streampipes/connect/shared/preprocessing/transform/schema/MoveTransformationRule.java
  streampipes-connect-shared/src/main/java/org/apache/streampipes/connect/shared/preprocessing/transform/stream/DuplicateFilterPipelineElement.java
  streampipes-connect-shared/src/main/java/org/apache/streampipes/connect/shared/preprocessing/transform/stream/EventRateTransformationRule.java
  streampipes-connect-shared/src/main/java/org/apache/streampipes/connect/shared/preprocessing/transform/value/AddTimestampTransformationRule.java
  streampipes-connect-shared/src/main/java/org/apache/streampipes/connect/shared/preprocessing/transform/value/DatatypeTransformationRule.java
  streampipes-connect-shared/src/main/java/org/apache/streampipes/connect/shared/preprocessing/transform/value/TimestampTransformationRule.java
  streampipes-connect-shared/src/test/java/org/apache/streampipes/connect/shared/preprocessing/transform/schema/SchemaEventTransformerTest.java
  streampipes-connect-shared/src/test/java/org/apache/streampipes/connect/shared/preprocessing/transform/value/ValueEventTransformerTest.java
  streampipes-extensions-api/src/main/java/org/apache/streampipes/extensions/api/connect/StreamPipesAdapter.java
  streampipes-extensions-api/src/main/java/org/apache/streampipes/extensions/api/connect/TransformationRule.java
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/connect/AdapterWorkerManagement.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/protocol/stream/FileReplayAdapter.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/test/java/org/apache/streampipes/connect/iiot/protocol/stream/FileReplayAdapterTest.java
  ui/cypress/fixtures/connect/fileReplay/noTimestamp.csv
  ui/cypress/fixtures/connect/fileReplay/timestampInMilliseconds/expected.csv
  ui/cypress/fixtures/connect/fileReplay/timestampInMilliseconds/input.csv
  ui/cypress/fixtures/connect/fileReplay/timestampInSeconds/expected.csv
  ui/cypress/fixtures/connect/fileReplay/timestampInSeconds/input.csv
  ui/cypress/fixtures/connect/schemaRules/input.csv
  ui/cypress/support/builder/AdapterBuilder.ts
  ui/cypress/support/utils/connect/ConnectBtns.ts
  ui/cypress/support/utils/connect/ConnectEventSchemaUtils.ts
  ui/cypress/support/utils/connect/ConnectUtils.ts
  ui/cypress/tests/adapter/fileStream.smoke.spec.ts
  ui/cypress/tests/adapter/rules/schemaRules.smoke.spec.ts
  ui/cypress/tests/adapter/rules/valueRules.spec.ts
  ui/src/app/connect/dialog/adapter-started/adapter-started-success/adapter-started-success.component.html
  ui/src/app/connect/dialog/edit-event-property/components/edit-value-transformation/edit-timestamp-property/edit-timestamp-property.component.html
Labels: java, ui, connect, backend, testing

#2996 refactor(#2964): Fix unix timestamp conversion for integer values
  streampipes-connect-shared/src/main/java/org/apache/streampipes/connect/shared/DatatypeUtils.java
  streampipes-connect-shared/src/test/java/org/apache/streampipes/connect/shared/preprocessing/transform/DatatypeUtilsTest.java
  ui/cypress/tests/adapter/fileStream.smoke.spec.ts
Labels: java, ui, backend, testing

#2998 fix(#2997): Fix default selection for timestamp rule
  ui/cypress/tests/adapter/fileStream.smoke.spec.ts
  ui/src/app/connect/dialog/edit-event-property/components/edit-value-transformation/edit-timestamp-property/edit-timestamp-property.component.html
  ui/src/app/connect/dialog/edit-event-property/components/edit-value-transformation/edit-timestamp-property/edit-timestamp-property.component.ts
Labels: ui, testing

#2999 chore: cli installer switch to compose v2 api
  installer/cli/bin/common
Labels: installer

#3001 Docs：Modify the Prometheus configuration file path in the document.
  prometheus-grafana/README.md
Labels: documentation

#3003 fix: Update GitHub Actions artifact
  .github/workflows/extensions-docs.yml
  .github/workflows/pypi-deployment.yml
  .github/workflows/python-docs.yml
Labels: gh-actions

#3005 fix: Fix value rule e2e test for timestamps
  ui/cypress/fixtures/connect/valueRules/input.csv
  ui/cypress/tests/adapter/rules/valueRules.spec.ts
Labels: ui, testing

#3006 fix: Use link settings from config
  ui/src/app/configuration/general-configuration/general-configuration.component.ts
Labels: ui

#3008 refactor: Change directory name of e2e tests for connect
  ui/cypress/tests/connect/allAdapterActions.smoke.spec.ts
  ui/cypress/tests/connect/createAdapterWithoutStarting.spec.ts
  ui/cypress/tests/connect/deleteAdapterWithMultipleUsers.smoke.spec.ts
  ui/cypress/tests/connect/editAdapter.smoke.spec.ts
  ui/cypress/tests/connect/editAdapterSettingsAndPipeline.spec.ts
  ui/cypress/tests/connect/editAdapterValuesAndFields.spec.ts
  ui/cypress/tests/connect/fileStream.smoke.spec.ts
  ui/cypress/tests/connect/formats/format.spec.ts
  ui/cypress/tests/connect/machineDataSimulator.smoke.spec.ts
  ui/cypress/tests/connect/opcAdapter.ts
  ui/cypress/tests/connect/persistInDataLake.smoke.spec.ts
  ui/cypress/tests/connect/rules/deleteTransformationRule.spec.ts
  ui/cypress/tests/connect/rules/schemaRules.smoke.spec.ts
  ui/cypress/tests/connect/rules/streamRules.spec.ts
  ui/cypress/tests/connect/rules/valueRules.spec.ts
Labels: ui, testing

#3011 fix: Fix OSV Scanner commit workflow
  .github/workflows/osv-scanner.yml
Labels: gh-actions

#3016 refactor: Remove deprecated wikipedia model
  streampipes-extensions/streampipes-connect-adapters/src/main/java/org/apache/streampipes/connect/adapters/wikipedia/model/Length.java
  streampipes-extensions/streampipes-connect-adapters/src/main/java/org/apache/streampipes/connect/adapters/wikipedia/model/Meta.java
  streampipes-extensions/streampipes-connect-adapters/src/main/java/org/apache/streampipes/connect/adapters/wikipedia/model/Revision.java
  streampipes-extensions/streampipes-connect-adapters/src/main/java/org/apache/streampipes/connect/adapters/wikipedia/model/WikipediaModel.java
Labels: java, connect, backend

#3015 fix(#3014): Add test and fix edit of file static property
  ui/cypress/tests/connect/fileStream.spec.ts
  ui/src/app/core-ui/static-properties/static-file-input/static-file-input.component.html
  ui/src/app/core-ui/static-properties/static-file-input/static-file-input.component.ts
Labels: ui, testing

#3017 refactor: Remove deprecated vocabulary
  streampipes-vocabulary/src/main/java/org/apache/streampipes/vocabulary/FOAF.java
  streampipes-vocabulary/src/main/java/org/apache/streampipes/vocabulary/GR.java
Labels: java, backend

#3013 fix: fix e2e test for group management
  ui/cypress/tests/userManagement/testGroupManagement.spec.ts
Labels: ui, testing

#3018 refactor: Remove deprecated class StreamIdentifier
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/helpers/StreamIdentifier.java
Labels: java, backend

#3025 refactor: Remove method providesAssets from AbstractPipelineElementBu…
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/builder/AbstractPipelineElementBuilder.java
Labels: java, backend

#3024 refactor(#3023): Remove deprecated API that does not use the Label class
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/builder/AbstractConfigurablePipelineElementBuilder.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/builder/AbstractProcessingElementBuilder.java
Labels: java, backend

#2994 feat: Add Go Client documentation website
  .github/workflows/go-docs.yml
  pom.xml
  streampipes-client-go/docs/.gitignore
  streampipes-client-go/docs/README.md
  streampipes-client-go/docs/assets/icons/logo.svg
  streampipes-client-go/docs/assets/scss/_variables_project.scss
  streampipes-client-go/docs/content/en/_index.md
  streampipes-client-go/docs/content/en/about/index.md
  streampipes-client-go/docs/content/en/community/_index.md
  streampipes-client-go/docs/content/en/docs/_index.md
  streampipes-client-go/docs/content/en/docs/contribution-guidelines.md
  streampipes-client-go/docs/content/en/docs/getting-started/_index.md
  streampipes-client-go/docs/content/en/docs/getting-started/first-steps.md
  streampipes-client-go/docs/content/en/docs/getting-started/quickstart.md
  streampipes-client-go/docs/content/en/docs/overview.md
  streampipes-client-go/docs/content/en/docs/reference/_index.md
  streampipes-client-go/docs/content/en/docs/reference/parameter-reference.md
  streampipes-client-go/docs/content/en/docs/tutorials/Introduction-to-streampipes-go.md
  streampipes-client-go/docs/content/en/docs/tutorials/_index.md
  streampipes-client-go/docs/content/en/search.md
  streampipes-client-go/docs/go.mod
  streampipes-client-go/docs/go.sum
  streampipes-client-go/docs/hugo.yaml
  streampipes-client-go/docs/layouts/404.html
  streampipes-client-go/docs/layouts/_default/_markup/render-heading.html
  streampipes-client-go/docs/package-lock.json
  streampipes-client-go/docs/package.json
  streampipes-client-go/docs/static/favicons/_head.html
  streampipes-client-go/docs/static/favicons/android-chrome-192x192.png
  streampipes-client-go/docs/static/favicons/android-chrome-512x512.png
  streampipes-client-go/docs/static/favicons/android-chrome-maskable-192x192.png
  streampipes-client-go/docs/static/favicons/android-chrome-maskable-512x512.png
  streampipes-client-go/docs/static/favicons/apple-touch-icon.png
  streampipes-client-go/docs/static/favicons/favicon.ico
Labels: dependencies, documentation, gh-actions

#3022 refactor(#3021): Clean up class Labels
  streampipes-pipeline-management/src/test/java/org/apache/streampipes/manager/selector/TestSelectorUtils.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/helpers/Labels.java
  streampipes-sdk/src/test/java/org/apache/streampipes/sdk/helpers/LabelsTest.java
Labels: java, backend, testing

#3026 fix: Support multiple sensors of the same type in OI4 adapter
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/adapters/oi4/Oi4Adapter.java
Labels: java, connect, backend

#3029 feat: Implement visit for mapping property nary in pipeline element templates
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/template/PipelineElementTemplateVisitor.java
  streampipes-pipeline-management/src/test/java/org/apache/streampipes/manager/template/PipelineElementTemplateVisitorTest.java
Labels: java, backend, testing

#3038 feat(#3037): Add custom HTTP header support to Python client
  streampipes-client-python/streampipes/client/client.py
  streampipes-client-python/streampipes/client/config.py
Labels: python

#3041 fix(#3040): Change random topic to fixed with stream id
  streampipes-client-python/streampipes/function_zoo/river_function.py
  streampipes-client-python/streampipes/functions/utils/data_stream_generator.py
  streampipes-client-python/tests/functions/test_function_handler.py
  streampipes-client-python/tests/functions/test_river_function.py
Labels: python, testing

#3034 feat(#3033): Support modification of data views
  streampipes-model/src/main/java/org/apache/streampipes/model/datalake/DataExplorerWidgetModel.java
  ui/projects/streampipes/platform-services/src/lib/apis/data-view-data-explorer.service.ts
  ui/projects/streampipes/platform-services/src/lib/model/gen/streampipes-model.ts
  ui/src/app/data-explorer/components/data-view/data-explorer-data-view.component.html
  ui/src/app/data-explorer/components/data-view/data-explorer-data-view.component.scss
  ui/src/app/data-explorer/components/data-view/data-explorer-data-view.component.ts
  ui/src/app/data-explorer/components/data-view/data-view-toolbar/data-explorer-data-view-toolbar.component.html
  ui/src/app/data-explorer/components/data-view/data-view-toolbar/data-explorer-data-view-toolbar.component.ts
  ui/src/app/data-explorer/components/overview/data-explorer-dashboard-overview.component.html
  ui/src/app/data-explorer/components/overview/data-explorer-dashboard-overview.component.ts
  ui/src/app/data-explorer/components/overview/data-explorer-dashboard-overview/data-explorer-dashboard-overview.component.html
  ui/src/app/data-explorer/components/overview/data-explorer-dashboard-overview/data-explorer-dashboard-overview.component.ts
  ui/src/app/data-explorer/components/overview/data-explorer-data-view-overview/data-explorer-data-view-overview.component.html
  ui/src/app/data-explorer/components/overview/data-explorer-data-view-overview/data-explorer-data-view-overview.component.ts
  ui/src/app/data-explorer/components/overview/data-explorer-overview.component.html
  ui/src/app/data-explorer/components/overview/data-explorer-overview.component.scss
  ui/src/app/data-explorer/components/overview/data-explorer-overview.component.ts
  ui/src/app/data-explorer/components/overview/data-explorer-overview.directive.ts
  ui/src/app/data-explorer/components/widget/data-explorer-dashboard-widget.component.ts
  ui/src/app/data-explorer/data-explorer.module.ts
  ui/src/app/data-explorer/services/data-explorer-dashboard.service.ts
Labels: java, ui, backend

#3036 refactor(#2778): Fix junit test TestStringCounterProcessor
  streampipes-extensions/streampipes-processors-transformation-jvm/src/test/java/org/apache/streampipes/processors/transformation/jvm/processor/stringoperator/counter/TestStringCounterProcessor.java
Labels: java, pipeline elements, backend, testing

#3031 refactor(#2779): Fix the test for TestStringToStateProcessor
  streampipes-extensions/streampipes-processors-transformation-jvm/pom.xml
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/processor/stringoperator/state/StringToStateProcessor.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/test/java/org/apache/streampipes/processors/transformation/jvm/processor/stringoperator/counter/TestStringCounterProcessor.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/test/java/org/apache/streampipes/processors/transformation/jvm/processor/stringoperator/state/TestStringToStateProcessor.java
  streampipes-test-utils-executors/src/main/java/org/apache/streampipes/test/executors/ProcessingElementTestExecutor.java
  streampipes-test-utils-executors/src/main/java/org/apache/streampipes/test/executors/StreamPrefix.java
  streampipes-test-utils-executors/src/main/java/org/apache/streampipes/test/executors/TestConfigurationBuilder.java
  streampipes-test-utils-executors/src/test/java/org/apache/streampipes/test/executors/StreamPrefixTest.java
Labels: dependencies, java, pipeline elements, backend, testing

#3052 refactor: Remove unused environment variables
  streampipes-commons/src/main/java/org/apache/streampipes/commons/constants/DefaultEnvValues.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/constants/GlobalStreamPipesConstants.java
Labels: java, backend

#3051 refactor(#2754): Fix test for SizeMeasureProcessor
  streampipes-extensions/streampipes-processors-enricher-jvm/pom.xml
  streampipes-extensions/streampipes-processors-enricher-jvm/src/main/java/org/apache/streampipes/processors/enricher/jvm/processor/sizemeasure/SizeMeasureProcessor.java
  streampipes-extensions/streampipes-processors-enricher-jvm/src/test/java/org/apache/streampipes/processors/enricher/jvm/processor/sizemeasure/TestSizeMeasureProcessor.java
Labels: dependencies, java, pipeline elements, backend, testing

#3056 fix(#3055): Fix widget rendering in grouping mode
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/param/model/WhereClauseParams.java
  streampipes-data-explorer/src/test/java/org/apache/streampipes/dataexplorer/param/WhereStatementParamsTest.java
  ui/src/app/data-explorer/components/widgets/table/table-widget.component.html
  ui/src/app/data-explorer/components/widgets/table/table-widget.component.ts
  ui/src/app/data-explorer/echarts-renderer/echarts-dataset-generator.service.ts
Labels: java, ui, backend, testing

#3049 refactor(#2764): Fix unit test case for StringTimerProcessor
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/processor/stringoperator/timer/StringTimerProcessor.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/test/java/org/apache/streampipes/processors/transformation/jvm/processor/stringoperator/timer/TestStringTimerProcessor.java
  streampipes-test-utils-executors/src/main/java/org/apache/streampipes/test/executors/Approx.java
  streampipes-test-utils-executors/src/main/java/org/apache/streampipes/test/executors/ProcessingElementTestExecutor.java
Labels: java, pipeline elements, backend, testing

#3046 refactor(#3045): Remove deprecated asset dashboard.
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/assetdashboard/AssetDashboardConfig.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/assetdashboard/CanvasElement.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/assetdashboard/ImageInfo.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/AssetDashboardResource.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/INoSqlStorage.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/CouchDbStorageManager.java
  ui/src/app/app-asset-monitoring/app-asset-monitoring.component.html
  ui/src/app/app-asset-monitoring/app-asset-monitoring.component.scss
  ui/src/app/app-asset-monitoring/app-asset-monitoring.component.ts
  ui/src/app/app-asset-monitoring/app-asset-monitoring.module.ts
  ui/src/app/app-asset-monitoring/app-asset-monitoring.routes.ts
  ui/src/app/app-asset-monitoring/components/create-asset/create-asset.component.html
  ui/src/app/app-asset-monitoring/components/create-asset/create-asset.component.scss
  ui/src/app/app-asset-monitoring/components/create-asset/create-asset.component.ts
  ui/src/app/app-asset-monitoring/components/dashboard-overview/dashboard-overview.component.html
  ui/src/app/app-asset-monitoring/components/dashboard-overview/dashboard-overview.component.scss
  ui/src/app/app-asset-monitoring/components/dashboard-overview/dashboard-overview.component.ts
  ui/src/app/app-asset-monitoring/components/view-asset/view-asset.component.html
  ui/src/app/app-asset-monitoring/components/view-asset/view-asset.component.scss
  ui/src/app/app-asset-monitoring/components/view-asset/view-asset.component.ts
  ui/src/app/app-asset-monitoring/dialog/add-link/add-link-dialog.component.html
  ui/src/app/app-asset-monitoring/dialog/add-link/add-link-dialog.component.scss
  ui/src/app/app-asset-monitoring/dialog/add-link/add-link-dialog.component.ts
  ui/src/app/app-asset-monitoring/dialog/add-pipeline/add-pipeline-dialog.component.html
  ui/src/app/app-asset-monitoring/dialog/add-pipeline/add-pipeline-dialog.component.scss
  ui/src/app/app-asset-monitoring/dialog/add-pipeline/add-pipeline-dialog.component.ts
  ui/src/app/app-asset-monitoring/dialog/save-dashboard/save-dashboard-dialog.component.html
  ui/src/app/app-asset-monitoring/dialog/save-dashboard/save-dashboard-dialog.component.scss
  ui/src/app/app-asset-monitoring/dialog/save-dashboard/save-dashboard-dialog.component.ts
  ui/src/app/app-asset-monitoring/model/canvas-attributes.model.ts
  ui/src/app/app-asset-monitoring/model/canvas-configuration.model.ts
  ui/src/app/app-asset-monitoring/model/canvas-element.model.ts
  ui/src/app/app-asset-monitoring/model/dashboard-configuration.model.ts
  ui/src/app/app-asset-monitoring/model/image-info.model.ts
  ui/src/app/app-asset-monitoring/model/selected-visualization-data.model.ts
  ui/src/app/app-asset-monitoring/model/test-data.json
  ui/src/app/app-asset-monitoring/services/rest.service.ts
  ui/src/app/app-asset-monitoring/services/shape.service.ts
  ui/src/app/app-overview/app-overview.module.ts
Labels: java, ui, backend

#3048 refactor(#2776): Fix unit test case for BooleanInverterProcessor
  streampipes-extensions/streampipes-processors-transformation-jvm/src/test/java/org/apache/streampipes/processors/transformation/jvm/processor/booloperator/inverter/TestBooleanInverterProcessor.java
Labels: java, pipeline elements, backend, testing

#3047 refactor(#2777): Fix test case for DateTimeFromStringProcessor
  streampipes-extensions/streampipes-processors-transformation-jvm/src/test/java/org/apache/streampipes/processors/transformation/jvm/processor/datetime/TestDateTimeFromStringProcessor.java
Labels: java, pipeline elements, backend, testing

#3063 refactor: Remove unused configuration option for opc ua server
  installer/cli/deploy/standalone/opcua/docker-compose.yml
Labels: installer

#3062 refactor(#3061): Reactivate test for opc ua
  docker-compose.yml
  ui/cypress/support/builder/AdapterBuilder.ts
  ui/cypress/support/builder/TreeNodeBuilder.ts
  ui/cypress/support/model/TreeNode.ts
  ui/cypress/support/model/UserInput.ts
  ui/cypress/support/model/UserInputType.ts
  ui/cypress/support/utils/ParameterUtils.ts
  ui/cypress/support/utils/StaticPropertyUtils.ts
  ui/cypress/tests/connect/opcAdapter.spec.ts
  ui/package.json
  ui/src/app/core-ui/static-properties/static-runtime-resolvable-tree-input/static-tree-input.component.html
Labels: dependencies, ui, testing

#3064 refactor: Reactivate mqtt cypress test
  docker-compose.yml
  ui/cypress/support/builder/AdapterBuilder.ts
  ui/cypress/tests/thirdparty/Mqtt.spec.ts
Labels: ui, testing

#3066 feat(3059): Extend capabilities of time selection bar
  ui/cypress/support/utils/datalake/DataLakeUtils.ts
  ui/cypress/tests/datalake/timeRangeSelectors.spec.ts
  ui/projects/streampipes/platform-services/src/lib/apis/data-view-data-explorer.service.ts
  ui/projects/streampipes/platform-services/src/lib/model/datalake/DateRange.ts
  ui/projects/streampipes/platform-services/src/lib/query/data-view-query-generator.service.ts
  ui/src/app/data-explorer/components/dashboard/dashboard-toolbar/dashboard-toolbar.component.html
  ui/src/app/data-explorer/components/dashboard/dashboard-toolbar/dashboard-toolbar.component.ts
  ui/src/app/data-explorer/components/dashboard/dashboard-widget-selection-panel/data-view-selection/data-view-preview/data-view-preview.component.html
  ui/src/app/data-explorer/components/dashboard/data-explorer-dashboard-panel.component.html
  ui/src/app/data-explorer/components/dashboard/data-explorer-dashboard-panel.component.ts
  ui/src/app/data-explorer/components/data-view/data-explorer-data-view.component.html
  ui/src/app/data-explorer/components/data-view/data-explorer-data-view.component.ts
  ui/src/app/data-explorer/components/data-view/data-view-designer-panel/data-explorer-designer-panel.component.html
  ui/src/app/data-explorer/components/data-view/data-view-designer-panel/data-explorer-designer-panel.component.ts
  ui/src/app/data-explorer/components/data-view/data-view-toolbar/data-explorer-data-view-toolbar.component.html
  ui/src/app/data-explorer/components/overview/data-explorer-dashboard-overview/data-explorer-dashboard-overview.component.html
  ui/src/app/data-explorer/components/overview/data-explorer-dashboard-overview/data-explorer-dashboard-overview.component.ts
  ui/src/app/data-explorer/components/overview/data-explorer-overview.component.ts
  ui/src/app/data-explorer/components/time-selector/time-range-selector.component.html
  ui/src/app/data-explorer/components/time-selector/time-range-selector.component.scss
  ui/src/app/data-explorer/components/time-selector/time-range-selector.component.ts
  ui/src/app/data-explorer/components/time-selector/time-selector-menu/custom-time-range-selection/custom-time-range-selection.component.html
  ui/src/app/data-explorer/components/time-selector/time-selector-menu/custom-time-range-selection/custom-time-range-selection.component.scss
  ui/src/app/data-explorer/components/time-selector/time-selector-menu/custom-time-range-selection/custom-time-range-selection.component.ts
  ui/src/app/data-explorer/components/time-selector/time-selector-menu/time-selector-menu.component.html
  ui/src/app/data-explorer/components/time-selector/time-selector-menu/time-selector-menu.component.scss
  ui/src/app/data-explorer/components/time-selector/time-selector-menu/time-selector-menu.component.ts
  ui/src/app/data-explorer/components/time-selector/timeRangeSelector.component.html
  ui/src/app/data-explorer/components/time-selector/timeRangeSelector.component.ts
  ui/src/app/data-explorer/components/widget-view/abstract-widget-view.directive.ts
  ui/src/app/data-explorer/components/widget-view/grid-view/data-explorer-dashboard-grid.component.html
  ui/src/app/data-explorer/components/widget-view/slide-view/data-explorer-dashboard-slide-view.component.html
  ui/src/app/data-explorer/components/widget/data-explorer-dashboard-widget.component.ts
  ui/src/app/data-explorer/components/widgets/base/base-data-explorer-widget.directive.ts
  ui/src/app/data-explorer/components/widgets/table/table-widget.component.ts
  ui/src/app/data-explorer/data-explorer.module.ts
  ui/src/app/data-explorer/dialogs/edit-dashboard/data-explorer-edit-dashboard-dialog.component.html
  ui/src/app/data-explorer/dialogs/edit-dashboard/data-explorer-edit-dashboard-dialog.component.scss
  ui/src/app/data-explorer/dialogs/edit-dashboard/data-explorer-edit-dashboard-dialog.component.ts
  ui/src/app/data-explorer/services/data-explorer-dashboard.service.ts
  ui/src/app/data-explorer/services/time-selection.service.ts
Labels: ui, testing

#3073 fix(#3072): nullpointer in datalakemeasureresourcev4getdatalakeinfos
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/query/DataLakeMeasurementCounter.java
  streampipes-data-explorer/src/test/java/org/apache/streampipes/dataexplorer/query/DataLakeMeasurementCounterTest.java
  streampipes-data-explorer/src/test/java/org/apache/streampipes/dataexplorer/query/DataLakeMeasurementCounterTestImpl.java
  streampipes-platform-services/src/main/java/org/apache/streampipes/ps/DataLakeMeasureResourceV4.java
  ui/projects/streampipes/platform-services/src/lib/apis/datalake-rest.service.ts
Labels: java, ui, backend, testing

#3077 fix(#3076): Correctly close dialogs when use clicks somewhere on the screen
  ui/projects/streampipes/shared-ui/src/lib/dialog/base-dialog/base-dialog.service.ts
Labels: ui

#3069 feat(#3068): Add refresh interval to data explorer dashboard
  streampipes-model/src/main/java/org/apache/streampipes/model/dashboard/DashboardModel.java
  ui/projects/streampipes/platform-services/src/lib/apis/data-view-data-explorer.service.ts
  ui/projects/streampipes/platform-services/src/lib/model/dashboard/dashboard.model.ts
  ui/projects/streampipes/platform-services/src/lib/model/gen/streampipes-model.ts
  ui/src/app/data-explorer/components/dashboard/dashboard-toolbar/dashboard-toolbar.component.html
  ui/src/app/data-explorer/components/dashboard/dashboard-toolbar/dashboard-toolbar.component.ts
  ui/src/app/data-explorer/components/dashboard/dashboard-toolbar/refresh-interval-settings/refresh-interval-settings.component.html
  ui/src/app/data-explorer/components/dashboard/dashboard-toolbar/refresh-interval-settings/refresh-interval-settings.component.ts
  ui/src/app/data-explorer/components/dashboard/data-explorer-dashboard-panel.component.html
  ui/src/app/data-explorer/components/dashboard/data-explorer-dashboard-panel.component.ts
  ui/src/app/data-explorer/components/overview/data-explorer-overview.component.ts
  ui/src/app/data-explorer/components/time-selector/time-range-selector.component.html
  ui/src/app/data-explorer/data-explorer.module.ts
  ui/src/app/data-explorer/services/refresh-dashboard.service.ts
Labels: java, ui, backend

#3081 fix(#3080): Remove ng5 prefix in ui prebuild script
  ui/.gitignore
  ui/.prettierignore
  ui/deployment/app-routing.module.mst
  ui/deployment/app.module.mst
  ui/deployment/modules.yml
  ui/deployment/prebuild.js
  ui/src/bootstrap.ts
Labels: ui, javascript

#3078 refactor: Remove unused code
  ui/projects/streampipes/platform-services/src/lib/apis/adapter-monitoring.service.ts
  ui/projects/streampipes/platform-services/src/lib/apis/adapter.service.ts
Labels: ui

#3083 refactor(#3074): Refactor OAuthConfigurationParser
  streampipes-commons/src/main/java/org/apache/streampipes/commons/environment/parser/OAuthConfigurationParser.java
  streampipes-commons/src/test/java/org/apache/streampipes/commons/environment/parser/OAuthConfigurationParserTest.java
Labels: java, backend, testing

#3067 docs: python client output stream creation tutorial
  streampipes-client-python/docs/img/tutorial-output-stream.png
  streampipes-client-python/docs/tutorials/6-streampipes-function-output-stream.ipynb
  streampipes-client-python/mkdocs.yml
Labels: documentation
