Repository apache/streampipes, pull requests merged in 2024-01, with the labels that each got.

#2387 docs: Add documentation to GenericStorageImpl.find
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/impl/GenericStorageImpl.java
Labels: java, backend

#2388 refactor(#2380): Change route of validatePipeline to `validate`
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/PipelineResource.java
  ui/projects/streampipes/platform-services/src/lib/apis/pipeline.service.ts
Labels: java, ui, backend

#2394 fix(#2393): Add timeout to failing time series widget test
  ui/cypress/tests/datalake/widgets/timeSeriesSave.spec.ts
Labels: ui, testing

#2399 chore(#2397): Bump angular to v16
  ui/.eslintrc.json
  ui/package-lock.json
  ui/package.json
  ui/projects/streampipes/platform-services/package.json
  ui/projects/streampipes/platform-services/src/lib/apis/datalake-rest.service.ts
  ui/projects/streampipes/platform-services/src/lib/model/datalake/DatalakeQueryParameters.ts
  ui/projects/streampipes/platform-services/src/lib/query/DatalakeQueryParameterBuilder.ts
  ui/projects/streampipes/shared-ui/package.json
  ui/src/app/_guards/auth.can-activate-children.guard.ts
  ui/src/app/_guards/base-configured.can-activate.guard.ts
  ui/src/app/_guards/page-auth.can-active.guard.ts
  ui/src/app/_guards/registration-allowed.can-activate.guard.ts
  ui/src/app/_guards/restore-password-allowed.can-activate.guard.ts
  ui/src/app/connect/components/adapter-configuration/schema-editor/event-property-row/event-property-row.component.ts
  ui/src/app/connect/components/adapter-configuration/schema-editor/event-schema/event-schema.component.ts
  ui/src/app/connect/connect.module.ts
  ui/src/app/core-ui/static-properties/static-mapping-nary/static-mapping-nary.component.ts
  ui/src/app/dashboard/dashboard.can-deactivate.guard.ts
  ui/src/app/data-explorer/data-explorer-panel.can-deactivate.guard.ts
  ui/src/app/editor/components/pipeline-element-documentation/pipeline-element-documentation.component.html
  ui/src/app/editor/components/pipeline-element-documentation/pipeline-element-documentation.component.ts
  ui/src/app/editor/editor.module.ts
  ui/src/app/editor/services/jsplumb.service.ts
  ui/src/app/files/dialog/file-upload/file-upload-dialog.component.ts
  ui/src/app/login/utils/check-password.ts
  ui/src/polyfills.ts
  ui/src/scss/main.scss
  ui/webpack.partial.base.js
Labels: dependencies, ui, javascript

#2403 fix(#2396): Disable tutorial button, fix subscription cleanup
  ui/src/app/connect/components/existing-adapters/existing-adapters.component.html
  ui/src/app/connect/components/existing-adapters/existing-adapters.component.ts
  ui/src/app/home/home.component.ts
  ui/src/app/pipelines/pipelines.component.html
  ui/src/app/pipelines/pipelines.component.ts
  ui/src/app/services/tour/shepherd.service.ts
Labels: ui

#2409 fix: Fix tests that are only flaky during CI
  ui/cypress/support/utils/datalake/DataLakeUtils.ts
  ui/cypress/tests/datalake/widgets/2d-correlation.smoke.spec.ts
Labels: ui, testing

#2410 fix: Add RequestBody annotation to Data Stream resource
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/pe/DataStreamResource.java
Labels: java, backend

#2432 Remove Flink pipeline elements from compose file
  installer/compose/docker-compose.full.yml
Labels: installer

#2435 fix(#2434): Remove the trailing slash from the end point of the measurements
  streampipes-platform-services/src/main/java/org/apache/streampipes/ps/DataLakeResourceV4.java
  ui/projects/streampipes/platform-services/src/lib/apis/datalake-rest.service.ts
Labels: java, ui, backend
