Repository apache/streampipes, pull requests merged in 2024-06, with the labels that each got.

#2910 fix: Add wait time to cypress adapter modification test
  ui/cypress/tests/adapter/editAdapterSettingsAndPipeline.spec.ts
Labels: ui, testing

#2913 feat: Support proxy settings in MS Teams sink
  streampipes-extensions/streampipes-sinks-notifications-jvm/src/main/java/org/apache/streampipes/sinks/notifications/jvm/msteams/MSTeamsSink.java
Labels: java, pipeline elements, backend

#2917 fix(#2916): Fix pipeline validation
  ui/src/app/editor/components/pipeline/pipeline.component.ts
Labels: ui

#2915 feat(#2914): Add proxy configuration to Teams sink
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/locales/LabelGenerator.java
  streampipes-extensions/streampipes-sinks-notifications-jvm/src/main/java/org/apache/streampipes/sinks/notifications/jvm/NotificationsExtensionModuleExport.java
  streampipes-extensions/streampipes-sinks-notifications-jvm/src/main/java/org/apache/streampipes/sinks/notifications/jvm/migrations/MsTeamsSinkMigrationV1.java
  streampipes-extensions/streampipes-sinks-notifications-jvm/src/main/java/org/apache/streampipes/sinks/notifications/jvm/msteams/MSTeamsSink.java
  streampipes-extensions/streampipes-sinks-notifications-jvm/src/main/resources/org.apache.streampipes.sinks.notifications.jvm.msteams/strings.en
  streampipes-model/src/main/java/org/apache/streampipes/model/graph/DataProcessorInvocation.java
  streampipes-model/src/main/java/org/apache/streampipes/model/graph/DataSinkInvocation.java
Labels: java, pipeline elements, backend

#2919 chore: Move extensions installation view to settings
  ui/cypress/tests/userManagement/testVariousUserRoles.smoke.spec.ts
  ui/deployment/dev/config.yml
  ui/deployment/modules.yml
  ui/projects/streampipes/shared-ui/src/lib/components/basic-nav-tabs/basic-nav-tabs.component.html
  ui/projects/streampipes/shared-ui/src/lib/components/basic-nav-tabs/basic-nav-tabs.component.scss
  ui/projects/streampipes/shared-ui/src/lib/components/basic-nav-tabs/basic-nav-tabs.component.ts
  ui/src/app/add/add.component.html
  ui/src/app/add/add.module.ts
  ui/src/app/add/add.routes.ts
  ui/src/app/configuration/configuration-tabs.ts
  ui/src/app/configuration/configuration.module.ts
  ui/src/app/configuration/dialog/extensions-installation/extensions-installation.component.html
  ui/src/app/configuration/dialog/extensions-installation/extensions-installation.component.scss
  ui/src/app/configuration/dialog/extensions-installation/extensions-installation.component.ts
  ui/src/app/configuration/export/data-export-import.component.ts
  ui/src/app/configuration/extensions-installation/endpoint-item/endpoint-item.component.html
  ui/src/app/configuration/extensions-installation/endpoint-item/endpoint-item.component.scss
  ui/src/app/configuration/extensions-installation/endpoint-item/endpoint-item.component.ts
  ui/src/app/configuration/extensions-installation/extensions-installation.component.html
  ui/src/app/configuration/extensions-installation/extensions-installation.component.scss
  ui/src/app/configuration/extensions-installation/extensions-installation.component.ts
  ui/src/app/configuration/extensions-installation/extensions-installation.service.ts
  ui/src/app/configuration/extensions-installation/filter/order-by.pipe.ts
  ui/src/app/configuration/extensions-installation/filter/pipeline-element-installation-status.pipe.ts
  ui/src/app/configuration/extensions-installation/filter/pipeline-element-name.pipe.ts
  ui/src/app/configuration/extensions-installation/filter/pipeline-element-type.pipe.ts
  ui/src/app/configuration/label-configuration/label-configuration.component.ts
Labels: ui, testing

#2924 fix: Add timestamp to Image enricher, fix SO error
  streampipes-extensions/streampipes-processors-image-processing-jvm/src/main/java/org/apache/streampipes/processors/imageprocessing/jvm/ImageProcessingExtensionModuleExport.java
  streampipes-extensions/streampipes-processors-image-processing-jvm/src/main/java/org/apache/streampipes/processors/imageprocessing/jvm/processor/commons/ImageTransformer.java
  streampipes-extensions/streampipes-processors-image-processing-jvm/src/main/java/org/apache/streampipes/processors/imageprocessing/jvm/processor/imageenrichment/ImageEnrichmentProcessor.java
  streampipes-extensions/streampipes-processors-image-processing-jvm/src/main/java/org/apache/streampipes/processors/imageprocessing/jvm/processor/migration/ImageEnrichmentProcessorMigrationv1.java
Labels: java, pipeline elements, backend

#2927 Add versions 0.93.0 and 0.95.0 to release notes
  RELEASE_NOTES.md
Labels: documentation

#2921 feat: Add "Last Updated Time" for python client docs site
  .github/workflows/python-docs.yml
  streampipes-client-python/mkdocs.yml
  streampipes-client-python/poetry.lock
  streampipes-client-python/pyproject.toml
Labels: dependencies, documentation, gh-actions

#2934 refactor(#2933): Rename class JsonLdSerializer to CouchDbJsonSerializer
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/serializer/CouchDbJsonSerializer.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/serializer/GsonSerializer.java
Labels: java, backend

#2937 refactor: Remove unused methods from the GsonSerializer
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/serializer/GsonSerializer.java
  streampipes-storage-couchdb/src/test/java/org/apache/streampipes/storage/couchdb/serializer/TestGsonSerializer.java
Labels: java, backend, testing

#2941 chore: Remove unused code in streampipes-model module
  streampipes-model/src/main/java/org/apache/streampipes/model/SpDataStream.java
  streampipes-model/src/main/java/org/apache/streampipes/model/base/ConsumableStreamPipesEntity.java
  streampipes-model/src/main/java/org/apache/streampipes/model/base/InvocableStreamPipesEntity.java
  streampipes-model/src/main/java/org/apache/streampipes/model/base/NamedStreamPipesEntity.java
  streampipes-model/src/main/java/org/apache/streampipes/model/base/VersionedNamedStreamPipesEntity.java
  streampipes-model/src/main/java/org/apache/streampipes/model/connect/adapter/AdapterDescription.java
  streampipes-model/src/main/java/org/apache/streampipes/model/connect/grounding/ParserDescription.java
  streampipes-model/src/main/java/org/apache/streampipes/model/connect/grounding/ProtocolDescription.java
  streampipes-model/src/main/java/org/apache/streampipes/model/graph/DataProcessorDescription.java
  streampipes-model/src/main/java/org/apache/streampipes/model/graph/DataProcessorInvocation.java
  streampipes-model/src/main/java/org/apache/streampipes/model/graph/DataSinkDescription.java
  streampipes-model/src/main/java/org/apache/streampipes/model/graph/DataSinkInvocation.java
  streampipes-model/src/main/java/org/apache/streampipes/model/labeling/Category.java
  streampipes-model/src/main/java/org/apache/streampipes/model/labeling/Label.java
  streampipes-model/src/main/java/org/apache/streampipes/model/monitoring/ElementStatusInfoSettings.java
  streampipes-model/src/main/java/org/apache/streampipes/model/runtime/ContainerProvidedOptionsParameterRequest.java
  streampipes-model/src/main/java/org/apache/streampipes/model/template/PipelineTemplateDescription.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/builder/AbstractPipelineElementBuilder.java
  streampipes-sdk/src/test/java/org/apache/streampipes/sdk/extractor/AdapterParameterExtractorTest.java
  ui/projects/streampipes/platform-services/src/lib/model/gen/streampipes-model.ts
  ui/src/app/connect/components/data-marketplace/adapter-description/adapter-description.component.ts
Labels: java, ui, backend, testing

#2939 refactor(#2938): replace ExtensionsModelSubmitter with StreamPipesExtensionsServiceBase
  archetypes/streampipes-archetype-extensions-jvm/src/main/resources/archetype-resources/src/main/java/Init.java
  archetypes/streampipes-archetype-pe-processors-flink/src/main/resources/archetype-resources/src/main/java/Init.java
  archetypes/streampipes-archetype-pe-sinks-flink/src/main/resources/archetype-resources/src/main/java/Init.java
  streampipes-extensions/streampipes-extensions-all-iiot/src/main/java/org/apache/streampipes/extensions/all/iiot/AllExtensionsIIoTInit.java
  streampipes-extensions/streampipes-extensions-all-jvm/src/main/java/org/apache/streampipes/extensions/all/jvm/AllExtensionsInit.java
  streampipes-extensions/streampipes-extensions-iiot-minimal/src/main/java/org/apache/streampipes/extensions/iiot/minimal/ExtensionsIIoTMinimalInit.java
  streampipes-extensions/streampipes-pipeline-elements-experimental-flink/src/main/java/org/apache/streampipes/pe/flink/AllFlinkPipelineElementsInit.java
  streampipes-maven-plugin/README.md
  streampipes-maven-plugin/src/main/java/org/apache/streampipes/smp/extractor/ExtensionsFinder.java
  streampipes-service-extensions/src/main/java/org/apache/streampipes/service/extensions/ExtensionsModelSubmitter.java
Labels: java, pipeline elements, backend, documentation

#2946 fix(#2944): Fix connection error in PLC S7 connector
  streampipes-extensions/streampipes-connectors-plc/pom.xml
  streampipes-extensions/streampipes-connectors-plc/src/main/java/org/apache/streampipes/extensions/connectors/plc/PlcConnectorsModuleExport.java
  streampipes-extensions/streampipes-connectors-plc/src/main/java/org/apache/streampipes/extensions/connectors/plc/adapter/GenericAdapterGenerator.java
  streampipes-extensions/streampipes-connectors-plc/src/main/java/org/apache/streampipes/extensions/connectors/plc/adapter/generic/GenericPlc4xAdapter.java
  streampipes-extensions/streampipes-connectors-plc/src/main/java/org/apache/streampipes/extensions/connectors/plc/adapter/generic/connection/ContinuousPlcRequestReader.java
  streampipes-extensions/streampipes-connectors-plc/src/main/java/org/apache/streampipes/extensions/connectors/plc/adapter/generic/connection/OneTimePlcRequestReader.java
  streampipes-extensions/streampipes-connectors-plc/src/main/java/org/apache/streampipes/extensions/connectors/plc/adapter/modbus/Plc4xModbusAdapter.java
  streampipes-extensions/streampipes-connectors-plc/src/main/java/org/apache/streampipes/extensions/connectors/plc/adapter/s7/Plc4xS7Adapter.java
  streampipes-extensions/streampipes-connectors-plc/src/main/java/org/apache/streampipes/extensions/connectors/plc/adapter/s7/PlcReadResponseHandler.java
  streampipes-extensions/streampipes-connectors-plc/src/test/java/org/apache/streampipes/extensions/connectors/plc/adapter/migration/config/Plc4xModbusAdapterVersionedConfig.java
Labels: dependencies, java, backend, testing

#2945 fix: update broken links
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
  installer/cli/README.md
  installer/compose/README.md
  installer/k8s/README.md
  streampipes-client-python/docs/getting-started/developing.md
  streampipes-client-python/docs/getting-started/first-steps.md
Labels: installer, documentation, gh-actions

#2951 chore: Improve connection handling of PLC adapters
  streampipes-extensions/streampipes-connectors-plc/pom.xml
  streampipes-extensions/streampipes-connectors-plc/src/main/java/org/apache/streampipes/extensions/connectors/plc/PlcConnectorsModuleExport.java
  streampipes-extensions/streampipes-connectors-plc/src/main/java/org/apache/streampipes/extensions/connectors/plc/adapter/generic/GenericPlc4xAdapter.java
  streampipes-extensions/streampipes-connectors-plc/src/main/java/org/apache/streampipes/extensions/connectors/plc/adapter/generic/config/AdapterConfigurationProvider.java
  streampipes-extensions/streampipes-connectors-plc/src/main/java/org/apache/streampipes/extensions/connectors/plc/adapter/generic/connection/ContinuousPlcRequestReader.java
  streampipes-extensions/streampipes-connectors-plc/src/main/java/org/apache/streampipes/extensions/connectors/plc/adapter/generic/connection/OneTimePlcRequestReader.java
  streampipes-extensions/streampipes-connectors-plc/src/main/java/org/apache/streampipes/extensions/connectors/plc/adapter/s7/Plc4xS7Adapter.java
Labels: dependencies, java, backend

#2952 Fix: Add python client QueryResult model field definitions
  streampipes-client-python/streampipes/endpoint/api/data_lake_measure.py
  streampipes-client-python/streampipes/model/resource/query_result.py
  streampipes-client-python/tests/client/test_data_lake_series.py
Labels: python, testing

#2953 refactor: Add exception message to adapter exception
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/protocol/stream/FileReplayAdapter.java
Labels: java, connect, backend

#2957 feat: Skip deployment of core services fat jars
  streampipes-service-core-minimal/pom.xml
  streampipes-service-core/pom.xml
Labels: dependencies

#2958 fix(#2954): data type change in adapter causes data storage failure in influxdb
  ui/cypress/support/utils/connect/ConnectBtns.ts
  ui/cypress/support/utils/connect/ConnectEventSchemaUtils.ts
  ui/cypress/support/utils/connect/ConnectUtils.ts
  ui/cypress/support/utils/datalake/DataLakeBtns.ts
  ui/cypress/support/utils/datalake/DataLakeUtils.ts
  ui/cypress/tests/adapter/editAdapter.smoke.spec.ts
  ui/cypress/tests/adapter/editAdapterSettingsAndPipeline.spec.ts
  ui/cypress/tests/adapter/editAdapterValuesAndFields.spec.ts
  ui/cypress/tests/adapter/rules/deleteTransformationRule.spec.ts
  ui/cypress/tests/adapter/rules/schemaRules.smoke.spec.ts
  ui/cypress/tests/adapter/rules/streamRules.spec.ts
  ui/cypress/tests/adapter/rules/valueRules.ts
  ui/src/app/configuration/datalake-configuration/datalake-configuration.component.html
  ui/src/app/connect/dialog/edit-event-property/components/edit-schema-transformation/edit-schema-transformation.component.html
  ui/src/app/connect/dialog/edit-event-property/components/edit-schema-transformation/edit-schema-transformation.component.scss
  ui/src/app/connect/dialog/edit-event-property/components/edit-schema-transformation/edit-schema-transformation.component.ts
  ui/src/app/connect/dialog/edit-event-property/components/edit-value-transformation/edit-correction-value/edit-correction-value.component.scss
  ui/src/app/connect/dialog/edit-event-property/edit-event-property.component.scss
Labels: ui, testing

#2967 chore: Remove remainings of pipeline category feature
  streampipes-model/src/main/java/org/apache/streampipes/model/pipeline/Pipeline.java
  streampipes-model/src/main/java/org/apache/streampipes/model/pipeline/PipelineCategory.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/PipelineCategory.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/PipelineResource.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/INoSqlStorage.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/IPipelineCategoryStorage.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/CouchDbStorageManager.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/impl/PipelineCategoryStorageImpl.java
  ui/projects/streampipes/platform-services/src/lib/apis/pipeline.service.ts
  ui/projects/streampipes/platform-services/src/lib/model/gen/streampipes-model.ts
  ui/src/app/editor/dialog/save-pipeline/save-pipeline.component.ts
  ui/src/app/pipelines/components/pipeline-overview/pipeline-overview.component.html
  ui/src/app/pipelines/components/pipeline-overview/pipeline-overview.component.ts
  ui/src/app/pipelines/dialog/start-all-pipelines/start-all-pipelines-dialog.component.ts
  ui/src/app/pipelines/pipelines.component.html
  ui/src/app/pipelines/pipelines.component.ts
Labels: java, ui, backend

#2968 chore: Cleanup persistence layer
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/DataExplorerSchemaManagement.java
  streampipes-data-explorer/src/test/java/org/apache/streampipes/dataexplorer/DataExplorerSchemaManagementTest.java
  streampipes-data-export/src/main/java/org/apache/streampipes/export/resolver/FileResolver.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/assetdashboard/AssetDashboardConfig.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/user/AbstractMailToken.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/user/Group.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/user/PasswordRecoveryToken.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/user/UserActivationToken.java
  streampipes-model-shared/src/main/java/org/apache/streampipes/model/shared/api/Storable.java
  streampipes-model/src/main/java/org/apache/streampipes/model/api/Storable.java
  streampipes-model/src/main/java/org/apache/streampipes/model/base/NamedStreamPipesEntity.java
  streampipes-model/src/main/java/org/apache/streampipes/model/dashboard/DashboardEntity.java
  streampipes-model/src/main/java/org/apache/streampipes/model/dashboard/DashboardModel.java
  streampipes-model/src/main/java/org/apache/streampipes/model/datalake/DataLakeMeasure.java
  streampipes-model/src/main/java/org/apache/streampipes/model/extensions/configuration/SpServiceConfiguration.java
  streampipes-model/src/main/java/org/apache/streampipes/model/extensions/svcdiscovery/SpServiceRegistration.java
  streampipes-model/src/main/java/org/apache/streampipes/model/file/FileMetadata.java
  streampipes-model/src/main/java/org/apache/streampipes/model/template/PipelineElementTemplate.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/file/FileManager.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/health/ServiceRegistrationManager.java
  streampipes-pipeline-management/src/test/java/org/apache/streampipes/manager/file/TestFileManager.java
  streampipes-resource-management/src/main/java/org/apache/streampipes/resource/management/AbstractDashboardResourceManager.java
  streampipes-resource-management/src/main/java/org/apache/streampipes/resource/management/AbstractPipelineElementResourceManager.java
  streampipes-resource-management/src/main/java/org/apache/streampipes/resource/management/UserResourceManager.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/AccountActivationResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/AssetDashboardResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/admin/MigrationResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/admin/ServiceConfigurationResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/admin/ServiceRegistrationResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/admin/UserGroupResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/dashboard/DashboardWidget.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/datalake/DataLakeWidgetResource.java
  streampipes-service-core/src/main/java/org/apache/streampipes/service/core/migrations/v095/MergeFilenamesAndRenameDuplicatesMigration.java
  streampipes-service-discovery/src/main/java/org/apache/streampipes/svcdiscovery/SpServiceDiscoveryCore.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/CRUDStorage.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/IAdapterStorage.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/IAssetDashboardStorage.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/IDataProcessorStorage.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/IDataSinkStorage.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/IDataStreamStorage.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/INoSqlStorage.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/IPipelineCanvasMetadataStorage.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/IPipelineElementTemplateStorage.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/IUserActivationTokenStorage.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/IUserGroupStorage.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/CouchDbStorageManager.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/impl/AssetDashboardStorageImpl.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/impl/DefaultCrudStorage.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/impl/DefaultViewCrudStorage.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/impl/ExtensionsServiceConfigStorageImpl.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/impl/ExtensionsServiceStorageImpl.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/impl/FileMetadataStorageImpl.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/impl/PasswordRecoveryTokenImpl.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/impl/UserActivationTokenImpl.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/impl/UserGroupStorageImpl.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/utils/Utils.java
Labels: java, backend, testing

#2972 fix(#2971): Improve token generation and URL-enode tokens
  streampipes-mail/src/main/java/org/apache/streampipes/mail/template/AbstractMailTemplate.java
  streampipes-mail/src/main/java/org/apache/streampipes/mail/template/AccountActiviationMailTemplate.java
  streampipes-mail/src/main/java/org/apache/streampipes/mail/template/PasswordRecoveryMailTemplate.java
  streampipes-user-management/src/main/java/org/apache/streampipes/user/management/util/SecureStringGenerator.java
Labels: java, backend

#2974 chore: Cleanup persistence layer
  streampipes-connect-management/src/main/java/org/apache/streampipes/connect/management/health/AdapterHealthCheck.java
  streampipes-connect-management/src/main/java/org/apache/streampipes/connect/management/management/AdapterMasterManagement.java
  streampipes-connect-management/src/main/java/org/apache/streampipes/connect/management/management/AdapterMigrationManager.java
  streampipes-connect-management/src/main/java/org/apache/streampipes/connect/management/management/AdapterUpdateManagement.java
  streampipes-connect-management/src/main/java/org/apache/streampipes/connect/management/management/DescriptionManagement.java
  streampipes-connect-management/src/main/java/org/apache/streampipes/connect/management/management/WorkerAdministrationManagement.java
  streampipes-connect-management/src/main/java/org/apache/streampipes/connect/management/management/WorkerRestClient.java
  streampipes-connect-management/src/test/java/org/apache/streampipes/connect/management/health/AdapterHealthCheckTest.java
  streampipes-connect-management/src/test/java/org/apache/streampipes/connect/management/management/AdapterMasterManagementTest.java
  streampipes-data-export/src/main/java/org/apache/streampipes/export/resolver/AdapterResolver.java
  streampipes-data-export/src/main/java/org/apache/streampipes/export/resolver/PipelineResolver.java
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/user/Permission.java
  streampipes-model/src/main/java/org/apache/streampipes/model/VirtualSensor.java
  streampipes-model/src/main/java/org/apache/streampipes/model/pipeline/ElementComposition.java
  streampipes-model/src/main/java/org/apache/streampipes/model/pipeline/Pipeline.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/execution/task/StorePipelineStatusTask.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/extensions/AvailableExtensionsProvider.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/health/PipelineHealthCheck.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/migration/PipelineElementMigrationManager.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/operations/Operations.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/pipeline/PipelineManager.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/setup/CouchDbInstallationStep.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/storage/PipelineStorageService.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/template/PipelineTemplateInvocationHandler.java
  streampipes-resource-management/src/main/java/org/apache/streampipes/resource/management/AdapterResourceManager.java
  streampipes-resource-management/src/main/java/org/apache/streampipes/resource/management/PermissionResourceManager.java
  streampipes-resource-management/src/test/java/org/apache/streampipes/resource/management/AdapterResourceManagerTest.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/PipelineElementAsset.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/PipelineResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/connect/AdapterResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/dashboard/AbstractPipelineExtractionResource.java
  streampipes-service-core/src/main/java/org/apache/streampipes/service/core/PostStartupTask.java
  streampipes-service-core/src/main/java/org/apache/streampipes/service/core/StreamPipesCoreApplication.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/IAdapterStorage.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/IDataProcessorStorage.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/IDataSinkStorage.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/IPermissionStorage.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/IPipelineElementDescriptionStorage.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/IPipelineStorage.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/CouchDbStorageManager.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/impl/AdapterDescriptionStorageImpl.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/impl/AdapterInstanceStorageImpl.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/impl/DataProcessorStorageImpl.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/impl/DataSinkStorageImpl.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/impl/DataStreamStorageImpl.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/impl/DefaultViewCrudStorage.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/impl/PermissionStorageImpl.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/impl/PipelineElementDescriptionStorageImpl.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/impl/PipelineStorageImpl.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/utils/Utils.java
Labels: java, backend, testing

#2959 feat: Add GoImports to go client in CI
  .github/workflows/go-client.yml
  streampipes-client-go/examples/main.go
  streampipes-client-go/streampipes/data_lake_dashboard_api.go
  streampipes-client-go/streampipes/data_lake_measure_api.go
  streampipes-client-go/streampipes/data_lake_widget_api.go
  streampipes-client-go/streampipes/endpoint.go
  streampipes-client-go/streampipes/functions_api.go
  streampipes-client-go/streampipes/internal/serializer/deserializer.go
  streampipes-client-go/streampipes/model/data_lake/data_series.go
  streampipes-client-go/streampipes/pipeline_api.go
  streampipes-client-go/streampipes/streampipes_client.go
  streampipes-client-go/streampipes/streampipes_version_api.go
  streampipes-client-go/streampipes/user_api.go
Labels: gh-actions, go

#2977 fix(#2976): Support PLC4X datatypes
  streampipes-extensions/streampipes-connectors-plc/src/main/java/org/apache/streampipes/extensions/connectors/plc/adapter/modbus/Plc4xModbusAdapter.java
  streampipes-extensions/streampipes-connectors-plc/src/main/java/org/apache/streampipes/extensions/connectors/plc/adapter/s7/config/ConfigurationParser.java
Labels: java, backend
