Repository apache/streampipes, pull requests merged in 2025-05, with the labels that each got.

#3590 fix: Improve adapter management
  streampipes-connect-management/src/main/java/org/apache/streampipes/connect/management/management/GuessManagement.java
  streampipes-connect-management/src/main/java/org/apache/streampipes/connect/management/management/WorkerRestClient.java
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/connect/GuessManagement.java
  streampipes-extensions/streampipes-connectors-kafka/src/main/java/org/apache/streampipes/extensions/connectors/kafka/adapter/KafkaProtocol.java
  streampipes-wrapper-standalone/src/main/java/org/apache/streampipes/wrapper/standalone/manager/ProtocolManager.java
  ui/src/app/connect/components/adapter-configuration/schema-editor/event-schema/event-schema.component.html
  ui/src/app/connect/components/adapter-configuration/schema-editor/event-schema/event-schema.component.ts
  ui/src/app/connect/components/adapter-configuration/schema-editor/loading-message/loading-message.component.html
  ui/src/app/connect/components/adapter-configuration/schema-editor/loading-message/loading-message.component.ts
  ui/src/app/connect/components/existing-adapters/existing-adapters.component.html
  ui/src/app/connect/components/existing-adapters/existing-adapters.component.ts
  ui/src/app/connect/dialog/delete-adapter-dialog/delete-adapter-dialog.component.html
  ui/src/app/connect/dialog/delete-adapter-dialog/delete-adapter-dialog.component.scss
  ui/src/app/connect/services/rest.service.ts
  ui/src/app/pipelines/dialog/pipeline-status/pipeline-status-dialog.component.html
  ui/src/app/pipelines/pipelines.component.ts
Labels: java, ui, backend

#3588 fix(#3587): Change output datatype from String to Boolean in BooleanOperatorProcessor
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/processor/booloperator/logical/BooleanOperatorProcessor.java
Labels: java, pipeline elements, backend

#3594 feat: add clone button to data explorer overview
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/UserResource.java
  ui/deployment/i18n/de.json
  ui/deployment/i18n/en.json
  ui/projects/streampipes/platform-services/src/lib/apis/chart.service.ts
  ui/src/app/data-explorer/components/overview/data-explorer-overview-table/data-explorer-overview-table.component.html
  ui/src/app/data-explorer/components/overview/data-explorer-overview-table/data-explorer-overview-table.component.ts
Labels: java, ui, backend

#3598 refactor(#3597): Remove deprecated methods using domainProperty instead of semanticType
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/helpers/EpProperties.java
Labels: java, backend

#3596 refactor(#3153): Remove CreateNestedRuleDescription references from various classes
  streampipes-connect-shared/src/main/java/org/apache/streampipes/connect/shared/preprocessing/convert/ToOriginalSchemaConverter.java
  streampipes-connect-shared/src/main/java/org/apache/streampipes/connect/shared/preprocessing/convert/ToTransformedSchemaConverter.java
  streampipes-connect-shared/src/main/java/org/apache/streampipes/connect/shared/preprocessing/generator/StatefulTransformationRuleGeneratorVisitor.java
  streampipes-connect-shared/src/main/java/org/apache/streampipes/connect/shared/preprocessing/generator/StatelessTransformationRuleGeneratorVisitor.java
  streampipes-connect-shared/src/main/java/org/apache/streampipes/connect/shared/preprocessing/transform/schema/CreateNestedTransformationRule.java
  streampipes-connect-shared/src/test/java/org/apache/streampipes/connect/shared/preprocessing/transform/schema/CreateNestedTransformationRuleTest.java
  streampipes-connect-shared/src/test/java/org/apache/streampipes/connect/shared/preprocessing/transform/schema/SchemaEventTransformerTest.java
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/connect/TransformationRuleUpdateVisitor.java
  streampipes-model/src/main/java/org/apache/streampipes/model/connect/rules/ITransformationRuleVisitor.java
  streampipes-model/src/main/java/org/apache/streampipes/model/connect/rules/TransformationRuleDescription.java
  streampipes-model/src/main/java/org/apache/streampipes/model/connect/rules/schema/CreateNestedRuleDescription.java
  streampipes-model/src/test/java/org/apache/streampipes/model/connect/adapter/AdapterDescriptionTest.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/serializer/GsonSerializer.java
Labels: java, backend, testing

#3607 chore(deps): drop Python 3.8 & bump pandas from ->=1.5 to >=2.0 in /streampipes-client-python
  .github/workflows/pr-validation.yml
  .github/workflows/pypi-deployment.yml
  .github/workflows/python-docs.yml
  streampipes-client-python/poetry.lock
  streampipes-client-python/pyproject.toml
Labels: dependencies, gh-actions

#3616 fix: add validator to pipeline and adapter name
  ui/src/app/connect/components/adapter-configuration/start-adapter-configuration/start-adapter-configuration.component.html
  ui/src/app/connect/components/adapter-configuration/start-adapter-configuration/start-adapter-configuration.component.ts
  ui/src/app/core-ui/static-properties/input.validator.ts
  ui/src/app/editor/dialog/save-pipeline/save-pipeline-settings/save-pipeline-settings.component.html
  ui/src/app/editor/dialog/save-pipeline/save-pipeline-settings/save-pipeline-settings.component.ts
Labels: ui

#3620 chore: Replace native federation with default Angular builder
  ui/.gitignore
  ui/angular.json
  ui/package-lock.json
  ui/package.json
  ui/src/app/core/components/toolbar/toolbar.component.html
  ui/src/app/editor/services/editor.service.ts
  ui/src/app/home/home.module.ts
  ui/src/assets/federation.manifest.json
  ui/src/federation.config.js
  ui/src/main.ts
Labels: dependencies, ui, javascript

#3626 refactor: remove UserService class and its associated methods
  streampipes-user-management/src/main/java/org/apache/streampipes/user/management/service/UserService.java
Labels: java, backend

#3601 Feat:Support ParquetSink
  pom.xml
  streampipes-extensions/streampipes-sinks-databases-jvm/pom.xml
  streampipes-extensions/streampipes-sinks-databases-jvm/src/main/java/org/apache/streampipes/sinks/databases/jvm/DatabaseSinksExtensionModuleExport.java
  streampipes-extensions/streampipes-sinks-databases-jvm/src/main/java/org/apache/streampipes/sinks/databases/jvm/parquet/ParquetSink.java
  streampipes-extensions/streampipes-sinks-databases-jvm/src/main/resources/org.apache.streampipes.sinks.databases.jvm.parquet/documentation.md
  streampipes-extensions/streampipes-sinks-databases-jvm/src/main/resources/org.apache.streampipes.sinks.databases.jvm.parquet/icon.png
  streampipes-extensions/streampipes-sinks-databases-jvm/src/main/resources/org.apache.streampipes.sinks.databases.jvm.parquet/strings.en
Labels: dependencies, java, pipeline elements, backend, documentation
