Repository apache/streampipes, pull requests merged in 2025-02, with the labels that each got.

#3447 fix(#3278): Remove methods related to the legacy domain property concept
  streampipes-extensions-management/src/test/java/org/apache/streampipes/extensions/management/connect/adapter/parser/json/GeoJsonParserTest.java
  streampipes-extensions/streampipes-connect-adapters-iiot/src/main/java/org/apache/streampipes/connect/iiot/adapters/simulator/machine/MachineDataSimulatorUtils.java
  streampipes-extensions/streampipes-connectors-influx/src/main/java/org/apache/streampipes/extensions/connectors/influx/adapter/InfluxDbClient.java
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/java/org/apache/streampipes/processors/geo/jvm/jts/processor/buffergeometry/BufferGeomProcessor.java
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/java/org/apache/streampipes/processors/geo/jvm/jts/processor/bufferpoint/BufferPointProcessor.java
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/java/org/apache/streampipes/processors/geo/jvm/jts/processor/epsg/EpsgProcessor.java
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/java/org/apache/streampipes/processors/geo/jvm/jts/processor/latlngtojtspoint/LatLngToJtsPointProcessor.java
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/java/org/apache/streampipes/processors/geo/jvm/jts/processor/reprojection/ReprojectionProcessor.java
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/java/org/apache/streampipes/processors/geo/jvm/jts/processor/trajectory/TrajectoryFromPointsProcessor.java
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/java/org/apache/streampipes/processors/geo/jvm/jts/processor/validation/complex/TopologyValidationProcessor.java
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/java/org/apache/streampipes/processors/geo/jvm/jts/processor/validation/simple/GeometryValidationProcessor.java
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/java/org/apache/streampipes/processors/geo/jvm/latlong/processor/distancecalculator/haversine/HaversineDistanceCalculatorProcessor.java
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/java/org/apache/streampipes/processors/geo/jvm/latlong/processor/distancecalculator/haversinestatic/HaversineStaticDistanceCalculatorProcessor.java
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/java/org/apache/streampipes/processors/geo/jvm/latlong/processor/revgeocoder/geocityname/GeoCityNameRevdecodeProcessor.java
  streampipes-extensions/streampipes-processors-geo-jvm/src/main/java/org/apache/streampipes/processors/geo/jvm/latlong/processor/speedcalculator/SpeedCalculatorProcessor.java
  streampipes-extensions/streampipes-processors-image-processing-jvm/src/main/java/org/apache/streampipes/processors/imageprocessing/jvm/processor/commons/RequiredBoxStream.java
  streampipes-extensions/streampipes-processors-image-processing-jvm/src/main/java/org/apache/streampipes/processors/imageprocessing/jvm/processor/genericclassification/GenericImageClassificationProcessor.java
  streampipes-extensions/streampipes-processors-image-processing-jvm/src/main/java/org/apache/streampipes/processors/imageprocessing/jvm/processor/qrreader/QrCodeReaderProcessor.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/processor/state/buffer/StateBufferProcessor.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/processor/state/labeler/LabelerUtils.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/processor/state/labeler/buffer/StateBufferLabelerProcessor.java
  streampipes-pipeline-management/src/test/java/org/apache/streampipes/manager/matching/v2/ListPropertyMatchTest.java
  streampipes-pipeline-management/src/test/java/org/apache/streampipes/manager/matching/v2/TestPrimitivePropertyMatch.java
  streampipes-pipeline-management/src/test/java/org/apache/streampipes/manager/matching/v2/TestSchemaMatch.java
  streampipes-pipeline-management/src/test/java/org/apache/streampipes/manager/selector/TestSelectorUtils.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/builder/PrimitivePropertyBuilder.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/helpers/EpProperties.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/helpers/EpRequirements.java
Labels: java, pipeline elements, connect, backend, testing, breaking change

#3449 fix: Change time range to fix test timeOrderDataView.spec.ts
  ui/cypress/tests/datalake/timeOrderDataView.spec.ts
Labels: ui, testing

#3458 refactor(#3169): Remove deprecated code related to supported formats
  streampipes-client-api/src/main/java/org/apache/streampipes/client/api/IStreamPipesClient.java
  streampipes-client/src/main/java/org/apache/streampipes/client/StreamPipesClient.java
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/model/SpServiceDefinitionBuilder.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/builder/AbstractProcessingElementBuilder.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/helpers/SupportedFormats.java
Labels: java, deprecation, backend

#3461 wip(#3460): Fix broken pipeline templates
  ui/src/app/editor/components/pipeline-assembly/pipeline-assembly-options/pipeline-assembly-options.component.ts
  ui/src/app/editor/components/pipeline-assembly/pipeline-assembly.component.html
  ui/src/app/editor/components/pipeline-assembly/pipeline-assembly.component.ts
Labels: ui

#3466 fix(#3465): Add support for variable string length in PLC4X adapters
  streampipes-extensions/streampipes-connectors-plc/src/main/java/org/apache/streampipes/extensions/connectors/plc/adapter/s7/config/ConfigurationParser.java
  streampipes-extensions/streampipes-connectors-plc/src/test/java/org/apache/streampipes/extensions/connectors/plc/adapter/s7/config/ConfigurationParserTest.java
Labels: java, backend, testing

#3459 refactor(#3139): Remove deprecated IParameterExtractor.selectedTreeNodesInternalNames
  streampipes-extensions-api/src/main/java/org/apache/streampipes/extensions/api/extractor/IParameterExtractor.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/extractor/AbstractParameterExtractor.java
Labels: java, backend

#3464 deps(#3463): Bump Angular to v18
  ui/package-lock.json
  ui/package.json
  ui/projects/streampipes/platform-services/package.json
  ui/projects/streampipes/platform-services/src/lib/apis/pipeline.service.spec.ts
  ui/projects/streampipes/shared-ui/package.json
  ui/src/app/configuration/extensions-service-management/extensions-service-configuration/service-configs/service-configs-password/service-configs-password.component.spec.ts
  ui/src/app/configuration/shared/configuration.service.spec.ts
  ui/src/app/configuration/shared/configuration.service.ts
  ui/src/app/core-ui/core-ui.module.ts
  ui/src/app/core-ui/object-permission-dialog/object-permission-dialog.component.ts
  ui/src/app/core-ui/static-properties/static-code-input/static-code-input.component.ts
  ui/src/app/core-ui/static-properties/static-property-util.service.ts
  ui/src/app/core-ui/static-properties/static-runtime-resolvable-tree-input/static-runtime-resolvable-tree-input.component.ts
  ui/src/app/core-ui/static-properties/static-runtime-resolvable-tree-input/static-tree-input-browse-nodes/static-tree-input-browse-nodes.component.html
  ui/src/app/core-ui/static-properties/static-runtime-resolvable-tree-input/static-tree-input-browse-nodes/static-tree-input-browse-nodes.component.ts
  ui/src/app/dashboard/dashboard.module.ts
  ui/src/app/data-explorer-shared/components/chart-container/data-explorer-chart-container.component.ts
  ui/src/app/data-explorer-shared/data-explorer-shared.module.ts
  ui/src/app/data-explorer-shared/models/dataview-dashboard.model.ts
  ui/src/app/data-explorer/data-explorer.module.ts
  ui/src/app/editor/components/pipeline-assembly/pipeline-assembly-drawing-area/pipeline-assembly-drawing-area-pan-zoom/pipeline-assembly-drawing-area-pan-zoom.component.ts
  ui/src/app/editor/dialog/compatible-elements/compatible-elements.component.ts
  ui/src/app/editor/dialog/pipeline-element-discovery/pipeline-element-discovery.component.ts
  ui/src/app/editor/dialog/save-pipeline/save-pipeline.component.ts
  ui/src/app/editor/services/object-provider.service.ts
  ui/src/app/login/components/setup/setup.component.ts
  ui/src/app/services/rest-api.service.ts
  ui/src/scss/sp/sp-theme.scss
Labels: dependencies, ui

#3467 chore: Remove obsolete ngx-charts module
  ui/package.json
  ui/src/app/core-ui/core-ui.module.ts
  ui/src/app/core-ui/monitoring/simple-metrics/simple-metrics.component.html
  ui/src/app/core-ui/status/status-widget.component.html
  ui/src/app/core-ui/status/status-widget.component.scss
  ui/src/app/core-ui/status/status-widget.component.ts
  ui/src/app/dashboard/dashboard.module.ts
  ui/src/app/data-explorer-shared/data-explorer-shared.module.ts
  ui/src/app/data-explorer/data-explorer.module.ts
Labels: dependencies, ui

#3468 chore: Cleanup npm dependencies
  ui/package-lock.json
  ui/package.json
  ui/src/app/editor/components/pipeline-element-options/pipeline-element-options.component.ts
Labels: dependencies, ui

#3473 chore(deps): Bump Spring Boot and Spring dependencies
  pom.xml
  streampipes-commons/pom.xml
  streampipes-service-base/pom.xml
  streampipes-service-base/src/main/java/org/apache/streampipes/service/base/ServiceBaseConfig.java
Labels: dependencies, java, backend

#3474 chore(deps): Update test dependencies in maven plugin
  streampipes-maven-plugin/pom.xml
  streampipes-maven-plugin/src/test/java/org/apache/streampipes/smp/generator/TestMarkdownTitleRemover.java
Labels: dependencies, java, backend, testing

#3455 [WIP][#3446] Remove nginx default.conf SP 0.93.0 -> 0.95.0 migration code
  ui/Dockerfile
  ui/docker-entrypoint.sh
Labels: ui

#3492 ci: add custom package directory
  .github/workflows/pypi-deployment.yml
Labels: gh-actions

#3484 feat(#3483): Use Kraft-based Kafka as default for internal messaging
  docker-compose.yml
  installer/cli/deploy/standalone/kafka/docker-compose.dev.yml
  installer/cli/deploy/standalone/kafka/docker-compose.yml
  installer/compose/docker-compose.full.yml
  installer/compose/docker-compose.quickstart.yml
  installer/compose/docker-compose.yml
  installer/k8s/README.md
  installer/k8s/templates/core/backend-deployment.yaml
  installer/k8s/templates/external/kafka/kafka-deployment.yaml
  installer/k8s/templates/external/zookeeper/zookeeper-deployment.yaml
  installer/k8s/templates/external/zookeeper/zookeeper-pvc.yaml
  installer/k8s/templates/external/zookeeper/zookeeper-service.yaml
  installer/k8s/values.yaml
  streampipes-extensions/streampipes-connectors-kafka/src/main/java/org/apache/streampipes/extensions/connectors/kafka/adapter/KafkaProtocol.java
  streampipes-messaging-kafka/src/main/java/org/apache/streampipes/messaging/kafka/SpKafkaConsumer.java
  streampipes-model/src/main/java/org/apache/streampipes/model/datalake/DataExplorerWidgetModel.java
  streampipes-model/src/main/java/org/apache/streampipes/model/grounding/KafkaTransportProtocol.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/matching/ProtocolSelector.java
  streampipes-pipeline-management/src/test/java/org/apache/streampipes/manager/matching/v2/TestUtils.java
  streampipes-sdk/src/main/java/org/apache/streampipes/sdk/helpers/Protocols.java
  ui/projects/streampipes/platform-services/src/lib/model/gen/streampipes-model.ts
Labels: java, ui, backend, installer, documentation, testing, helm

#3498 fix: Add timeout to cypress tests
  ui/cypress/support/utils/connect/ConnectUtils.ts
  ui/cypress/tests/connect/editAdapterSettingsAndPipeline.smoke.spec.ts
  ui/cypress/tests/connect/opcua/startAndEditOpcAdapters.smoke.spec.ts
Labels: ui, testing

#3500 refactor(#3499): Remove unused volume for files
  docker-compose.yml
  installer/cli/deploy/standalone/backend/docker-compose.yml
  installer/cli/deploy/standalone/extensions-all-jvm/docker-compose.yml
  installer/cli/deploy/standalone/pipeline-elements-all-jvm/docker-compose.yml
  installer/cli/deploy/standalone/sinks-internal-jvm/docker-compose.yml
  installer/compose/docker-compose.full.yml
  installer/compose/docker-compose.quickstart.yml
  installer/compose/docker-compose.yml
  installer/compose/quickstart/Dockerfile
  installer/compose/quickstart/upload.sh
  installer/compose/quickstart/zip_folder/Example Asset - Smart Factory Monitoring and Analysis.zip
  streampipes-client-e2e/docker-compose.yml
  streampipes-extensions/docker-compose.yml
  ui/cypress/tests/experimental/testJvmArchetype/backend/docker-compose.yml
  ui/cypress/tests/experimental/testJvmArchetype/docker-compose.yml
Labels: ui, installer, testing

#3504 [#1904]Added tests for ThroughputMonitorProcessor
  streampipes-extensions/streampipes-processors-filters-jvm/src/test/java/org/apache/streampipes/processors/filters/jvm/processor/throughputmon/TestThroughputMonitorProcessor.java
Labels: java, pipeline elements, backend, testing

#3509 [#1899] Added unit tests for ProjectionProcessor
  streampipes-extensions/streampipes-processors-filters-jvm/src/test/java/org/apache/streampipes/processors/filters/jvm/processor/projection/TestProjectionProcessor.java
Labels: java, pipeline elements, backend, testing

#3507 [#1903] Implement Unit Tests for ThresholdDetectionProcessor
  streampipes-extensions/streampipes-processors-filters-jvm/src/test/java/org/apache/streampipes/processors/filters/jvm/processor/threshold/TestThresholdDetectionProcessor.java
Labels: java, pipeline elements, backend, testing

#3510 fix(#3506): connect static property type cannot be changed to numeric value
  streampipes-connect-shared/src/main/java/org/apache/streampipes/connect/shared/preprocessing/convert/ToTransformedSchemaConverter.java
  streampipes-connect-shared/src/main/java/org/apache/streampipes/connect/shared/preprocessing/transform/stream/EventRateTransformationRule.java
  ui/cypress/fixtures/connect/addNumericalStaticValue/expected.json
  ui/cypress/fixtures/connect/addNumericalStaticValue/input.csv
  ui/cypress/support/utils/DataSetUtils.ts
  ui/cypress/support/utils/connect/ConnectEventSchemaUtils.ts
  ui/cypress/support/utils/datalake/DataLakeUtils.ts
  ui/cypress/tests/connect/rules/addNumericalStaticValue.spec.ts
  ui/src/app/connect/components/adapter-configuration/schema-editor/schema-editor-header/schema-editor-header.component.ts
  ui/src/app/connect/dialog/edit-event-property/components/edit-value-transformation/edit-value-transformation.component.ts
  ui/src/app/connect/services/event-property-utils.service.ts
  ui/src/app/connect/services/static-value-transform.service.ts
  ui/src/app/connect/services/transformation-rule.service.ts
Labels: java, ui, backend, testing
