Repository apache/streampipes, pull requests merged in 2025-10, with the labels that each got.

#3806 chore: Disabled Label Editablity in Create Asset Link
  ui/src/app/assets/dialog/edit-asset-link/edit-asset-link-dialog.component.html
Labels: ui

#3802 feat(#3798): Show creation and last login date in user configuration …
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/user/UserAccount.java
  streampipes-resource-management/src/main/java/org/apache/streampipes/resource/management/UserResourceManager.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/Authentication.java
  streampipes-service-core/src/main/java/org/apache/streampipes/service/core/oauth2/UserService.java
  ui/projects/streampipes/platform-services/src/lib/model/gen/streampipes-model-client.ts
  ui/projects/streampipes/platform-services/src/lib/model/gen/streampipes-model.ts
  ui/projects/streampipes/shared-ui/src/lib/components/sp-label/sp-label.component.scss
  ui/projects/streampipes/shared-ui/src/lib/components/sp-label/sp-label.component.ts
  ui/projects/streampipes/shared-ui/src/lib/components/split-section/split-section.component.html
  ui/src/app/configuration/configuration.module.ts
  ui/src/app/configuration/security-configuration/abstract-security-principal-config.ts
  ui/src/app/configuration/security-configuration/role-configuration/role-configuration.component.html
  ui/src/app/configuration/security-configuration/security-user-configuration/security-user-config.component.html
  ui/src/app/configuration/security-configuration/security-user-configuration/security-user-config.component.ts
  ui/src/app/connect/components/existing-adapters/existing-adapters.component.html
  ui/src/app/connect/components/existing-adapters/existing-adapters.component.scss
Labels: java, ui, backend

#3804 Add related assets to adapter during adapter generation process
  streampipes-data-explorer-api/src/main/java/org/apache/streampipes/dataexplorer/api/IDataExplorerSchemaManagement.java
  streampipes-data-explorer/src/main/java/org/apache/streampipes/dataexplorer/DataExplorerSchemaManagement.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/datalake/DataLakeMeasureResource.java
  ui/deployment/i18n/en.json
  ui/projects/streampipes/platform-services/src/lib/apis/datalake-rest.service.ts
  ui/projects/streampipes/platform-services/src/lib/model/assets/asset.model.ts
  ui/src/app/connect/components/adapter-configuration/adapter-asset-configuration/adapter-asset-configuration.component.html
  ui/src/app/connect/components/adapter-configuration/adapter-asset-configuration/adapter-asset-configuration.component.scss
  ui/src/app/connect/components/adapter-configuration/adapter-asset-configuration/adapter-asset-configuration.component.ts
  ui/src/app/connect/components/adapter-configuration/adapter-configuration.component.html
  ui/src/app/connect/components/adapter-configuration/adapter-configuration.component.ts
  ui/src/app/connect/components/adapter-configuration/start-adapter-configuration/start-adapter-configuration.component.html
  ui/src/app/connect/components/adapter-configuration/start-adapter-configuration/start-adapter-configuration.component.ts
  ui/src/app/connect/connect.module.ts
  ui/src/app/connect/dialog/adapter-started/adapter-started-dialog.component.html
  ui/src/app/connect/dialog/adapter-started/adapter-started-dialog.component.ts
  ui/src/app/connect/dialog/adapter-started/adapter-started-success/adapter-started-success.component.html
  ui/src/app/connect/dialog/adapter-started/adapter-started-success/adapter-started-success.component.ts
  ui/src/app/connect/services/adapter-asset-configuration.service.ts
Labels: java, ui, backend

#3816 feat: Modify data table actions
  ui/cypress.config.ts
  ui/cypress/support/utils/DataDownloadDialogUtils.ts
  ui/cypress/support/utils/asset/AssetUtils.ts
  ui/cypress/support/utils/connect/ConnectBtns.ts
  ui/cypress/support/utils/connect/ConnectUtils.ts
  ui/cypress/support/utils/datalake/DataLakeBtns.ts
  ui/cypress/support/utils/datalake/DataLakeUtils.ts
  ui/cypress/support/utils/pipeline/PipelineUtils.ts
  ui/cypress/support/utils/user/PermissionUtils.ts
  ui/cypress/tests/connect/compact/compactAdapterWithTransformation.spec.ts
  ui/cypress/tests/connect/compact/uiConfiguration.spec.ts
  ui/cypress/tests/connect/editAdapter.smoke.spec.ts
  ui/cypress/tests/connect/editAdapterSettingsAndPipeline.smoke.spec.ts
  ui/cypress/tests/connect/editAdapterTransformationRulesAreKept.spec.ts
  ui/cypress/tests/connect/editAdapterValuesAndFields.spec.ts
  ui/cypress/tests/connect/fileStream.spec.ts
  ui/cypress/tests/connect/machineDataSimulator.smoke.spec.ts
  ui/cypress/tests/connect/opcua/startAndEditOpcAdapters.smoke.spec.ts
  ui/cypress/tests/connect/rules/addNumericalStaticValue.spec.ts
  ui/cypress/tests/datalake/configuration.smoke.spec.ts
  ui/cypress/tests/datalake/timeOrderDataView.spec.ts
  ui/cypress/tests/pipeline/pipelineTest.smoke.spec.ts
  ui/cypress/tests/pipeline/renamePipelineTest.spec.ts
  ui/cypress/tests/pipeline/updatePipelineTest.smoke.spec.ts
  ui/cypress/tests/userManagement/testGroupManagement.spec.ts
  ui/cypress/tests/userManagement/testUserRoleConnect.spec.ts
  ui/cypress/tests/userManagement/testUserRolePipeline.spec.ts
  ui/projects/streampipes/shared-ui/src/lib/components/sp-table/sp-table.component.html
  ui/projects/streampipes/shared-ui/src/lib/components/sp-table/sp-table.component.scss
  ui/src/app/assets/assets.module.ts
  ui/src/app/assets/components/asset-overview/asset-overview.component.html
  ui/src/app/assets/components/asset-overview/asset-overview.component.ts
  ui/src/app/connect/components/existing-adapters/existing-adapters.component.html
  ui/src/app/connect/components/existing-adapters/existing-adapters.component.scss
  ui/src/app/connect/components/existing-adapters/existing-adapters.component.ts
  ui/src/app/connect/connect.module.ts
  ui/src/app/dashboard/components/overview/dashboard-overview-table/dashboard-overview-table.component.html
  ui/src/app/data-explorer/components/overview/data-explorer-overview-table/data-explorer-overview-table.component.html
  ui/src/app/pipelines/components/pipeline-overview/pipeline-overview.component.html
  ui/src/app/pipelines/components/pipeline-overview/pipeline-overview.component.ts
  ui/src/app/pipelines/pipelines.module.ts
  ui/src/scss/sp/main.scss
Labels: ui, testing

#3823 feat(#3822): Support OPC-UA certificate authentication
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/OpcUaConnectorsModuleExport.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/adapter/OpcUaAdapter.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/config/SharedUserConfiguration.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/config/SpOpcUaConfigExtractor.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/config/identity/X509IdentityConfig.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/migration/OpcUaAdapterMigrationV6.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/migration/OpcUaSinkMigrationV2.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/sink/OpcUaSink.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/resources/org.apache.streampipes.connect.iiot.adapters.opcua/strings.en
  streampipes-extensions/streampipes-connectors-opcua/src/main/resources/org.apache.streampipes.sinks.databases.jvm.opcua/strings.en
  ui/src/app/core-ui/core-ui.module.ts
  ui/src/app/core-ui/static-properties/static-free-input/static-free-input.component.html
  ui/src/app/core-ui/static-properties/static-free-input/static-free-input.component.ts
Labels: java, ui, backend
