Repository apache/streampipes, pull requests merged in 2025-04, with the labels that each got.

#3553 feat: Add configurable wait and lease time to PLC connectors
  streampipes-commons/src/main/java/org/apache/streampipes/commons/constants/Envs.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/environment/DefaultEnvironment.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/environment/Environment.java
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/connect/PullAdapterScheduler.java
  streampipes-extensions/streampipes-connectors-plc/src/main/java/org/apache/streampipes/extensions/connectors/plc/PlcConnectorsModuleExport.java
  streampipes-extensions/streampipes-connectors-plc/src/main/java/org/apache/streampipes/extensions/connectors/plc/adapter/generic/connection/ContinuousPlcRequestReader.java
Labels: java, backend

#3555 fix: Breadcrumb dashboard
  ui/src/app/dashboard/components/panel/dashboard-panel.component.ts
Labels: ui

#3559 Feat : support MilvusSink dev
  pom.xml
  streampipes-extensions/streampipes-sinks-databases-jvm/pom.xml
  streampipes-extensions/streampipes-sinks-databases-jvm/src/main/java/org/apache/streampipes/sinks/databases/jvm/DatabaseSinksExtensionModuleExport.java
  streampipes-extensions/streampipes-sinks-databases-jvm/src/main/java/org/apache/streampipes/sinks/databases/jvm/milvus/MilvusSink.java
  streampipes-extensions/streampipes-sinks-databases-jvm/src/main/resources/org.apache.streampipes.sinks.databases.jvm.milvus/documentation.md
  streampipes-extensions/streampipes-sinks-databases-jvm/src/main/resources/org.apache.streampipes.sinks.databases.jvm.milvus/icon.png
  streampipes-extensions/streampipes-sinks-databases-jvm/src/main/resources/org.apache.streampipes.sinks.databases.jvm.milvus/strings.en
Labels: dependencies, java, pipeline elements, backend, documentation

#3550 fix: asset filters and labels for assets
  ui/src/app/assets/components/asset-details/edit-asset/asset-details-panel/asset-details-basics/asset-details-labels/asset-details-labels.component.html
  ui/src/app/assets/components/asset-details/edit-asset/asset-details-panel/asset-details-basics/asset-details-labels/asset-details-labels.component.ts
  ui/src/app/dashboard/components/overview/dashboard-overview-table/dashboard-overview-table.component.ts
  ui/src/app/data-explorer/components/overview/data-explorer-overview-table/data-explorer-overview-table.component.ts
  ui/src/app/data-explorer/components/overview/data-explorer-overview.component.ts
Labels: ui

#3572 Fix: Pulsar container
  streampipes-integration-tests/src/test/java/org/apache/streampipes/integration/containers/PulsarContainer.java
Labels: java, backend, testing

#3563 feat: Rename pipelines and add cypress test
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/PipelineResource.java
  ui/cypress/support/utils/pipeline/PipelineUtils.ts
  ui/cypress/tests/pipeline/renamePipelineTest.spec.ts
  ui/src/app/editor/dialog/save-pipeline/save-pipeline-settings/save-pipeline-settings.component.html
Labels: java, ui, backend, testing

#3574 fix: Assignment of last modified date for existing dashboards
  ui/src/app/dashboard/components/panel/dashboard-panel.component.ts
  ui/src/app/data-explorer/components/chart-view/data-explorer-chart-view.component.ts
Labels: ui

#3576 fix: Ignore export items that are not explicitly selected
  streampipes-data-export/src/main/java/org/apache/streampipes/export/generator/ExportPackageGenerator.java
Labels: java, backend

#3570 Feat: Support TsFileSink
  pom.xml
  streampipes-extensions/streampipes-sinks-databases-jvm/pom.xml
  streampipes-extensions/streampipes-sinks-databases-jvm/src/main/java/org/apache/streampipes/sinks/databases/jvm/DatabaseSinksExtensionModuleExport.java
  streampipes-extensions/streampipes-sinks-databases-jvm/src/main/java/org/apache/streampipes/sinks/databases/jvm/tsfile/TsFileSink.java
  streampipes-extensions/streampipes-sinks-databases-jvm/src/main/resources/org.apache.streampipes.sinks.databases.jvm.tsfile/documentation.md
  streampipes-extensions/streampipes-sinks-databases-jvm/src/main/resources/org.apache.streampipes.sinks.databases.jvm.tsfile/icon.png
  streampipes-extensions/streampipes-sinks-databases-jvm/src/main/resources/org.apache.streampipes.sinks.databases.jvm.tsfile/strings.en
Labels: dependencies, java, pipeline elements, backend, documentation
