Repository apache/streampipes, pull requests merged in 2025-08, with the labels that each got.

#3712 fix: Sass deprecation warnings
  ui/src/app/connect/dialog/edit-event-property/components/edit-schema-transformation/edit-schema-transformation.component.scss
  ui/src/app/connect/dialog/edit-event-property/components/edit-schema-transformation/edit-schema-transformation.component.ts
  ui/src/app/connect/dialog/edit-event-property/components/edit-value-transformation/edit-correction-value/edit-correction-value.component.scss
  ui/src/app/connect/dialog/edit-event-property/components/edit-value-transformation/edit-correction-value/edit-correction-value.component.ts
  ui/src/scss/main.scss
  ui/src/scss/sp/dialog.scss
  ui/src/scss/sp/documentation.ng1.scss
  ui/src/scss/sp/feedback.ng1.scss
  ui/src/scss/sp/main.scss
  ui/src/scss/sp/pipeline-element-options.scss
  ui/src/scss/sp/pipeline-validation.scss
  ui/src/scss/sp/progress-bar.scss
  ui/src/scss/sp/shepherd-new.scss
  ui/src/scss/sp/sp-theme.scss
Labels: ui

#3716 fix: Avoid duplicate tree node types in asset browser
  ui/projects/streampipes/shared-ui/src/lib/components/asset-browser/asset-browser-hierarchy/asset-browser-hierarchy.component.html
  ui/projects/streampipes/shared-ui/src/lib/components/asset-browser/asset-browser-hierarchy/asset-browser-hierarchy.component.scss
Labels: ui

#3715 chore: Load dashboard in single request
  streampipes-model/src/main/java/org/apache/streampipes/model/dashboard/CompositeDashboardModel.java
  streampipes-model/src/main/java/org/apache/streampipes/model/datalake/DataExplorerWidgetModel.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/setup/CouchDbInstallationStep.java
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/setup/tasks/AddDataLakeMeasureViewTask.java
  streampipes-resource-management/src/main/java/org/apache/streampipes/resource/management/DataExplorerResourceManager.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/dashboard/DataLakeDashboardResource.java
  streampipes-service-core/src/main/java/org/apache/streampipes/service/core/migrations/AvailableMigrations.java
  streampipes-service-core/src/main/java/org/apache/streampipes/service/core/migrations/v0980/AddDataLakeMeasureViewMigration.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/IDataLakeMeasureStorage.java
  streampipes-storage-api/src/main/java/org/apache/streampipes/storage/api/INoSqlStorage.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/CouchDbStorageManager.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/impl/DataLakeMeasureStorage.java
  streampipes-storage-couchdb/src/main/java/org/apache/streampipes/storage/couchdb/utils/Utils.java
  ui/projects/streampipes/platform-services/src/lib/apis/dashboard.service.ts
  ui/projects/streampipes/platform-services/src/lib/model/dashboard/dashboard.model.ts
  ui/src/app/dashboard/components/chart-view/abstract-chart-view.directive.ts
  ui/src/app/dashboard/components/chart-view/grid-view/dashboard-grid-view.component.ts
  ui/src/app/dashboard/components/chart-view/slide-view/dashboard-slide-view.component.ts
  ui/src/app/dashboard/components/panel/dashboard-panel.component.html
  ui/src/app/dashboard/components/panel/dashboard-panel.component.ts
  ui/src/app/data-explorer-shared/components/chart-container/data-explorer-chart-container.component.ts
  ui/src/app/data-explorer-shared/components/charts/base/base-data-explorer-widget.directive.ts
  ui/src/app/data-explorer-shared/components/charts/image/image-widget.component.ts
  ui/src/app/data-explorer-shared/models/dataview-dashboard.model.ts
Labels: java, ui, backend

#3722 feat(#3721): Add optional file logging
  pom.xml
  streampipes-client/pom.xml
  streampipes-commons/src/main/java/org/apache/streampipes/commons/constants/Envs.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/environment/DefaultEnvironment.java
  streampipes-commons/src/main/java/org/apache/streampipes/commons/environment/Environment.java
  streampipes-data-explorer-influx/pom.xml
  streampipes-extensions-management/pom.xml
  streampipes-extensions/streampipes-sinks-databases-jvm/pom.xml
  streampipes-service-base/pom.xml
  streampipes-service-base/src/main/java/org/apache/streampipes/service/base/logging/LogbackRollingFileConfig.java
  streampipes-service-base/src/main/resources/META-INF/spring.factories
  streampipes-storage-couchdb/pom.xml
  streampipes-wrapper-siddhi/pom.xml
Labels: dependencies, java, pipeline elements, backend

#3736 fix(#3735): Fix color picker in data explorer
  ui/src/app/data-explorer-shared/data-explorer-shared.module.ts
Labels: ui

#3739 feat: Extend certificate information shown in UI
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/config/security/CompositeCertificateValidator.java
  streampipes-extensions/streampipes-connectors-opcua/src/main/java/org/apache/streampipes/extensions/connectors/opcua/utils/OpcUaUtils.java
  streampipes-model/src/main/java/org/apache/streampipes/model/opcua/Certificate.java
  streampipes-model/src/main/java/org/apache/streampipes/model/opcua/CertificateBuilder.java
  ui/projects/streampipes/platform-services/src/lib/model/gen/streampipes-model.ts
  ui/src/app/configuration/dialog/certificate-details/certificate-details-dialog.component.html
  ui/src/app/configuration/dialog/certificate-details/certificate-details-dialog.component.ts
Labels: java, ui, backend

#3741 feat(#3725): Support public dashboards
  streampipes-model-client/src/main/java/org/apache/streampipes/model/client/user/Permission.java
  streampipes-resource-management/src/main/java/org/apache/streampipes/resource/management/PermissionResourceManager.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/dashboard/DataLakeDashboardResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/datalake/KioskDashboardDataLakeResource.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/security/SpPermissionEvaluator.java
  streampipes-service-core/src/main/java/org/apache/streampipes/service/core/UnauthenticatedInterfaces.java
  streampipes-user-management/src/main/java/org/apache/streampipes/user/management/util/GrantedPermissionsBuilder.java
  ui/projects/streampipes/platform-services/src/lib/apis/dashboard-kiosk.service.ts
  ui/projects/streampipes/platform-services/src/lib/apis/datalake-rest.service.ts
  ui/projects/streampipes/platform-services/src/lib/model/gen/streampipes-model-client.ts
  ui/projects/streampipes/platform-services/src/lib/query/data-view-query-generator.service.ts
  ui/projects/streampipes/platform-services/src/public-api.ts
  ui/src/app/connect/components/existing-adapters/existing-adapters.component.html
  ui/src/app/core-ui/object-permission-dialog/object-permission-dialog.component.html
  ui/src/app/core-ui/object-permission-dialog/object-permission-dialog.component.scss
  ui/src/app/core-ui/object-permission-dialog/object-permission-dialog.component.ts
  ui/src/app/dashboard-kiosk/components/kiosk/dashboard-kiosk.component.html
  ui/src/app/dashboard-kiosk/components/kiosk/dashboard-kiosk.component.ts
  ui/src/app/dashboard-shared/components/chart-view/abstract-chart-view.directive.ts
  ui/src/app/dashboard-shared/components/chart-view/grid-view/dashboard-grid-view.component.html
  ui/src/app/dashboard-shared/components/chart-view/slide-view/dashboard-slide-view.component.html
  ui/src/app/dashboard-shared/components/chart-view/slide-view/dashboard-slide-view.component.ts
  ui/src/app/dashboard/components/overview/dashboard-overview-table/dashboard-overview-table.component.html
  ui/src/app/dashboard/components/overview/dashboard-overview-table/dashboard-overview-table.component.ts
  ui/src/app/dashboard/components/overview/dashboard-overview.component.ts
  ui/src/app/dashboard/components/panel/dashboard-panel.component.html
  ui/src/app/dashboard/components/panel/dashboard-panel.component.ts
  ui/src/app/data-explorer-shared/components/chart-container/data-explorer-chart-container.component.html
  ui/src/app/data-explorer-shared/components/chart-container/data-explorer-chart-container.component.ts
  ui/src/app/data-explorer-shared/components/charts/base/base-data-explorer-widget.directive.ts
  ui/src/app/data-explorer-shared/models/dataview-dashboard.model.ts
  ui/src/app/data-explorer-shared/services/data-explorer-shared.service.ts
  ui/src/app/data-explorer/components/chart-view/data-explorer-chart-view.component.html
  ui/src/app/data-explorer/components/chart-view/data-explorer-chart-view.component.ts
  ui/src/app/data-explorer/components/overview/data-explorer-overview-table/data-explorer-overview-table.component.html
  ui/src/app/pipelines/pipelines.component.html
Labels: java, ui, backend

#3746 feat(#3733): Create API endpoint to upload time series data
  streampipes-client-python/streampipes/endpoint/api/data_lake_measure.py
  streampipes-client-python/streampipes/model/resource/query_result.py
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/datalake/DataLakeDataWriter.java
  streampipes-rest/src/main/java/org/apache/streampipes/rest/impl/datalake/DataLakeResource.java
Labels: java, python, backend

#3750 feat: Improve asset browser layout
  ui/projects/streampipes/shared-ui/src/lib/components/asset-browser/asset-browser-hierarchy/asset-browser-hierarchy.component.html
  ui/projects/streampipes/shared-ui/src/lib/components/asset-browser/asset-browser-hierarchy/asset-browser-hierarchy.component.ts
  ui/projects/streampipes/shared-ui/src/lib/components/asset-browser/asset-browser-toolbar/asset-browser-filter/asset-browser-filter-labels/asset-browser-filter-labels.component.html
  ui/projects/streampipes/shared-ui/src/lib/components/asset-browser/asset-browser.component.html
  ui/projects/streampipes/shared-ui/src/lib/components/asset-browser/asset-browser.component.ts
  ui/src/app/dashboard-kiosk/components/kiosk/dashboard-kiosk.component.scss
Labels: ui

#3755 fix(3730): fixed various colors and styles
  ui/src/app/core/components/toolbar/toolbar.component.html
  ui/src/app/core/components/toolbar/toolbar.component.scss
  ui/src/app/dashboard/components/chart-view/grid-view/dashboard-grid-view.component.scss
  ui/src/app/dashboard/components/panel/chart-selection-panel/chart-selection/chart-preview/chart-preview.component.scss
  ui/src/app/data-explorer/components/chart-view/designer-panel/data-settings/data-explorer-widget-data-settings.component.scss
  ui/src/app/home/components/status.component.scss
  ui/src/app/home/home.component.scss
  ui/src/scss/sp/_variables.scss
Labels: ui
