Repository apache/streampipes, pull requests merged in 2025-06, with the labels that each got.

#3640 Switch Operator Processors
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/TransformationExtensionModuleExport.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/processor/switchoperator/AbstractSwitchOperatorProcessor.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/processor/switchoperator/IStreamPipesSwitchProcessor.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/processor/switchoperator/LogicalOperator.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/processor/switchoperator/NumericalSwitchCaseEntry.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/processor/switchoperator/README.md
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/processor/switchoperator/SwitchCaseEntry.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/processor/switchoperator/booleaninput/SwitchOperatorBooleanInputProcessor.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/processor/switchoperator/numericalinput/SwitchOperatorNumericalInputProcessor.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/java/org/apache/streampipes/processors/transformation/jvm/processor/switchoperator/stringinput/SwitchOperatorStringInputProcessor.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/resources/org.apache.streampipes.processors.transformation.jvm.switchoperator.boolean/documentation.md
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/resources/org.apache.streampipes.processors.transformation.jvm.switchoperator.boolean/icon.png
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/resources/org.apache.streampipes.processors.transformation.jvm.switchoperator.boolean/strings.en
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/resources/org.apache.streampipes.processors.transformation.jvm.switchoperator.numerical/documentation.md
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/resources/org.apache.streampipes.processors.transformation.jvm.switchoperator.numerical/icon.png
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/resources/org.apache.streampipes.processors.transformation.jvm.switchoperator.numerical/strings.en
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/resources/org.apache.streampipes.processors.transformation.jvm.switchoperator.string/documentation.md
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/resources/org.apache.streampipes.processors.transformation.jvm.switchoperator.string/icon.png
  streampipes-extensions/streampipes-processors-transformation-jvm/src/main/resources/org.apache.streampipes.processors.transformation.jvm.switchoperator.string/strings.en
  streampipes-extensions/streampipes-processors-transformation-jvm/src/test/java/org/apache/streampipes/processors/transformation/jvm/processor/switchoperator/booleaninput/TestSwitchOperatorBooleanInputProcessor.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/test/java/org/apache/streampipes/processors/transformation/jvm/processor/switchoperator/numericalinput/TestSwitchOperatorNumericalInputProcessor.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/test/java/org/apache/streampipes/processors/transformation/jvm/processor/switchoperator/stringinput/TestSwitchOperatorStringInputProcessor.java
  streampipes-extensions/streampipes-processors-transformation-jvm/src/test/java/org/apache/streampipes/processors/transformation/jvm/processor/value/change/TestChangedValueDetectionProcessor.java
Labels: java, pipeline elements, backend, documentation, testing

#3645 chore(#3644): remove cypress-file-upload dependency and update file upload method
  ui/cypress/support/e2e.ts
  ui/cypress/support/utils/FileManagementUtils.ts
  ui/package-lock.json
  ui/package.json
Labels: dependencies, ui, testing

#3650 refactor: QdrantSink to use IStreamPipesDataSink instead of StreamPipesDataSink
  streampipes-extensions/streampipes-sinks-databases-jvm/src/main/java/org/apache/streampipes/sinks/databases/jvm/qdrant/QdrantSink.java
Labels: java, pipeline elements, backend

#3656 refactor(#3651): Update WelfordChangeDetection to implement IStreamPipesDataProcessor interface
  streampipes-extensions/streampipes-processors-change-detection-jvm/src/main/java/org/apache/streampipes/processors/changedetection/jvm/welford/WelfordChangeDetection.java
Labels: java, pipeline elements, backend

#3657 refactor(#3654): Update MultiModelPromptProcessor to implement IStreamPipesDataProcessor interface
  streampipes-extensions/streampipes-processors-llm-jvm/src/main/java/org/apache/streampipes/processors/llm/jvm/processor/multimodel/MultiModelPromptProcessor.java
Labels: java, pipeline elements, backend

#3658 feat: Add adapter API to StreamPipes client
  streampipes-client-api/src/main/java/org/apache/streampipes/client/api/IAdapterApi.java
  streampipes-client-api/src/main/java/org/apache/streampipes/client/api/IStreamPipesClient.java
  streampipes-client/src/main/java/org/apache/streampipes/client/StreamPipesClient.java
  streampipes-client/src/main/java/org/apache/streampipes/client/api/AdapterApi.java
Labels: java, backend

#3668 fix(#3667): Enhance handling of AnyStaticProperty and RuntimeResolvableAnyStaticProperty in PipelineElementTemplateVisitor
  streampipes-pipeline-management/src/main/java/org/apache/streampipes/manager/template/PipelineElementTemplateVisitor.java
Labels: java, backend

#3671 fix(#3670): Downgrade Kafka Docker image version to 7.9.1
  streampipes-integration-tests/src/test/java/org/apache/streampipes/integration/containers/KafkaContainer.java
Labels: java, backend, testing

#3673 fix(#3672): Fix null pointer when property scope is not set properly
  streampipes-extensions/streampipes-sinks-internal-jvm/src/main/java/org/apache/streampipes/sinks/internal/jvm/datalake/DataLakeSink.java
Labels: java, pipeline elements, backend

#3674 feat: add icons and description to chart type dropdown
  ui/deployment/_variables.scss
  ui/src/app/data-explorer-shared/models/dataview-dashboard.model.ts
  ui/src/app/data-explorer-shared/registry/data-explorer-chart-registry.ts
  ui/src/app/data-explorer/components/chart-view/designer-panel/visualisation-settings/data-explorer-visualisation-settings.component.html
  ui/src/app/data-explorer/components/chart-view/designer-panel/visualisation-settings/data-explorer-visualisation-settings.component.scss
Labels: ui

#3680 fix(#3679): add support for data type changes in AdapterBuilder and related classes
  ui/cypress/support/builder/AdapterBuilder.ts
  ui/cypress/support/model/AdapterInput.ts
  ui/cypress/support/model/DataExplorerWidget.ts
  ui/cypress/support/model/DataTypeString.ts
  ui/cypress/support/model/EventPropertyInput.ts
  ui/cypress/support/model/PropertyDataTypeChange.ts
  ui/cypress/support/utils/connect/ConnectEventSchemaUtils.ts
  ui/cypress/support/utils/connect/ConnectUtils.ts
  ui/cypress/tests/datalake/filterNumericalStringProperties.spec.ts
Labels: ui, testing

#3681 fix: Add exception handling for failing preprocessing rules
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/connect/AdapterWorkerManagement.java
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/connect/adapter/model/EventCollector.java
  streampipes-extensions-management/src/main/java/org/apache/streampipes/extensions/management/monitoring/ExtensionsLogger.java
Labels: java, backend
